<%= render :partial => 'nav' %>

<table class="topalign table table-bordered table-striped">
  <thead>
    <tr class="contain-align-left">
      <th>
	uuid
      </th><th>
	created
      </th><th>
	protected
      </th><th>
	projects
      </th><th>
	origin
      </th>
    </tr>
  </thead>
  <tbody>

    <% @collections.values.sort_by { |c| c[:created_at] || Time.now }.reverse.each do |c| %>

    <tr class="collection">
      <td>
	<%= link_to_if_orvos_object c[:uuid] %>
      </td><td>
	<%= raw(distance_of_time_in_words(c[:created_at], Time.now).sub('about ','~').sub(' ','&nbsp;')) if c[:created_at] %>
      </td><td>
	<%= ('Y' if c[:wanted_by_me]) or ('y' if c[:wanted]) %>
      </td><td>
	<%= c[:projects].size if c[:projects] %>
      </td><td>
	<% if c[:origin] %>
	<span class="deemphasize"><%= c[:origin].name %></span>
	<%= c[:origin].head_uuid %>
	<% end %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>
