<table style="width:100%">
  <tr class="contain-align-left">
    <th>
      collection
    </th><th>
      specimen
    </th><th>
      project
    </th><th>
      data size
    </th><th>
      notified at
    </th>
  </tr>

  <% @objects.each do |collection| %>

  <% file_info_md = Metadatum.by_tail(collection, metadata_class: 'data_origin', name: 'upload_notified_at') %>

  <% Metadatum.by_tail(collection, metadata_class: 'data_origin', name: 'derived_from').collect(&:head).compact.map { |s| Specimen.find(s) }.each do |specimen| %>

  <% specimen_ext_ids = Metadatum.by_tail(specimen, metadata_class: 'identifier', name: 'external_id').collect(&:head) %>

  <% Metadatum.by_tail(specimen, metadata_class: 'group', name: 'member_of').collect(&:head).compact.map { |p| Project.find(p) }.each do |project| %>

  <tr class="collection-status collection-status-<%= collection.uuid %>" data-showhide-selector="tr#extra-info-<%= collection.uuid %>" style="cursor:pointer">
    <td>
      <%= collection.uuid %>
    </td><td>
      <%= specimen.uuid %>
      <% specimen_ext_ids.each do |x| %>
      <br />
      <strong><%= x %></strong>
      <% end %>
    </td><td>
      <%= project.name %>
    </td><td>
      <% file_info_md.each do |fi| %>
      <strong><%= number_to_human_size(fi.info[:file_sizes].inject(0) { |s,x| s += x.to_i }) rescue nil %></strong> (<%= fi.head %>)
      <br />
      <% end %>
    </td><td>
      <%= file_info_md.collect &:head %>
    </td>
  </tr>

  <% if file_info_md.size > 0 %>
  <tr id="extra-info-<%= collection.uuid %>" data-showhide-default>
    <td colspan="5">
      <dl>
      <% file_info_md.collect(&:info).each do |k,v| %>
      <dt><em><%= k %></em></dt>
      <dd><%= v %></dd>
      <% end %>
      </dl>
    </td>
  </tr>

  <% end %>
  <% end %>
  <% end %>
  <% end %>
</table>
