<div>
  <p>
    For more information see <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; SSH access'),
  "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html",
  target: "_blank"%>.  A sample <i>~/.ssh/config</i> entry is provided below.
  </p>

  <% if !@my_virtual_machines.any? %>
    <div id='no_shell_access' class='no_shell_access'>
      <div id='shell_access_requested' class='shell_access_requested'>
        <div class="alert alert-info">
          <p class="contain-align-left">You do not have access to any virtual machines. A request was sent on your behalf.</p>
        </div>
      </div>

      <div id='no_shell_access_msg' class='no_shell_access_msg'>
        You do not have access to any virtual machines. Many of the Arvados features depend on having shell access to a hosted VM.
        &nbsp;&nbsp;&nbsp;
        <div style='display:inline-block'>
          <%= button_to('Request shell access', request_shell_access_user_url(id: current_user.uuid),
                         id: 'request_shell_submit', class: 'btn btn-xs btn-primary', remote: true) %>
        </div>
      </div>
    </div>
  <% else %>
    <script> clearLocalStorageValue('request_shell_access'); </script>
    <table class="table virtual-machines-table">
      <colgroup>
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 50%" />
      </colgroup>
      <thead>
        <tr>
          <th> Host name </th>
          <th> Login name </th>
          <th> Command line </th>
        </tr>
      </thead>
      <tbody>
        <% @my_virtual_machines.andand.each do |vm| %>
          <tr>
            <td style="word-break:break-all;">
              <%= vm[:hostname] %>
            </td>
            <td style="word-break:break-all;">
              <%= @my_vm_logins[vm[:uuid]].andand.compact.andand.join(", ") %>
            </td>
            <td style="word-break:break-all;">
              <% if @my_vm_logins[vm[:uuid]] %>
                <% @my_vm_logins[vm[:uuid]].each do |login| %>
                  <code>ssh&nbsp;<%= login %>@<%= vm[:hostname] %>.arvados</code>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><i>~/.ssh/config:</i></p>
    <pre>Host *.arvados
      TCPKeepAlive yes
      ServerAliveInterval 60
      ProxyCommand ssh -p2222 turnout@switchyard.<%= current_api_host || 'xyzzy.arvadosapi.com' %> -x -a $SSH_PROXY_FLAGS %h
    </pre>
  <% end %>
</div>
