<div class="col-sm-6">
  <div class="panel-group" id="arv-adv-accordion">
    <div class="panel panel-default">
      <%= render partial: "virtual_machines" %>
    </div>
    <div class="panel panel-default">
      <%= render partial: "repositories" %>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel-group" id="arv-adv-accordion">
    <div class="panel panel-default">
      <%= render partial: "ssh_keys" %>
    </div>
    <div class="panel panel-default">
      <%= render partial: "current_token" %>
    </div>
  </div>
  <div id="add-ssh-key-modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <%= render partial: "add_repository_modal" %>
</div>
