<div>
<h4>Add / Delete SSH Keys</h4>
  <% if !@my_ssh_keys.any? %>
     <p> You have not yet set up an SSH public key for use with Arvados. </p>
     <p>  <%= link_to "Click here to learn about SSH keys in Arvados.",
	          "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html", 
	          style: "font-weight: bold",
	          target: "_blank" %>       </p>
     <p> When you have an SSH key you would like to use, add it using the <b>Add</b> button. </p>
  <% end %>

  <table class="table virtual-machines-table">
    <colgroup>
      <col style="width: 95%" />
      <col style="width: 5%" />
    </colgroup>
    <tbody>
      <% @my_ssh_keys.andand.each do |key| %>
        <tr>
          <td style="word-break:break-all;">
            <%= key[:public_key] %>
          </td>
          <td>
            <%= link_to(authorized_key_path(id: key[:uuid]), method: 'delete', class: 'btn btn-sm', data: {confirm: "Really delete key"}) do %>
                <i class="fa fa-fw fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<div>
<h4>Setting up SSH access</h4>
<p>
Sample <code>~/.ssh/config</code>:
</p>

<pre>
Host *.arvados
  ProxyCommand ssh -p2222 turnout@switchyard.<%= current_api_host || 'xyzzy.arvadosapi.com' %> -x -a $SSH_PROXY_FLAGS %h
<% if @my_vm_logins.andand.first %>
  User <%= @my_vm_logins[@my_vm_logins.andand.keys.first].andand.first %>
<% end %>
</pre>

<p>
Sample login command:
</p>

<pre>
ssh <%= @my_virtual_machines.first.andand.hostname.andand.sub('.'+current_api_host,'') or 'vm-hostname' %>.arvados
</pre>

<p>
  See also:
  <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; SSH access'),
  "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html",
  target: "_blank"%>.
</p>
</div>
