<div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Profile
          </h4>
        </div>
        <div class="panel-body">
          <div>
            <%= form_tag update_profile_path, {method: 'get', id: 'save_profile_form', name: 'save_profile_form', class: 'form-horizontal', remote: true} do %>
            <% @profile_config.andand.each do |entry| %>
              <% 
                  label = entry['required'] ? '* ' : ''
                  label += entry['form_field_title']
                  value = @current_user_profile[entry['key'].to_sym] if @current_user_profile
              %>
                <div class="form-group">
                  <label for="<%=entry['key']%>"
                         class="col-sm-2 control-label"
                         style=<%="color:red" if entry['required']&&!value%>> <%=label%>
                  </label>
                  <% if entry['type'] == 'select' %>
                    <div class="col-sm-10">
                      <select class="form-control" id="<%=entry['key']%>" name="<%=entry['key']%>">
                        <% entry['options'].each do |option| %>
                          <option value="<%=option%>" <%='selected' if option==value%>><%=option%></option>
                        <% end %>
                      </select>
                    </div>
                  <% else %>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="<%=entry['key']%>" name="<%=entry['key']%>" placeholder="<%=entry['form_field_description']%>" value="<%=value%>" ></input>
                    </div>
                  <% end %>
                </div>
              <% end %>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save profile</button>
                  </div>
                </div>

              <% end %>
          </div>
        </div>
      </div>
</div>

