<div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Profile
          </h4>
        </div>
        <div class="panel-body">
          <div>
            <p>You can manage your profile using this page.
               Any feilds in <font style="color:red">red</font> are required and missing.
               Please fill in those fields before you can accesse Arvados Workbench.</p><br/>
          </div>
          <div>
            <%= form_tag update_profile_path, {method: 'get', id: 'save_profile_form', name: 'save_profile_form', class: 'form-horizontal', remote: true} do %>
              <div class="form-group">
                  <label for="email" class="col-sm-3 control-label"> Email </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="<%=current_user.email%>" disabled></input>
                  </div>
              </div>
              <div class="form-group">
                  <label for="first_name" class="col-sm-3 control-label"> First name </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name" value="<%=current_user.first_name%>" disabled></input>
                  </div>
              </div>
              <div class="form-group">
                  <label for="last_name" class="col-sm-3 control-label"> Last name </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" value="<%=current_user.last_name%>" disabled></input>
                  </div>
              </div>
              <div class="form-group">
                  <label for="identity_url" class="col-sm-3 control-label"> Identity URL </label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="identity_url" name="identity_url" placeholder="Identity URL" value="<%=@this_user.identity_url%>" disabled></input>
                  </div>
              </div>

              <% @profile_config.andand.each do |entry| %>
                <%
                    label = entry['required'] ? '* ' : ''
                    label += entry['form_field_title']
                    value = @current_user_profile[entry['key'].to_sym] if @current_user_profile
                %>
                <div class="form-group">
                  <label for="<%=entry['key']%>"
                         class="col-sm-3 control-label"
                         style=<%="color:red" if entry['required']&&!value%>> <%=label%>
                  </label>
                  <% if entry['type'] == 'select' %>
                    <div class="col-sm-9">
                      <select class="form-control" id="<%=entry['key']%>" name="<%=entry['key']%>">
                        <% entry['options'].each do |option| %>
                          <option value="<%=option%>" <%='selected' if option==value%>><%=option%></option>
                        <% end %>
                      </select>
                    </div>
                  <% else %>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="<%=entry['key']%>" name="<%=entry['key']%>" placeholder="<%=entry['form_field_description']%>" value="<%=value%>" ></input>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Save profile</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
</div>
