  <div class="modal-body">
    <% uuid = @object.uuid %>
    <% disable_email =  @object.uuid? %>
    <% identity_url_prefix = @current_selections[:identity_url_prefix] %>
    <% disable_url_prefix = (identity_url_prefix != nil) %>
    <% selected_repo = @current_selections[:repo_name] %>
    <% selected_vm = @current_selections[:vm_uuid] %>
    
    <%= form_tag setup_user_url(id: uuid), {id: 'setup_form', name: 'setup_form', method: 'get', class: 'form-search', remote: true, onSubmit: "validate(); return false;"} do %>    
      <div>
        <table><tbody>
          <tr>
            <% if disable_email %>
              <td> Email </td>
              <td> <input id="email" maxlength="250" name="email" type="text" value="<%=@object.email%>" disabled=true > </td>
            <% else %>
              <td> Email </td>
              <td> <input id="email" maxlength="250" name="email" type="text" > </td>
            <% end %>
          </tr>
          <tr>
            <% if disable_url_prefix %>
              <td> Identity URL Prefix &nbsp </td>
              <td> <input id="openid_prefix" maxlength="250" name="openid_prefix" type="text" value="<%=identity_url_prefix%>" disabled=true > </td>
            <% else %>
              <td> Openid Prefix </td>
              <td> <input id="openid_prefix" maxlength="250" name="openid_prefix" type="text" value="https://www.google.com/accounts/o8/id"> </td>
            <% end %>
          </tr>
          <tr>
            <td> Repository Name </td>
            <td> <input id="repo_name" maxlength="250" name="repo_name" type="text" value="<%=selected_repo%>">
          </tr>
          <tr>
            <td> Virtual Machine </td>
            <td>
              <select name="vm_uuid">
                <% if selected_vm %>
                  <option value=""> Choose One: </option>
                <% else %>
                  <option value="" selected> Choose One: </option>
                <% end %>
                <% @vms.each do |vm| %>
                  <% if selected_vm == vm.uuid %>
                    <option value=<%=vm.uuid%> selected> <%=vm.hostname%> </option>
                  <% else %> 
                    <option value=<%=vm.uuid%> > <%=vm.hostname%> </option>
                  <% end %>
                <% end %>
              </select>
            </td>
          </tr>
        </tbody></table>
      </div>
      <div align="center">
        <br/>
        <button type="submit" id="register" class="btn btn-primary" autofocus>Submit</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    <% end %>
  </div>

<script>
  var $input = $('input:text'),
  $register = $('#register');    
  $register.attr('disabled', true);

  $input.keyup(function() {
    var trigger = false;
    $input.each(function() {
        if (!$(this).val()) {
            trigger = true;
        }
    });
    trigger ? $register.attr('disabled', true) : $register.removeAttr('disabled');
  });
</script>
