<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% content_for :css do %>
table#users-activity-table th {
    overflow-x: hidden;
}
table#users-activity-table .cell-for-span-This-month,
table#users-activity-table .cell-for-span-Last-month {
    background: #eee;
}
<% end %>
<table class="table table-condensed arv-index" id="users-activity-table">
  <colgroup>
    <col width="28%" />
  </colgroup>
  <% @spans.each do |_| %>
  <colgroup>
    <% 3.times do %>
    <col width="<%= (72 / @spans.count / 3).floor %>%" />
    <% end %>
  </colgroup>
  <% end %>

  <tr>
    <th scope="col" rowspan="2">User</th>
    <% @spans.each do |span, start_at, end_at| %>
    <th scope="col" colspan="3" class="cell-for-span-<%= span.gsub ' ','-' %>">
      <%= span %>
      <br />
      <%= start_at.strftime('%b %-d') %>
      -
      <%= (end_at-1.second).strftime('%b %-d') %>
    </th>
    <% end %>
  </tr>
  <tr>
    <% @spans.each do |span, _| %>
    <th scope="col" class="cell-for-span-<%= span.gsub ' ','-' %>">Logins</th>
    <th scope="col" class="cell-for-span-<%= span.gsub ' ','-' %>">Jobs</th>
    <th scope="col" class="cell-for-span-<%= span.gsub ' ','-' %>">Pipelines</th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <small>
        <% if user.uuid %>
        <%= link_to_if_arvados_object user, friendly_name: true %>
        <% else %>
        <b>Total</b>
        <% end %>
      </small>
    </td>

    <% @spans.each do |span, _| %>
    <% ['logins', 'jobs', 'pipeline_instances'].each do |type| %>
    <td class="cell-for-span-<%= span.gsub ' ','-' %>">
      <small>
        <%= @user_activity[user.uuid][span + " " + type].to_s %>
      </small>
    </td>
    <% end %>
    <% end %>
  </tr>
  <% end %>
</table>

<% content_for :footer_js do %>
$('#users-activity-table td small').each(function(){
  if ($(this).html().trim() == '0')
    $(this).css('opacity', '0.3');
});
<% end %>
