<% content_for :head do %>
    <style>
      .dash-list {
        padding: 9px 0;
      }
      .dash-list>ul>li>a>span {
      min-width: 1.5em;
      margin-left: auto;
      margin-right: auto;
      }
      .job-table td {
      overflow-x: hidden;
      }
      .centerme {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      }
      .bigfatnumber {
      font-size: 4em;
      font-weight: bold;
      }
    </style>
<% end %>

<% if current_user.andand.is_active %>
<div class="row-fluid">
  <div class="col span12">
    <div class="clearfix">
      <h4>Account summary</h4>
      <div class="well clearfix">
        <% [Human, Trait, Collection, 'File', PipelineTemplate, PipelineInstance].each do |aclass| %>
        <div class="col span2 centerme">
          <span class="bigfatnumber">
            <% if aclass == 'File' %>
            <%= Collection.limit(4000).where({}).collect(&:files).flatten(1).count %>
            <% else %>
            <%= aclass.limit(4000).where({}).count %>
            <% end %>
          </span>
          <br />
          <%= raw(aclass.to_s.pluralize.underscore.gsub '_', '&nbsp;') %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row-fluid">
  <div class="col span3">
    <div class="clearfix">
      <% if not current_user.andand.is_active %>
      <%= render partial: 'request_activation' %>
      <% else %>
      <h4>Configuration</h4>
      <div class="well dash-list">
        <ul class="nav nav-list">
          <li class="clearfix">
            <a href="<%= authorized_keys_path %>">
              <span class="pull-left"><%= raw '&#x2714;' if @my_ssh_keys.any? %>&nbsp;</span>
              SSH keys
              <span class="pull-right"><%= @my_ssh_keys.count %></span>
            </a>
          </li>
          <li class="clearfix">
            <a href="<%= virtual_machines_path %>">
              <span class="pull-left"><%= raw '&#x2714;' if @my_vm_perms.any? %>&nbsp;</span>
              Virtual machines
              <span class="pull-right"><%= @my_vm_perms.collect(&:head_uuid).uniq.count %></span>
            </a>
          </li>
          <li class="clearfix">
            <a href="<%= repositories_path %>">
              <span class="pull-left"><%= raw '&#x2714;' if @my_repo_perms.any? %>&nbsp;</span>
              Repositories
              <span class="pull-right"><%= @my_repo_perms.collect(&:head_uuid).uniq.count %></span>
            </a>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col span4">
    <div class="clearfix">
      <h4>Quick links</h4>
      <div class="well dash-list">
        <ul class="nav nav-list">
          <li><%= link_to "Introduction to Arvados", "https://arvados.org/projects/arvados/wiki/Introduction_to_Arvados" %></li>
          <li><%= link_to "API Reference", "http://doc.arvados.org/api/" %></li>
          <li><%= link_to "User Guide", "http://doc.arvados.org/api/" %></li>
          <li><%= link_to "Tutorial 1: Your first job", "http://doc.arvados.org/user/tutorial-job1.html" %></li>
          <li><%= link_to "Tutorial 2: GATK VariantFiltration", "http://doc.arvados.org/user/tutorial-gatk-variantfiltration.html" %></li>
          <li><%= link_to "Tutorial 3: Search PGP data by trait", "http://doc.arvados.org/user/tutorial-trait-search.html" %></li>
          <li><%= link_to "Tutorial 4: Create a new pipeline", "http://doc.arvados.org/user/tutorial-new-pipeline.html" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col span5">
    <div class="clearfix">
      <h4>Recent jobs</h4>
      <% if not current_user.andand.is_active or @my_jobs.empty? %>
      (None)
      <% else %>
      <table class="table table-bordered table-condensed job-table">
        <% @my_jobs[0..8].each do |j| %>
        <tr>
          <td>
            <small>
              <%= link_to j.script[0..31], job_path(j.uuid) %>
            </small>
          </td>
          <td>
            <small>
              <%= j.script_version[0..7] %>
            </small>
          </td>
          <td>
            <small>
              <%= j.script_parameters.andand[:input].andand.to_s.andand[0..7] %>
            </small>
          </td>
          <td>
            <% if j.success %>
            <span class="label label-success">finished</span>
            <% elsif j.success == false %>
            <span class="label label-danger">failed</span>
            <% elsif j.running and j.started_at and not j.finished_at %>
            <% percent_total_tasks = 100 / (j.tasks_summary[:running] + j.tasks_summary[:done] + j.tasks_summary[:todo]) rescue 0 %>
            <div class="progress" style="margin-bottom: 0">
              <div class="bar bar-success" style="width: <%= j.tasks_summary[:done] * percent_total_tasks rescue 0 %>%;"></div>
              <div class="bar" style="width: <%= j.tasks_summary[:running] * percent_total_tasks rescue 0 %>%; opacity: 0.3"></div>
            </div>
            <% else %>
            <span class="label">queued</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <%= link_to raw("Show more jobs / details &rarr;"), jobs_path, class: 'pull-right' %>
      <% end %>
    </div>
  </div>
</div>
