<% content_for :breadcrumbs do raw '<!-- -->' end %>

<div class="row">
  <div class="col-sm-8 col-sm-push-4" style="margin-top: 1em">
    <div class="well clearfix">
      <%= image_tag "dax.png", style: "width: 147px; height: 197px; max-width: 25%; margin-right: 2em", class: 'pull-left' %>

      <h3>Please log in.</h3>

      <p>

        The "Log in" button below will show you a Google sign-in page.
	After you assure Google that you want to log in here with your
	Google account, you will be redirected back here to
	<%= Rails.configuration.site_name %>.

      </p><p>

	If you have never used <%= Rails.configuration.site_name %>
	before, logging in for the first time will automatically
	create a new account.

      </p><p>

        <i><%= Rails.configuration.site_name %> uses your name and
	  email address only for identification, and does not retrieve
	  any other personal information from Google.</i>

      </p>
      <p>
        <!-- <%= arvados_api_client.arvados_login_url %> -->
        <%= form_tag(arvados_api_client.arvados_login_url(), :method => :get, :authenticity_token => false) do %>
          <%= hidden_field_tag 'return_to', request.url %>
          <div class="row pull-right">
          <%= select_tag "auth_method", "<option value='google'>Google OpenID</option><option value='google_oauth2'>Google OAuth2</option>".html_safe, class: "form-control", style: "width: 15em; display: inline" %>
	  <%= button_tag class: "btn btn-primary" do %>
            Log in to <%= Rails.configuration.site_name %> <i class="fa fa-fw fa-arrow-circle-right"></i>
          <% end %>
        </div>
        <% end %>
      </p>
    </div>
  </div>
</div>
