<% content_for :breadcrumbs do raw '<!-- -->' end %>

<div class="row">
  <div class="col-sm-8 col-sm-push-4" style="margin-top: 1em">
    <div class="well clearfix">
      <%= image_tag "dax.png", style: "width: 112px; height: 150px; margin-right: 2em", class: 'pull-left' %>

      <h3 style="margin-top:0">Please log in.</h3>

      <p>

        The "Log in" button below will show you a Google sign-in page.
        After you assure Google that you want to log in here with your
        Google account, you will be redirected back here to
        <%= Rails.configuration.site_name %>.

      </p><p>

        If you have never used <%= Rails.configuration.site_name %>
        before, logging in for the first time will automatically
        create a new account.

      </p><p>

        <i><%= Rails.configuration.site_name %> uses your name and
          email address only for identification, and does not retrieve
          any other personal information from Google.</i>

      </p>
        <%# Todo: add list of external authentications providers to
            discovery document, then generate the option list here. Right
            now, don't provide 'auth_provider' to get the default one. %>
        <div class="pull-right">
          <%= link_to arvados_api_client.arvados_login_url(return_to: request.url), class: "btn btn-primary" do %>
          Log in to <%= Rails.configuration.site_name %>
          <i class="fa fa-fw fa-arrow-circle-right"></i>
          <% end %>
        </div>
    </div>
  </div>
</div>
