<% content_for :breadcrumbs do raw '<!-- -->' end %>

<%= image_tag "dax.png", style: "float: left; max-width: 25%; margin-right: 2em" %>
<h1>Hi there!  Please log in to use <%= Rails.configuration.site_name %>.</h1>
<div class="row-fluid">
  <div class="col span8" style="margin-top: 1em">
    <div class="well clearfix">
      <p>When you click on the button below you will be taken to a Google sign-in page.
	After entering your information, you will be redirected back to <%= Rails.configuration.site_name %>
	If you have never used <%= Rails.configuration.site_name %> before, logging in for the first
	time will also create a new user account. <%= Rails.configuration.site_name %> uses your name and
	email address from Google services only for identification, and can not access any personal information
  beyond that.
  </p>
      <p>
	<a  class="pull-right btn btn-primary" href="<%= arvados_api_client.arvados_login_url(return_to: request.url) %>">
	  Click here to log in to <%= Rails.configuration.site_name %> with a Google account</a>
      </p>
    </div>
  </div>
</div>


