<div class="container-fluid arv-folder-list">
  <% tree.each do |foldernode| %>
    <% rowtype = foldernode[:object].class %>
    <% next if rowtype != Group and !show_root_node %>
    <div class="<%= 'folder' if rowtype == Group %> row">
      <div class="col-md-12" style="padding-left: <%= foldernode[:depth] - (show_root_node ? 0 : 1) %>em;">
        <% if show_root_node and rowtype == String %>
          <i class="fa fa-fw fa-folder-open-o"></i>
          <%= foldernode[:object] %>
        <% elsif show_root_node and rowtype == User %>
          <% if foldernode[:object].uuid == current_user.andand.uuid %>
            <i class="fa fa-fw fa-folder-open-o"></i>
            My Folders
          <% else %>
            <i class="fa fa-fw fa-folder-o"></i>
            <%= foldernode[:object].friendly_link_name %>
          <% end %>
        <% elsif rowtype == Group %>
          <i class="fa fa-fw fa-folder-o"></i>
          <% opts = {} %>
          <% opts[:title] = foldernode[:object].description %>
          <% opts[:'data-toggle'] = 'tooltip' %>
          <% opts[:'data-placement'] = 'bottom' %>
          <%= link_to foldernode[:object], opts do %>
            <%= foldernode[:object].friendly_link_name %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
