<div class="row row-fill-height">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <%= render_editable_attribute @object, 'name', nil, { 'data-emptytext' => "New folder" } %>
	</h3>
      </div>
      <div class="panel-body">
        <img src="/favicon.ico" class="pull-right" alt="" style="opacity: 0.3"/>
	<p>
	  <%= render_editable_attribute @object, 'description', nil, { 'data-emptytext' => "Created: #{@object.created_at.to_s(:long)}", 'data-toggle' => 'manual', 'id' => "#{@object.uuid}-description" } %>
	</p>
        <% if @object.attribute_editable? 'description' %>
	<a href="#" class="btn btn-xs btn-info" data-toggle="x-editable" data-toggle-selector="#<%= @object.uuid %>-description">Edit description</a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  Activity
	</h3>
      </div>
      <div class="panel-body">
        <!--
	<input type="text" class="form-control" placeholder="Search"/>
        -->
	<div style="height:0.5em;"></div>
        <% @logs[0..2].each do |log| %>
	<p>
	  <%= time_ago_in_words(log.event_at) %> ago: <%= log.summary %>
          <% if log.object_uuid %>
          <%= link_to_if_arvados_object log.object_uuid, link_text: raw('<i class="fa fa-hand-o-right"></i>') %>
          <% end %>
	</p>
        <% end %>
        <% if @logs.any? %>
	<%= link_to raw('Show all activity &nbsp; <i class="fa fa-hand-o-right"></i>'),
            logs_path(filters: [['object_uuid','=',@object.uuid]]),
            class: 'btn btn-sm btn-info' %>
        <% else %>
        <p>
          Created: <%= @object.created_at.to_s(:long) %>
        </p>
        <p>
          Last modified: <%= @object.modified_at.to_s(:long) %> by <%= link_to_if_arvados_object @object.modified_by_user_uuid, friendly_name: true %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  Sharing and permissions
	</h3>
      </div>
      <div class="panel-body">
        <!--
	<input type="text" class="form-control" placeholder="Search"/>
        -->
	<div style="height:0.5em;"></div>
        <p>Owner: <%= link_to_if_arvados_object @object.owner_uuid, friendly_name: true %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card arvados-object">
    <div class="card-top green">
      <a href="#">
        <img src="/favicon.ico" alt=""/>
      </a>
    </div>
    <div class="card-info">
      <a class="title" href="#">Test dataset</a>
      <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
    <div class="card-bottom">
      <button class="btn btn-default btn-block">Show details</button>
    </div>
  </div>

  <div class="card arvados-object">
    <div class="card-top green">
      <a href="#">
        <img src="/favicon.ico" alt=""/>
      </a>
    </div>
    <div class="card-info">
      <a class="title" href="#">GATK Exome Pipeline</a>
      <div class="desc">exome p.e. fastq -&gt; vcf</div>
    </div>
    <div class="card-bottom">
      <button class="btn btn-default btn-block">Show details</button>
    </div>
  </div>

  <div class="card arvados-object">
    <div class="card-top blue">
      <a href="#">
        <img src="/favicon.ico" alt=""/>
      </a>
    </div>
    <div class="card-info">
      <a class="title" href="#">Reference result</a>
      <div class="desc">Known good -- checked concordance against other datasets</div>
    </div>
    <div class="card-bottom">
      <button class="btn btn-default btn-block">Show details</button>
    </div>
  </div>

  <div class="card arvados-object">
    <div class="card-top blue">
      <a href="#">
        <img src="/favicon.ico" alt=""/>
      </a>
    </div>
    <div class="card-info">
      <a class="title" href="#">Some other thing</a>
      <div class="desc">(Objects that are "starred" appear in this area)</div>
    </div>
    <div class="card-bottom">
      <button class="btn btn-default btn-block">Show details</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title" style="vertical-align:middle;">
              Contents
            </h3>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-sm pull-right">
              <input type="text" class="form-control" placeholder="Search folder contents"/>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
        </p>
        <table class="table">
          <tbody>
            <colgroup>
              <col width="30%" />
              <col width="20%" />
              <col width="20%" />
              <col width="30%" />
            </colgroup>
            <% @objects.each do |object| %>
            <tr>
              <td>
                <% name_link = @objects.links_for(object, 'name').first || Link.new(link_class: "name", owner_uuid: @object.uuid, tail_uuid: @object.uuid, head_uuid: object.uuid, name: "") %>
                <%= render_editable_attribute name_link, 'name', nil, { 'data-emptytext' => "Unnamed #{object.class}" } %>
              </td>
              <td>
                <%= object.content_summary %>
              </td>
              <td title="<%= object.modified_at %>">
                <span>
                  <%= raw distance_of_time_in_words(object.modified_at, Time.now).sub('about ','~').sub(' ','&nbsp;') + '&nbsp;ago' rescue object.modified_at %>
                </span>
              </td>
              <td class="arvados-uuid">
                <%= link_to_if_arvados_object(object, {no_tags: true}) %>
              </td>
            </tr>
            <% end %>
          </tbody>
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
              </th>
              <th>
                Modified
              </th>
              <th>
                UUID
              </th>
            </tr>
          </thead>
        </table>
        <p></p>
      </div>
    </div>
  </div>
</div>
