<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%= render partial: "paging", locals: {results: @groups, object: @object} %>

<table class="table table-hover">
  <thead>
    <tr class="contain-align-left">
      <th>
	Group
      </th><th>
	Owner
      </th><th>
	Incoming permissions
      </th><th>
	Outgoing permissions
      </th><th>
	<!-- column for delete buttons -->
      </th>
    </tr>
  </thead>
  <tbody>

    <% @groups.sort_by { |g| g[:created_at] }.reverse.each do |g| %>

    <tr>
      <td>
        <%= link_to_if_arvados_object g, friendly_name: true %>
      </td><td>
        <%= link_to_if_arvados_object g.owner_uuid, friendly_name: true %>
      </td><td>
        <%= @links_to.select { |x| x.head_uuid == g.uuid }.collect(&:tail_uuid).uniq.count %>
      </td><td>
        <%= @links_from.select { |x| x.tail_uuid == g.uuid }.collect(&:head_uuid).uniq.count %>
      </td><td>
        <%= render partial: 'delete_object_button', locals: {object:g} %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<%= render partial: "paging", locals: {results: @groups, object: @object} %>
