<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>

<table class="table table-condensed arv-index">
  <colgroup>
    <col width="10%" />
    <col width="10%" />
    <col width="25%" />
    <col width="40%" />
    <col width="15%" />
  </colgroup>

  <thead>
    <tr class="contain-align-left">
      <th></th>
      <th></th>
      <th> name </th>
      <th> description </th>
      <th> owner </th>
    </tr>
  </thead>

  <tbody>
    <% @objects.sort_by { |ob| ob[:created_at] }.reverse.each do |ob| %>
      <tr>
        <td>
          <%= button_to(choose_projects_path(id: "run-workflow-button",
                                             title: 'Choose project',
                                             editable: true,
                                             action_name: 'Choose',
                                             action_href: work_units_path,
                                             action_method: 'post',
                                             action_data: {'selection_param' => 'work_unit[owner_uuid]',
                                                           'work_unit[template_uuid]' => ob.uuid,
                                                           'success' => 'redirect-to-created-object'
                                                          }.to_json),
                  { class: "btn btn-default btn-xs", title: "Run #{ob.name}", remote: true, method: :get }
              ) do %>
                 <i class="fa fa-fw fa-play"></i> Run
          <% end %>
        </td>

        <td>
          <%= render :partial => "show_object_button", :locals => {object: ob, size: 'xs'} %>
        </td>

        <td>
          <%= render_editable_attribute ob, 'name' %>
        </td>

        <td>
          <% if ob.description %>
            <%= render_attribute_as_textile(ob, "description", ob.description, false) %>
            <br />
          <% end %>
        </td>

        <td>
          <%= link_to_if_arvados_object ob.owner_uuid, friendly_name: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>
