<table style="width:100%">
  <tr class="contain-align-left">
    <th>
      redundancy
    </th><th>
      uuid
    </th><th>
      name
    </th><th>
      locator
    </th><th>
      last updated
    </th>
  </tr>

  <% @objects.each do |o| %>

  <tr class="collection-redundancy-status collection-redundancy-status-<%= o.redundancy_status %>" data-showhide-selector="tr#extra-info-<%= o.uuid %>" style="cursor:pointer">
    <td>
      <%= o.redundancy_status %> (<%= o.redundancy %>)
    </td><td>
      <%= o.uuid %>
    </td><td>
      <%= o.name %>
    </td><td>
      <%= o.locator %>
    </td><td>
      <%= distance_of_time_in_words(o.updated_at, Time.now, true) + ' ago' if o.updated_at %>
    </td>
  </tr>

  <% if  %>
  <tr id="extra-info-<%= o.uuid %>" data-showhide-default>
    <td colspan="5">
      <table>
	<tr>
	  <td>
	    (file list not available)
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <% end %>
  <% end %>
</table>
