<table style="width:100%">
  <tr class="contain-align-left">
    <th>
      API client
    </th><th>
      Token
    </th><th>
      Created at
    </th><th>
      Used at
    </th><th>
      Expires
    </th>
  </tr>

  <% @objects.each do |o| %>

  <tr>
    <td>
      <%= o.api_client.name || o.api_client.url_prefix || o.api_client.uuid %>
    </td><td>
      <%= o.api_token %>
    </td><td>
      <%= o.created_at %>
    </td><td>
      <%= o.last_used_at %>
      /
      <%= o.last_used_by_ip_address %>
    </td><td>
      <%= o.expires_at %>
    </td>
  </tr>

  <% end %>

</table>
