<table style="width:100%">
  <tr class="contain-align-left">
    <th>
      status
    </th><th>
      uuid
    </th><th>
      hostname
    </th><th>
      domain
    </th><th>
      ip address
    </th><th>
      created
    </th><th>
      startup delay
    </th><th>
      last ping
    </th><th>
      instance_id
    </th>
  </tr>

  <% @objects.each do |o| %>

  <tr class="node-status node-status-<%= o.status %>" data-showhide-selector="tr#extra-info-<%= o.uuid %>" style="cursor:pointer">
    <td>
      <%= o.status %>
    </td><td>
      <%= o.uuid %>
    </td><td>
      <%= o.hostname %>
    </td><td>
      <%= o.domain %>
    </td><td>
      <%= o.ip_address %>
    </td><td>
      <%= o.created_at %>
    </td><td>
      <%= distance_of_time_in_words(o.first_ping_at, o.created_at, true) if o.first_ping_at %>
    </td><td>
      <%= distance_of_time_in_words(o.last_ping_at, Time.now, true) + ' ago' if o.last_ping_at %>
    </td><td>
      <%= o.info[:ec2_instance_id] %>
    </td>
  </tr>

  <% if  %>
  <tr id="extra-info-<%= o.uuid %>" <%= 'data-showhide-default' unless o.info[:ec2_start_command] and !o.first_ping_at %>>
    <td colspan="8">
      <dl>
      <% o.info.each do |k,v| %>
      <dt><em><%= k %></em></dt>
      <dd><%= v %></dd>
      <% end %>
      </dl>
    </td>
  </tr>

  <% end %>
  <% end %>
</table>
