<% if wu.is_running? %>
  <% if @object.andand.uuid == wu.uuid and wu.progress == 0.0 %>
    <span class="label label-<%= wu.state_bootstrap_class %>"> Active </span>
  <% else%>
    <div class="progress" style="margin-bottom: 0px">
      <span class="progress-bar progress-bar-<%= wu.state_bootstrap_class %>" style="width: <%= wu.progress*100 %>%;">
      </span>
    </div>
  <% end %>
<% else %>
  <span class="label label-<%= wu.state_bootstrap_class %>"><%= wu.state_label %></span>
<% end %>
