---
layout: default
navsection: sdk
navmenu: Python
title: Command Line Tools
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

{% comment %}

TODO: This page should briefly describe and demonstrate every arv subcommand. I suggest this order, although I'm open to discussion:

1. High-level resource subcommands: arv get, arv create, arv edit
2. Subcommands that work with data: arv keep ls, arv keep get, arv keep put, arv keep docker, arv copy
3. Other general subcommands: arv ws
4. Low-level resource subcommands: arv [resource] [method] [options]
   Demonstrate a couple of examples of each of the common methods get, list, create, update, and delete.

Do not include --help output from any tool. This is meant to be a higher-level overview and we don't have a good way to keep it in sync.

{% endcomment %}

@arv@ is the command-line client for Arvados.  With @arv@, you can access Arvados API and Keep services, view and operate on Arvados resources and objects, and perform admin work.  It is distributed as part of the Arvados Python SDK.

You can start using your Arvados cluster with @arv@ after configuring the working environment with an Arvados API token.  Please refer to the sections '"Getting an API token":{{ site.baseurl }}/user/reference/api-tokens.html' and '"Checking your environment":{{ site.baseurl }}/user/getting_started/check-environment.html' in the User Guide for details.

h2(#overview). Overview

@arv@ is a collection of _subcommands_ that can be broadly divided into three kinds; namely, high-level resource subcommands, data subcommands, and low-level resource subcommands that closely follow the Arvados API semantics.

For every subcommand, you can get help with the @-h@/@--help@ option.  For example, @arv collection update -h@ will print the help information about the specific subcommand @collection update@.

h2(#high-level-resource-subcommands). High-level resource subcommands

h3(#arv-get). @arv get@ -- Fetch Arvados objects

*Usage*: @arv [--format=json|yaml] get UUID [FIELDS ...]@

@arv get@ retrieves arbitrary Arvados object by its "UUID":{{ site.baseurl }}/api/resources.html#object-uuid and writes it to the standard output as JSON (default) or YAML.

The optional @FIELDS@ arguments can be specified to select the fields in the object to display.

*Example*: Display a "collection":{{ site.baseurl }}/api/methods/collections.html, limiting output to the fields @uuid@, @portable_data_hash@, @version@, and @modified_at@.

<notextile><pre>
$ <span class="userinput">arv get zzzzz-4zz18-12345abcde67890 uuid portable_data_hash version modified_at</span>
{
 "uuid": "zzzzz-4zz18-12345abcde67890",
 "portable_data_hash": "1361eacc54cd808e2377d30a742cc9d2+53",
 "version": 3,
 "modified_at": "2025-12-34T12:34:56.789012000Z"
}
</pre></notextile>

---

h3(#editor-commands). @arv create@, @arv edit@ -- Create and update Arvados objects in text editor

@arv@ lets you interactively create new Arvados objects and update existing ones in a text editor.  The editor program to run is determined by environment variables: @VISUAL@ is used if it is set; otherwise, @EDITOR@ is used.  If neither @VISUAL@ nor @EDITOR@ is set, @arv@ uses @nano@ if it is avaialble in @PATH@, and falls back to @vi@ otherwise.

h4(#arv-create). @arv create@

*Usage*: @arv [--format=json|yaml] create RESOURCE [--project-uuid=UUID]@

@arv create@ starts a text editor in which you can create a new Arvados object using one of the two supported formats, JSON (default) or YAML.  The @RESOURCE@ argument can be any of the supported Arvados resource types (e.g., @collection@, @group@, @user@, etc.) as detailed in the "API Reference":{{ site.baseurl}}/api/index.html.

When you save the work in the editor and exit, @arv@ will validate the file, then request the API server for object creation.  If a problem arises, detailed error messages will be shown and you will see a prompt like the following:

<notextile><pre>Edit and try again? ([Y]es/no) </pre></notextile>

You can then choose to edit the object again until the problem is fixed, or discard the object at any time.  Saving an empty file or object will also stop the editing process.

*Options*:

* @--project-uuid@: If given, the newly-created object will be placed in the specified "project":{{ site.baseurl}}/user/tutorials/tutorial-projects.html if appropriate.

---

h4(#arv-edit). @arv edit@

*Usage*: @arv [--format=json|yaml] edit UUID [FIELDS ...]@

Similar to @arv create@, @arv edit@ lets you update an existing Arvados object using a text editor.

Just like with @arv get@, you can optionally select the fields of the object to be shown in the editor.  You are not limited to those fields when editing the object though, because you can always add (valid) fields during editing.  Conversely, removing any fields from the object means that those fields will not be updated.

The editing process largely follows that of @arv create@.  If any problem arises after you save the object and exit the editor, you will be interactively prompted to fix it, before the changes are actually committed to Arvados.

---

h2(#data-subcommands). Data subcommands

The following subcommands work on data associated with Arvados objects.

h3(#arv-copy). @arv copy@ -- Move objects across Arvados clusters

@arv copy@ is an alias of the @arv-copy@ command.  It can copy collections, projects, and workflows (with their dependencies) from one Arvados cluser to another, or download data from URLs to Arvados collections.  More examples can be found in the section '"Using arv-copy":{{ site.baseurl}}/user/topics/arv-copy.html' of the User Guide, and you can refer to the output of @arv copy --help@ for more about the command-line parameters.

---

h3(#arv-keep-ls). @arv keep ls@ -- List Arvados collection contents

*Usage*: @arv keep ls [-s] LOCATOR@

@arv keep ls@ lists the file contents of Arvados collections.

The @LOCATOR@ can be either a collection UUID (in the form of @zzzzz-4zz18-12345abcde67890@) or a "portable data hash":{{ site.baseurl }}/api/methods/collections.html#resource (PDH).

*Selected options*:

* @-s@: If specified, the file sizes are shown (in KiB).

*Example*: List files by the <abbr title="portable data hash">PDH</abbr> of a collection.

<notextile><pre>
$ <span class="userinput">arv keep ls -s 9178fe1b80a08a422dbe02adfd439764+925</span>
         1 ./README.txt
     53877 ./raw_fastq/Irrel_kd_1.subset.fq
     46349 ./raw_fastq/Irrel_kd_2.subset.fq
     35419 ./raw_fastq/Irrel_kd_3.subset.fq
     73933 ./raw_fastq/Mov10_oe_1.subset.fq
     67068 ./raw_fastq/Mov10_oe_2.subset.fq
     41741 ./raw_fastq/Mov10_oe_3.subset.fq
     10555 ./reference_data/chr1-hg19_genes.gtf
    248277 ./reference_data/chr1.fa
</pre></notextile>

---

h3(#arv-keep-get). @arv keep get@ -- Copy data from Keep or fetch collection manifest

*Usage*: @arv keep get [options] LOCATOR[PATH] [DEST]@

@arv keep get@ copies data from Keep to a local destination @DEST@, or fetches "collection manifests":{{ site.baseurl }}/architecture/manifest-format.html.  This subcommand is an alias of @arv-get@.

The @LOCATOR@ argument can be one of the following --

#  A collection UUID or <abbr title="portable data hash">PDH</abbr>:
   The collection's *manifest text* will be fetched.
#  A collection UUID or <abbr title="portable data hash">PDH</abbr> with a @path@ component:
   *File(s)* in the collection will be downloaded.  A @path@ starts with the slash (@/@) character and refers to a file or directory in the collection.  A directory @path@ (ending in a @/@) refers to files and subdirectories under it recursively.  A single @/@ as the @path@ refers to the full contents of the collection.
#  A full "Keep locator":{{ site.baseurl }}/architecture/manifest-format.html#locator, with "token signature":{{ site.baseurl }}/architecture/manifest-format.html#token_signatures:
   The individual data *block* in Keep will be downloaded.

The @DEST@ argument specifies the local filesystem path where the output is downloaded to.  By default, the output is written to the standard output.  However, when recursively downloading a directory, the destination must be a local directory path.

*Selected options*:

* @-f@: Overwrite existing files at @destination@. (The default is to refuse to write anything if any of the output files already exist.)
* @--skip-existing@: Skip files that already exist at @destination@ when downloading by path.
* @--hash=ALGORITHM@: Output file digest by the specified hash algorithm (@md5@, @sha1@, @sha224@, @sha256@, @sha384@, or @sha512@) when downloading by path.
* @--strip-manifest@: Remove token signatures from the manifest output.

p(#hello-world). *Example*: Write file content from Keep to standard output.

<notextile><pre>
$ <span class="userinput">arv keep get zzzzz-4zz18-12345abcde67890/hello.txt</span>
hello, world
</pre></notextile>

*Example*: Download whole collection to current directory and compute file digests.

<notextile><pre>
$ <span class="userinput">arv keep get --hash sha256 --no-progress 1361eacc54cd808e2377d30a742cc9d2+53/ . 2> SHA256SUM</span>
$ <span class="userinput">sha256sum -c SHA256SUM</span>
./hello.txt: OK
</pre></notextile>

*Example*: Fetch collection manifest, with token signatures.

<notextile><pre>
$ <span class="userinput">arv keep get zzzzz-4zz18-12345abcde67890</span>
. 22c3683b094136c3398391ae71b20f04+13+Aa611e1b3689f1af04bc46f7ba226d03dade48845@6a49fa07 0:13:hello.txt
</pre></notextile>

With @--strip-manifest@, token signatures are not shown in the manifest output:

<notextile><pre>
$ <span class="userinput">arv keep get --strip-manifest zzzzz-4zz18-12345abcde67890</span>
. 22c3683b094136c3398391ae71b20f04+13 0:13:hello.txt
</pre></notextile>

*Example*: Download single block by Keep locator (as shown in the manifest output of the preceding example).

<notextile><pre>
$ <span class="userinput">arv keep get 22c3683b094136c3398391ae71b20f04+13+Aa611e1b3689f1af04bc46f7ba226d03dade48845@6a49fa07 block</span>
$ <span class="userinput">cat block</span>
hello, world
</pre></notextile>

More examples, including federated downloads, can be found in the User Guide section '"Downloading data":{{ site.baseurl }}/user/tutorials/tutorial-keep-get.html#download-using-arv'.

---

h3(#arv-keep-put). @arv keep put@ -- Upload data to Keep

*Usage*: @arv keep put [OPTIONS] [PATHS ...]@

@arv keep put@ uploads data to Keep.  In the most common usage, the @PATHS@ are uploaded to Keep and a collection is created with those files as its contents.  Alternatively, an existing collection can be updated with new local files.

If a path argument is a local directory with a trailing slash (@/@), the contents under the directory will be uploaded.  Otherwise, the directory itself will be a level in the collection.

This subcommand is an alias of @arv-put@.  More examples can be found in the section '"Uploading data":{{ site.baseurl }}/user/tutorials/tutorial-keep.html#upload-using-command' of the User Guide.

*Selected options*:

* @--name@: Set collection name.
* @--exclude=PATTERN@: Glob pattern for files to exclude. Can be given multiple times.
* @--update-collection=UUID@: Update the existing collection identified by the UUID with new file uploads.
* @--storage-classes@: Comma-separated list of "storage classes":{{ site.baseurl }}/user/topics/storage-classes.html for the uploads.
* @--normalize@: Peform "manifest normalization":{{ site.baseurl }}/architecture/manifest-format.html#normalization after writing data.

p(#update-hello-world). *Example*: Update the '"hello-world":#hello-world' collection.

In this example, the collection is downloaded to the current directory, a new file "hola.txt" is added, and the collection is updated with it.

<notextile><pre>
$ <span class="userinput">arv keep get zzzzz-4zz18-12345abcde67890 .</span>
0 MiB / 0 MiB 100.0%
$ <span class="userinput">ls</span>
hello.txt
$ <span class="userinput">echo 'hola, mundo' > hola.txt</span>
$ <span class="userinput">arv keep put --update-collection zzzzz-4zz18-12345abcde67890 ./</span>
2026-06-22 10:06:14 arvados.arv_put[7354] INFO: Calculating upload size, this could take some time...
2026-06-22 10:06:14 arvados.arv_put[7354] INFO: Creating new cache file at /home/user/.cache/arvados/arv-put/2a9792e8c4d207bd70cf7470c85c3bbc
0M / 0M 100.0%
2026-06-22 10:06:15 arvados.arv_put[7354] INFO: Collection updated: 'hello-world'
zzzzz-4zz18-12345abcde67890
</pre></notextile>

The file that already exists in the collection, "hello.txt", is skipped by @arv keep put@ when we upload the current directory's contents.

h4(#arv-keep-put-low-level). Lower-level operations of @arv keep put@

With the option @--stream@, @arv keep put@ will upload the files to Keep, but does not create a collection.  Instead, the manifest text is written to the standard output.

With the option @--raw@, files will be uploaded to Keep, and the comma-separated list of "locators":{{ site.baseurl }}/architecture/manifest-format.html#locator of the resulting data blocks are written to the standard output.

---

h3(#arv-keep-docker). @arv keep docker@ -- TODO

---

h2(#api-resource-subcommands). API resource subcommands

@arv@ has a collection of subcommands that closely follows the semantics of the "Arvados API service":{{ site.baseurl }}/api/index.html.

The basic *usage* pattern of these API resource subcommands are as follows --

<notextile><pre>
<span class="userinput">arv [--format=json|yaml|uuid] RESOURCE METHOD [PARAMETERS]</span>
</pre></notextile>

@RESOURCE@ is one of the resource types to operate on, for example, @collection@, @user@, @container_request@, etc.  Notice that the argument typically takes the singular noun form: "@group@" as opposed to "groups".

@METHOD@ refers to the operation, for example, @create@, @list@, @update@, @delete@, etc.  Methods shared by most resources are described in '"Common resource methods":{{ site.baseurl }}/api/methods.html' in the API documentation.  In addition, many resources support additional methods, as detailed in their respective sections in the API documentation.  For instance, "the @user@ resource":{{ site.baseurl }}/api/methods/users.html has @activate@, @setup@, @merge@ methods, etc.

@PARAMETERS@ are arguments taken by a method, and they are documented in the "API Reference":{{ site.baseurl}}/api/index.html under each resource-method combination.
* A method argument in the form of @foo_bar@ becomes the command-line parameter @--foo-bar@.  For example, for @arv collection update@, "the @replace_files@ API argument":{{ site.baseurl }}/api/methods/collections.html#update becomes @--replace-files@.
* A boolean argument @foo@ becomes a pair of CLI parameters @--foo@ and @--no-foo@, for truth and false values respectively.  For example, the "API method argument @ensure_unique_name@":{{ site.baseurl }}/api/methods/collections.html#untrash becomes the pair @--[no-]ensure-unique-name@.  Currently, all boolean parameters are optional and defaults to false.
* All CLI parameters have short forms (a single dash followed by a single letter, like @-c@), except the "negated" forms of boolean parameters like @--no-ensure-unique-name@.  Please check the output of @arv resource method -h@ for the short parameters of a specific resource-method combination.

A comprehensive list of available resources for your Arvados cluster can be viewed by @arv --help@.

h3(#resource-type-parameters). "Resource-type" parameters

The @create@ and @update@ methods both "take a 'resource-type' parameter":{{ site.baseurl }}/api/methods.html#create.  This simply refers to a parameter named after the @resource@ itself.

*Examples*:

<notextile><pre>
$ <span class="userinput">arv collection update --collection=[...]</span>
</pre></notextile>

and

<notextile><pre>
$ <span class="userinput">arv api_client_authorization create --api-client-authorization=[...]</span>
</pre></notextile>

both show the respective resource-type parameters on the command line.

The value of a resource-type parameter can be one of the following --

#  A *string* that represents a valid JSON object (i.e., key-value pairs surrounded by braces @{ }@);
#  A *path* to a file that contains a valid JSON object; or
#  A single *dash* (@-@), which causes the input value to be read from the standard input.

(In the rare case where the file path happens to be valid JSON, an error is reported.)

h3(#resource-subcommand-output). Output formats

The following command-line options to @arv@ control the output format.

* @--format=json@: Output as JSON (default).
* @--format=yaml@: Output as YAML.
* @--format=uuid@, @-s@, or @--short@: Only output object <notextile>UUID(s)</notextile>.  For the "@list@ method":{{ site.baseurl }}/api/methods.html#index, output the individual items' UUIDs, one line each.

h3(#misc-resource-subcommands). Miscellaneous resource subcommands

The following subcommands are grouped with the API resource commands.

h4(#arv-config). @arv config@ -- Public Arvados cluster configuration

*Usage*: @arv [--format=json|yaml] config get@

Get the public configuration file of the Arvados cluster.

h4(#arv-sys). @arv sys@ -- Run data trash and sweep

*Usage*: @arv sys get@

Run scheduled data trash and sweep operations across the cluster's Keep services.

Note that for compatibility reasons, @sy@ is an alias of the @sys@ resource.

h4(#arv-vocabulary). @arv vocabulary@ -- Metadata vocabulary

*Usage*: @arv [--format=json|yaml] vocabulary get@

Fetch the "metadata vocabulary":{{ site.baseurl }}/admin/metadata-vocabulary.html managed by the Arvados cluster.

h3(#resource-subcommand-examples). Resource-subcommand examples

*Example*: Get collection from federated cluster by PDH.

For collections, the @get@ method provides for a special use case of fetching a collection by <abbr title="portable data hash">PDH</abbr>.  If the PDH is not found on the home cluster, federated clusters are searched.  When getting a collection by PDH, only the @manifest_text@, @portable_data_hash@, and @trash_at@ fields are returned.

<notextile><pre>
$ <span class="userinput">arv collection get --uuid 133e9a1bcd7899d51aa8a2b6b6f9fea9+61</span>
{
 "created_at": null,
 "current_version_uuid": "",
 "delete_at": null,
 "description": null,
 "etag": "",
 "file_count": 0,
 "file_size_total": 0,
 "is_trashed": false,
 "kind": "arvados#collection",
 "manifest_text": ". deb944805bc57a3010079a8ecf1eb48d+1339378+Rzzyzx-7ab32fdcc9cc588fb934196ff6162acdb9c353ec@6a4e5acd 0:1339378:user.jpg\n",
 "modified_at": null,
 "modified_by_user_uuid": "",
 "name": "",
 "owner_uuid": "",
 "portable_data_hash": "133e9a1bcd7899d51aa8a2b6b6f9fea9+61",
 "preserve_version": false,
 "properties": null,
 "replication_confirmed": null,
 "replication_confirmed_at": null,
 "replication_desired": null,
 "storage_classes_confirmed": null,
 "storage_classes_confirmed_at": null,
 "storage_classes_desired": null,
 "trash_at": null,
 "unsigned_manifest_text": "",
 "uuid": "133e9a1bcd7899d51aa8a2b6b6f9fea9+61",
 "version": 0
}
</pre></notextile>

Here, the manifest text contains a "remote signature":{{ site.baseurl }}/architecture/manifest-format.html#federationsignatures, indicating the data block is not on the home cluster (@zzzzz@ in this guide), but is available on the federated cluster @zzyzx@.

*Example*: Create new project.

<notextile><pre>
$ <span class="userinput">arv group create --group '{"group_class": "project", "name": "hello-project"}'</span>
{
 "can_manage": true,
 "can_write": true,
 "created_at": "2026-06-24T07:39:20.950807457Z",
 "delete_at": null,
 "description": null,
 "etag": "12345abcde67890fghij12345",
 "frozen_by_uuid": null,
 "group_class": "project",
 "is_trashed": false,
 "kind": "arvados#group",
 "modified_at": "2026-06-24T07:39:20.946873000Z",
 "modified_by_user_uuid": "zzzzz-tpzed-12345abcde67890",
 "name": "hello-project",
 "owner_uuid": "zzzzz-tpzed-12345abcde67890",
 "properties": {},
 "trash_at": null,
 "uuid": "zzzzz-j7d0g-12345abcde67890",
 "writable_by": [
  "zzzzz-tpzed-12345abcde67890",
  "zzzzz-tpzed-12345abcde67890"
 ]
}
</pre></notextile>

Notice that here the @--group@ option is a "resource-type parameter":#resource-type-parameters.

*Example*: List users with email-address filter.

The @list@ methods support the parameter @--fiters@ that can efficiently query the API service for objects matching specific conditions.  The following command searches for users whose associated email addresses are in the specified domain, and outputs their UUIDs:

<notextile><pre>
$ <span class="userinput">arv -s user list --filters '[["email", "ilike", "%@example.com"]]'</span>
zzzzz-tpzed-12345abcde67890
</pre></notextile>

More examples of using filters can be found in the "API Reference":{{ site.baseurl }}/api/methods.html#filters.

You can also pass the path of a JSON file to the @--filters@ parameter.  Alternatively, a single dash (@-@) means reading the filters from the standard input.

*Example*: Update collection with @--replace-files@.

The "'hello-world' collection":#update-hello-world in a previous example contains two files, "hello.txt" and "hola.txt" at the top level.

We will add a new file "hello-world.c" to the collection, and re-organize the collection contents into two new directories: "natural-langauges" that will contain the two existing files, and "programming-languages" with the new file.

The "@replace_files@ API argument":{{ site.baseurl }}/api/methods/collections.html#replace_files lets us re-organize the collection contents with the @collection update@ method.

First, we need to upload the new file content to Keep storage without creating a new collection, using "the command @arv keep put --stream@":#arv-keep-put-low-level.  The manifest text is then written to the standard output:

<notextile><pre>
$ <span class="userinput">arv keep put --stream hello-world.c</span>
[...]
. bbae5d9983ce453e09ff5b2d40cca5c5+66+A225a7c0842f7fefbaedf42ed87cbcdb27cae836a@6a4e0c74 0:66:hello-world.c
</pre></notextile>

Then, we perform an atomic update of collection contents:

<notextile><pre>
$ <span class="userinput">arv collection update --uuid zzzzz-4zz18-12345abcde67890 \</span>
> <span class="userinput">--replace-files \</span>
> <span class="userinput">'{</span>
> <span class="userinput">  "/natural-languages/hello.txt": "current/hello.txt",</span>
> <span class="userinput">  "/natural-languages/hola.txt": "current/hola.txt",</span>
> <span class="userinput">  "/hello.txt": "",</span>
> <span class="userinput">  "/hola.txt": "",</span>
> <span class="userinput">  "/programming-langauges/hello-world.c": "manifest_text/hello-world.c"</span>
> <span class="userinput">}' \</span>
> <span class="userinput">--collection \</span>
> <span class="userinput">'{</span>
> <span class="userinput">  "manifest_text": ". bbae5d9983ce453e09ff5b2d40cca5c5+66+A225a7c0842f7fefbaedf42ed87cbcdb27cae836a@6a4e0c74 0:66:hello-world.c\n"</span>
> <span class="userinput">}'</span>
</pre></notextile>

*Example*: Trashing a collection by the @delete@ method.

<notextile><pre>
$ <span class="userinput">arv collection delete --uuid zzzzz-4zz18-12345abcde67890</span>
</pre></notextile>

This puts the collection in the "trash":{{ site.baseurl }}/api/methods/collections.html#trashing.

h4(#user-admin-examples). User administration examples

Examples about performing user administration work with @arv@ can be found in the "Admin Guide":{{ site.baseurl }}/admin/user-management-cli.html.

h2(#additional-subcommands). Additional subcommands

h3(#arv-ws). @arv ws@ -- WebSocket client

*Usage*: @arv ws [OPTIONS]@

@arv ws@ provides access to the WebSockets event stream, displaying Arvados log events as they arrive.  For detailed information about the logs API, please refer to its "API Reference section":{{ site.baseurl }}/api/methods/logs.html.

Once started, this subcommand will keep listening to events until interrupted, for example by <kbd>Ctrl</kbd>-<kbd>C</kbd>.

*Selected options*:

* @-f@, @--filters@: Apply "filters":{{ site.baseurl }}/api/methods.html#filters to log events.
* @--uuid@: Simple filtering by the @object_uuid@ field of events.
* @-i@, @--id=N@: Start from given log ID.
* @-s@, @--start-time=TIME@: Start from given time (specified as @YYYY-MM-DD@ or @YYYY-MM-DD hh:mm:ss@).

*Examples*:

The following session logs an event for collection trashing (slightly re-formatted for legibility).

<notextile><pre>
$ <span class="userinput">arv ws</span>
{
 "event_at": "2026-06-25T02:12:21.650905Z",
 "event_type": "update",
 "id": 240,
 "msgID": 2,
 "object_kind": "arvados#collection",
 "object_owner_uuid": "zzzzz-tpzed-12345abcde67890",
 "object_uuid": "zzzzz-4zz18-12345abcde67890",
 "properties": {
  "new_attributes": {
   "is_trashed": true,
   "name": "hello-world",
   "owner_uuid": "zzzzz-tpzed-12345abcde67890",
   "portable_data_hash": "0c139c33f961ef83eb17508fb4255019+165"
  },
  "old_attributes": {
   "is_trashed": false,
   "name": "hello-world",
   "owner_uuid": "zzzzz-tpzed-12345abcde67890",
   "portable_data_hash": "0c139c33f961ef83eb17508fb4255019+165"
  }
 },
 "uuid": "zzzzz-57u5n-qwj78wid4oohho1"
}
</pre></notextile>
