---
layout: default
navsection: sdk
navmenu: Python
title: Command Line Tools
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

{% comment %}

TODO: This page should briefly describe and demonstrate every arv subcommand. I suggest this order, although I'm open to discussion:

1. High-level resource subcommands: arv get, arv create, arv edit
2. Subcommands that work with data: arv keep ls, arv keep get, arv keep put, arv keep docker, arv copy
3. Other general subcommands: arv ws
4. Low-level resource subcommands: arv [resource] [method] [options]
   Demonstrate a couple of examples of each of the common methods get, list, create, update, and delete.

Do not include --help output from any tool. This is meant to be a higher-level overview and we don't have a good way to keep it in sync.

{% endcomment %}

@arv@ is the command-line client for Arvados.  With @arv@, you can access Arvados API and Keep services, view and operate on Arvados resources and objects, and perform admin work.  It is distributed as part of the Arvados Python SDK.

You can start using your Arvados cluster with @arv@ after configuring the working environment with an Arvados API token.  Please refer to the sections '"Getting an API token":{{ site.baseurl }}/user/reference/api-tokens.html' and '"Checking your environment":{{ site.baseurl }}/user/getting_started/check-environment.html' in the User Guide for details.

h2(#overview). Overview

@arv@ is a collection of _subcommands_ that can be broadly divided into three kinds; namely, high-level resource subcommands, data subcommands, and low-level resource subcommands that closely follow the Arvados API semantics.

For every subcommand, you can get help with the @-h@/@--help@ option.  For example, @arv collection update -h@ will print the help information about the specific subcommand @collection update@.

h2(#high-level-resource-subcommands). High-level resource subcommands

h3(#arv-get). @arv get@ -- fetch Arvados objects

*Usage*: @arv [--format=json|yaml] get UUID [fields ...]@

@arv get@ retrieves arbitrary Arvados object by its "UUID":{{ site.baseurl }}/api/resources.html#object-uuid and writes it to the standard output as JSON (default) or YAML.

The optional @fields@ arguments can be specified to select the fields in the object to display.

*Example*: Display a "collection":{{ site.baseurl }}/api/methods/collections.html, limiting output to the fields @uuid@, @portable_data_hash@, @version@, and @modified_at@.

<notextile><pre>
$ <span class="userinput">arv get zzzzz-4zz18-12345abcde67890 uuid portable_data_hash version modified_at</span>
{
 "uuid": "zzzzz-4zz18-12345abcde67890",
 "portable_data_hash": "1361eacc54cd808e2377d30a742cc9d2+53",
 "version": 3,
 "modified_at": "2025-12-34T12:34:56.789012000Z"
}
</pre></notextile>

h3(#editor-commands). @arv create@, @arv edit@ -- create and update Arvados objects in text editor

@arv@ lets you interactively create new Arvados objects and update existing ones in a text editor.  The editor program to run is determined by environment variables: @VISUAL@ is used if it is set; otherwise, @EDITOR@ is used.  If neither @VISUAL@ nor @EDITOR@ is set, @arv@ uses @nano@ if it is avaialble in @PATH@, and falls back to @vi@ otherwise.

h4(#arv-create). @arv create@

*Usage*: @arv [--format=json|yaml] create RESOURCE [--project-uuid=UUID]@

@arv create@ starts a text editor in which you can create a new Arvados object using one of the two supported formats, JSON (default) or YAML.  The @RESOURCE@ argument can be any of the supported Arvados resource types (e.g., @collection@, @group@, @user@, etc.) as detailed in the "API Reference":{{ site.baseurl}}/api/index.html.

When you save the work in the editor and exit, @arv@ will validate the file, then request the API server for object creation.  If a problem arises, detailed error messages will be shown and you will see a prompt like the following:

<notextile><pre>Edit and try again? ([Y]es/no) </pre></notextile>

You can then choose to edit the object again until the problem is fixed, or discard the object at any time.  Saving an empty file or object will also stop the editing process.

*Options*:

* @--project-uuid@: If given, the newly-created object will be placed in the specified "project":{{ site.baseurl}}/user/tutorials/tutorial-projects.html if appropriate.

h4(#arv-edit). @arv edit@

*Usage*: @arv [--format=json|yaml] edit UUID [fields ...]@

Similar to @arv create@, @arv edit@ lets you update an existing Arvados object using a text editor.

Just like with @arv get@, you can optionally select the fields of the object to be shown in the editor.  You are not limited to those fields when editing the object though, because you can always add (valid) fields during editing.  Conversely, removing any fields from the object means that those fields will not be updated.

The editing process largely follows that of @arv create@.  If any problem arises after you save the object and exit the editor, you will be interactively prompted to fix it, before the changes are actually committed to Arvados.

h2(#data-subcommands). Data subcommands

The following subcommands work on data associated with Arvados objects.

h3(#arv-copy). @arv copy@ -- move objects across Arvados clusters

@arv copy@ is an alias of the @arv-copy@ command.  It can copy collections, projects, and workflows (with their dependencies) from one Arvados cluser to another, or download data from URLs to Arvados collections.  More examples can be found in the section '"Using arv-copy":{{ site.baseurl}}/user/topics/arv-copy.html' of the User Guide, and you can refer to the output of @arv copy --help@ for more about the command-line parameters.

h3(#arv-keep-ls). @arv keep ls@ -- list Arvados collection contents

*Usage*: @arv keep ls [-s] locator@

@arv keep ls@ lists the file contents of Arvados collections.

The @locator@ argument can be either a collection UUID (in the form of @zzzzz-4zz18-12345abcde67890@) or a "portable data hash":{{ site.baseurl }}/api/methods/collections.html#resource (PDH).

*Selected options*:

* @-s@: If specified, the file sizes are shown (in KiB).

*Example*: List files by the <abbr title="portable data hash">PDH</abbr> of a collection.

<notextile><pre>
$ <span class="userinput">arv keep ls -s 9178fe1b80a08a422dbe02adfd439764+925</span>
         1 ./README.txt
     53877 ./raw_fastq/Irrel_kd_1.subset.fq
     46349 ./raw_fastq/Irrel_kd_2.subset.fq
     35419 ./raw_fastq/Irrel_kd_3.subset.fq
     73933 ./raw_fastq/Mov10_oe_1.subset.fq
     67068 ./raw_fastq/Mov10_oe_2.subset.fq
     41741 ./raw_fastq/Mov10_oe_3.subset.fq
     10555 ./reference_data/chr1-hg19_genes.gtf
    248277 ./reference_data/chr1.fa
</pre></notextile>

h3(#arv-keep-get). @arv keep get@ -- copy data from Keep or fetch collection manifest

*Usage*: @arv keep get [options] locator[path] [destination]@

@arv keep get@ copies data from Keep to a local destination, or fetches "collection manifests":{{ site.baseurl }}/architecture/manifest-format.html.

The @locator@ argument can be one of the following --

#  A collection UUID or <abbr title="portable data hash">PDH</abbr>:
   The collection's *manifest text* will be fetched.
#  A collection UUID or <abbr title="portable data hash">PDH</abbr> with a @path@ component:
   *File(s)* in the collection will be downloaded.  A @path@ starts with the slash (@/@) character and to a file or directory in the collection.  A directory @path@ refers to files and subdirectories under it recursively.  A single @/@ as the @path@ refers to the full contents of the collection.
#  A full "Keep locator":{{ site.baseurl }}/architecture/manifest-format.html#locator, with "token signature":{{ site.baseurl }}/architecture/manifest-format.html#token_signatures:
   The individual data *block* in Keep will be downloaded.

The @destination@ argument specifies the local filesystem path where the output is downloaded to.  By default, the output is written to the standard output.  However, when recursively downloading a directory, the destination must be a local directory path.

*Selected options*:

* @-f@: Overwrite existing files at @destination@. (The default is to refuse to write anything if any of the output files already exist.)
* @--skip-existing@: Skip files that already exist at @destination@ when downloading by path.
* @--hash=algorithm@: Output file digest by the specified hash algorithm (@md5@, @sha1@, @sha224@, @sha256@, @sha384@, or @sha512@) when downloading by path.
* @--strip-manifest@: Remove token signatures from the manifest output.

*Example*: Write file content from Keep to standard output.

<notextile><pre>
$ <span class="userinput">arv keep get zzzzz-4zz18-12345abcde67890/hello.txt</span>
hello, world
</pre></notextile>

*Example*: Download whole collection to current directory and compute file digests.

<notextile><pre>
$ <span class="userinput">arv keep get --hash sha256 --no-progress 1361eacc54cd808e2377d30a742cc9d2+53/ . 2> SHA256SUM</span>
$ <span class="userinput">sha256sum -c SHA256SUM</span>
./hello.txt: OK
</pre></notextile>

*Example*: Fetch collection manifest, with token signatures.

<notextile><pre>
$ <span class="userinput">arv keep get zzzzz-4zz18-12345abcde67890</span>
. 22c3683b094136c3398391ae71b20f04+13+Aa611e1b3689f1af04bc46f7ba226d03dade48845@6a49fa07 0:13:hello.txt
</pre></notextile>

With @--strip-manifest@, token signatures are not shown in the manifest output:

<notextile><pre>
$ <span class="userinput">arv keep get --strip-manifest zzzzz-4zz18-12345abcde67890</span>
. 22c3683b094136c3398391ae71b20f04+13 0:13:hello.txt
</pre></notextile>

*Example*: Download single block by Keep locator (as shown in the manifest output of the preceding example).

<notextile><pre>
$ <span class="userinput">arv keep get 22c3683b094136c3398391ae71b20f04+13+Aa611e1b3689f1af04bc46f7ba226d03dade48845@6a49fa07 block</span>
$ <span class="userinput">cat block</span>
hello, world
</pre></notextile>

More examples, including federated downloads, can be found in the User Guide section '"Downloading data":{{ site.baseurl }}/user/tutorials/tutorial-keep-get.html#download-using-arv'.
