<% puts "and the result is (2) ", @name_links.results, "objects is #{@objects}" %>
<% @name_links.each do |name_link| %>
  <% puts "looking up #{name_link.head_uuid}" %>
  <% if (object = get_object(name_link.head_uuid)) %>
    <% puts "got #{object}" %>
    <div class="row filterable selectable <%= 'multiple' if multiple %>" data-object-uuid="<%= name_link.uuid %>"
         data-preview-href="<%= url_for object %>?tab_pane=chooser_preview"
         style="margin-left: 1em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #DDDDDD">
        <i class="fa fa-fw fa-archive"></i>
        <%= name_link.name %>
    <% Link.filter([['link_class','=','tag'],['head_uuid','=',object.uuid]]).collect(&:name).each do |tagname| %>
      <span class="label label-info"><%= tagname %></span>
    <% end %>
    </div>
  <% end %>
<% end %>
