<% @objects.each do |c| %>

<tr class="collection" data-object-uuid="<%= c.uuid %>">
  <td>
    <% friendly_name = c.friendly_link_name  %>
    <% @collection_info[c.uuid][:tag_links].each do |tag_link| %>
      <% friendly_name += raw(" <span class='label label-info'>#{tag_link.name}</span>") %>
    <% end %>
    <%= render :partial => "selection_checkbox", :locals => {:object => c, :friendly_name => friendly_name} %>

    <%= render :partial => "show_object_button", :locals => {object: c, size: 'xs'} %>
  </td>
  <td>
    <%= c.uuid %>
  </td>
  <td>
    <% i = 0 %>
    <% while i < 3 and i < c.files.length %>
      <% file = c.files[i] %>
      <% file_path = "#{file[0]}/#{file[1]}" %>
      <%= link_to file[1], {controller: 'collections', action: 'show_file', uuid: c.uuid, file: file_path, size: file[2], disposition: 'inline'}, {title: 'View in browser'} %><br />
      <% i += 1 %>
    <% end %>
    <% if i < c.files.length %>
      &vellip;
    <% end %>
  </td>
  <td>
    <%= c.created_at.to_s if c.created_at %>
  </td>
  <td class="add-tag-button">
    <a class="btn btn-xs btn-info add-tag-button pull-right" data-remote-href="<%= url_for(controller: 'links', action: 'create') %>" data-remote-method="post"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</a>
    <span class="removable-tag-container">
    <% if @collection_info[c.uuid] %>
      <% @collection_info[c.uuid][:tag_links].each do |tag_link| %>
        <span class="label label-info removable-tag" data-tag-link-uuid="<%= tag_link.uuid %>"><%= tag_link.name %>
          <% if tag_link.owner_uuid == current_user.uuid %>
          &nbsp;<a title="Delete tag"><i class="glyphicon glyphicon-trash"></i></a>
          <% end %>
        </span>&nbsp;
      <% end %>
    <% end %>
    </span>
  </td>
</tr>

<% end %>
