<% @collections.each do |c| %>

<tr class="collection" data-object-uuid="<%= c.uuid %>">
  <td>
    <%= link_to_if_arvados_object c.uuid %>
  </td>
  <td>
    <% i = 0 %>
    <% while i < 3 and i < c.files.length %>
      <% file = c.files[i] %>
      <% file_path = "#{file[0]}/#{file[1]}" %>
      <%= link_to file[1], {controller: 'collections', action: 'show_file', uuid: c.uuid, file: file_path, size: file[2], disposition: 'inline'}, {title: 'View in browser'} %><br />
      <% i += 1 %>
    <% end %>
    <% if i < c.files.length %>
      &vellip;
    <% end %>
  </td>
  <td><%= link_to_if_arvados_object c.owner_uuid, friendly_name: true %></td>
  <td>
    <%= raw(distance_of_time_in_words(c.created_at, Time.now).sub('about ','~').sub(' ','&nbsp;')) if c.created_at %>
  </td>
  <td>
    <% if @collection_info[c.uuid][:wanted_by_me] %>
      <span class="label label-info">2&times;</span>
    <% elsif @collection_info[c.uuid][:wanted] %>
      <span class="label">2&times;</span>
    <% else %>
      <span class="label">cache</span>
    <% end %>
  </td>
  <td class="add-tag-button">
    <a class="btn btn-xs btn-info add-tag-button pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</a>
    <span>
    <% if @collection_info[c.uuid] %>
      <% @collection_info[c.uuid][:tags].uniq.each do |tag| %>
        <span class="label label-info removable-tag" data-tag-link-uuid=""><%= tag %>&nbsp;<a><i class="glyphicon glyphicon-trash"></i></a></span>
      <% end %>
    <% end %>
    </span>
  </td>
</tr>

<% end %>
