<% content_for :css do %>
.file-list-inline-image {
  width: 50%;
  height: auto;
  margin: auto auto;
}

div#collection_files {
  width: 49%;
  float: left;
  overflow: auto;
}

i.jstree-icon {
  font-style: normal;
}

div#collections_file_pane {
  width: 50%;
  float: right;
}

div#collections_file_pane h3 {
  margin: 0;
}

.collections_file_size {
  margin-top: 0em;
  font-style: italic;
}
<% end %>

<% content_for :js do %>
$(function () {
$("div#collection_files")
.on("activate_node.jstree", function(event, data) {
  if (data.instance.is_leaf(data.node)) {
    var file_info = $("div[title=\"" + data.node.li_attr.title + "\"]").html();
    $("div#collections_file_pane").html(file_info);
  } else {
    data.instance.toggle_node(data.node);
  }
})
.jstree({
  "core": {
    "themes": {"stripes": true},
    "multiple": false
  },
  "plugins": ["wholerow"],
});
});
<% end %>

<% content_for :tab_line_buttons do %>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div class="pull-right">
      Collection storage status:
      <%= render partial: 'toggle_persist', locals: { uuid: @object.uuid, current_state: (@is_persistent ? 'persistent' : 'cache') } %>
    </div>
  </div>
</div>
<% end %>

<% file_tree = @object.andand.files_tree %>
<% if file_tree.nil? or file_tree.empty? %>
  <p>This collection is empty.</p>
<% else %>
  <div id="collection_files"><ul>
  <% dirstack = ["."] %>
  <% file_tree.each do |dirname, filename, size| %>
    <% while dirstack.any? and (dirstack.last != dirname) %>
      <% dirstack.pop %></ul></li>
    <% end %>
    <% if size.nil?  # This is a subdirectory. %>
      <% dirstack.push(File.join(dirname, filename)) %>
      <li data-jstree='{"icon": "fa-folder"}' class="jstree-open"><%= filename %><ul>
    <% else %>
      <% data = {'icon' => (CollectionsHelper::is_image(filename) ? 'fa-bar-chart-o' : 'fa-file') } %>
      <li data-jstree='<%= data.to_json %>'
          title="<%= CollectionsHelper::file_path([dirname, filename]) %>"><%= filename %></li>
    <% end %>
  <% end %>
  </ul></div>
  <div id="collections_file_pane">Select a file to view more information.</div>
  <% file_tree.reject { |data| data.last.nil? }.each do |dirname, filename, size| %>
    <% file_path = CollectionsHelper::file_path([dirname, filename])
       link_params = {controller: 'collections',
                      action: 'show_file',
                      uuid: @object.uuid,
                      file: file_path,
                      size: size} %>
    <div title="<%= file_path %>" style="display: none;">
    <h3><%= file_path %></h3>
    <p class="collections_file_size"><%= raw(human_readable_bytes_html(size)) %></p>
    <%= link_to("View", link_params.merge(disposition: 'inline'),
                {class: "btn btn-primary"}) %>
    <%= link_to("Download", link_params.merge(disposition: 'attachment'),
                {class: "btn btn-primary"}) %>
    <p>
    <%= check_box_tag 'uuids[]', "#{@object.uuid}/#{file_path}", false, {
          :class => 'persistent-selection',
          :friendly_type => "File",
          :friendly_name => "#{@object.uuid}/#{file_path}",
          :href => url_for(controller: 'collections', action: 'show_file',
                           uuid: @object.uuid, file: file_path),
          :title => "Include this file in your selections",
        } %>
    Include this file in your selections
    </p>
    <% if CollectionsHelper::is_image(filename) %>
     <div style="text-align: center;">
      <%= link_to(image_tag("#{url_for @object}/#{file_path}", class: "file-list-inline-image"),
                  link_params.merge(disposition: 'inline'),
                  {title: file_path}) %>
     </div>
    <% end %>
    </div>
  <% end %>
<% end %>
