<div class="row row-fill-height">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">
          <% if @object.uuid.match /[0-9a-f]{32}/ %>
            Content hash <%= @object.portable_data_hash %>
          <% else %>
	    <%= if @object.respond_to? :name
                  render_editable_attribute @object, :name
                else
                  @name_link.andand.name || @object.uuid
                end %>
            <% end %>
	</h3>
      </div>
      <div class="panel-body">
        <img src="/favicon.ico" class="pull-right" alt="" style="opacity: 0.3"/>
        <% if @object.uuid.match /[0-9a-f]{32}/ %>
          <p>Found in collections:<p>
          <p>
            <% cols = Collection.filter([["portable_data_hash", "=", @object.portable_data_hash]]).each do |c| %>
              <%= link_to_if_arvados_object c.owner_uuid, {:friendly_name => true} %> / <%= link_to_if_arvados_object c, {:friendly_name => true} %><br>
            <% end %>
          </p>
        <% else %>
	  <p><i>Content hash:</i><br />
	    <span class="arvados-uuid"><%= link_to @object.portable_data_hash, collection_path(@object.portable_data_hash) %></span></p>
        <% end %>
        <%= render partial: "show_source_summary" %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  Activity
	</h3>
      </div>
      <div class="panel-body smaller-text">
        <!--
	<input type="text" class="form-control" placeholder="Search"/>
        -->
	<div style="height:0.5em;"></div>
        <% name_or_object = @name_link.andand.uuid ? @name_link : @object %>
        <% if name_or_object.created_at and not @logs.andand.any? %>
          <p>
            Created: <%= name_or_object.created_at.to_s(:long) if name_or_object.created_at %>
          </p>
          <p>
            Last modified: <%= name_or_object.modified_at.to_s(:long) if name_or_object.modified_at %> by <%= link_to_if_arvados_object name_or_object.modified_by_user_uuid, friendly_name: true %>
          </p>
        <% else %>
          <%= render_arvados_object_list_start(@logs, 'Show all activity',
                logs_path(filters: [['object_uuid','=',name_or_object.uuid]].to_json)) do |log| %>
          <p>
          <%= time_ago_in_words(log.event_at) rescue 'unknown time' %> ago: <%= log.summary %>
            <% if log.object_uuid %>
            <%= link_to_if_arvados_object log.object_uuid, link_text: raw('<i class="fa fa-hand-o-right"></i>') %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  Sharing and permissions
	</h3>
      </div>
      <div class="panel-body">
        <!--
	<input type="text" class="form-control" placeholder="Search"/>
        -->

        <div id="sharing-button">
          <%= render partial: 'sharing_button' %>
        </div>

	<div style="height:0.5em;"></div>
        <% if @projects.andand.any? %>
          <p>Included in projects:<br />
          <%= render_arvados_object_list_start(@projects, 'Show all projects',
                links_path(filters: [['head_uuid', '=', @object.uuid],
                                     ['link_class', '=', 'name']].to_json)) do |project| %>
            <%= link_to_if_arvados_object(project, friendly_name: true) %><br />
          <% end %>
          </p>
        <% end %>
        <% if @permissions.andand.any? %>
          <p>Readable by:<br />
          <%= render_arvados_object_list_start(@permissions, 'Show all permissions',
                links_path(filters: [['head_uuid', '=', @object.uuid],
                                    ['link_class', '=', 'permission']].to_json)) do |link| %>
          <%= link_to_if_arvados_object(link.tail_uuid, friendly_name: true) %><br />
          <% end %>
          </p>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render file: 'application/show.html.erb', locals: local_assigns %>
