<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% @objects.each do |repo| %>
  <tr data-object-uuid="<%= repo.uuid %>">
    <td>
      <%= render :partial => "show_object_button", :locals => {object: repo, size: 'xs' } %>
    </td>
    <td style="word-break:break-all;">
      <%= repo[:name] %>
    </td>
    <td style="word-break:break-all;">
      <code><%= repo.http_fetch_url %></code><br/>
      <code><%= repo.editable? ? repo.push_url : repo.fetch_url %></code>
    </td>
    <td>
      <% if repo.editable? %>
        <%= render partial: 'delete_object_button', locals: {object: repo} %>
      <% end %>
    </td>
  </tr>
<% end %>
