<% if (example = @objects.select(&:push_url).first) %>

<p>
Sample git quick start:
</p>

<pre>
git clone <%= example.push_url %> <%= example.name unless example.push_url.match(/:(\S+)\.git$/).andand[1] == example.name %>
cd <%= example.name %>
# edit files
git add the/files/you/changed
git commit
git push
</pre>

<% end %>

<p>
  See also:
  <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; SSH access'),
  "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html",
      target: "_blank"%> and 
  <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; Writing a Crunch
  Script'),
  "#{Rails.configuration.arvados_docsite}/user/tutorials/tutorial-firstscript.html",
  target: "_blank"%>.
</p>
