---
layout: default
navsection: userguide
title: Adding a new Arvados repository
...

Arvados repositories are managed through the Git revision control system. You can use these repositories to store your crunch scripts and run them in the arvados cluster.

{% include 'tutorial_expectations' %}

h2. Setting up Git

Before you start using Git and arvados repositories, you should do some basic configuration (you only need to do this the first time):

<notextile>
<pre><code>~$ <span class="userinput">git config --global user.name "Your Name"</span>
~$ <span class="userinput">git config --global user.email $USER@example.com</span></code></pre>
</notextile>

h2. Add "tutorial" repository

On the Arvados Workbench, click on the dropdown menu icon <span class="fa fa-lg fa-user"></span> <span class="caret"></span> in the upper right corner of the top navigation menu to access the user settings menu, and click on the menu item *Repositories*.

In the *Repositories* page, you will see the *Add new repository* button.

!{display: block;margin-left: 25px;margin-right: auto;}{{ site.baseurl }}/images/repositories-panel.png!

Click the *Add new Repository* button to open the popup to add a new arvados repository. You will see a text box where you can enter the name of the repository. Enter *tutorial* in this text box and click on *Create*.

{% include 'notebox_begin' %}
The name you enter here must begin with a letter and can only contain alphanumeric characters.
{% include 'notebox_end' %}

!{display: block;margin-left: 25px;margin-right: auto;border:1px solid lightgray;}{{ site.baseurl }}/images/add-new-repository.png!

This will create a new repository with the name @$USER/tutorial@. It can be accessed using the URL <notextile><code>https://git.{{ site.arvados_api_host }}/$USER/tutorial.git</code></notextile> or <notextile><code>git@git.{{ site.arvados_api_host }}:$USER/tutorial.git</code></notextile>

Back in the *Repositories* page, you should see the @$USER/tutorial@ repository listed in the name column with these URLs.

!{display: block;margin-left: 25px;margin-right: auto;}{{ site.baseurl }}/images/added-new-repository.png!

You are now ready to use this *tutorial* repository to run your crunch scripts.
