<% unless @histogram_pretty_date.nil? %>
  <% content_for :tab_panes do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.renderHistogram(<%= raw @cache_age_histogram.to_json %>);
    });
  </script>
  <div class='graph'>
    <h3>Cache Age vs. Disk Utilization</h3>
    <h4>circa <%= @histogram_pretty_date %></h4>
    <div id='cache-age-vs-disk-histogram'>
    </div>
  </div>
  <% end %>
<% end %>
<%= content_for :content_top %>
<div class="pull-right">
  <%= content_for :tab_line_buttons %>
</div>
<%= content_for :tab_panes %>
