<h1>Listing collections</h1>

<table>
  <tr>
    <th>Locator</th>
    <th>Create by client</th>
    <th>Created by user</th>
    <th>Created at</th>
    <th>Modified by client</th>
    <th>Modified by user</th>
    <th>Modified at</th>
    <th>Portable data hash</th>
    <th>Name</th>
    <th>Redundancy</th>
    <th>Arbitrary string</th>
    <th>Redundancy confirmed by client</th>
    <th>Redundancy confirmed at</th>
    <th>Redundancy confirmed as</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= collection.locator %></td>
    <td><%= collection.create_by_client %></td>
    <td><%= collection.created_by_user %></td>
    <td><%= collection.created_at %></td>
    <td><%= collection.modified_by_client %></td>
    <td><%= collection.modified_by_user %></td>
    <td><%= collection.modified_at %></td>
    <td><%= collection.portable_data_hash %></td>
    <td><%= collection.name %></td>
    <td><%= collection.redundancy %></td>
    <td><%= collection.arbitrary_string %></td>
    <td><%= collection.redundancy_confirmed_by_client %></td>
    <td><%= collection.redundancy_confirmed_at %></td>
    <td><%= collection.redundancy_confirmed_as %></td>
    <td><%= link_to 'Show', collection %></td>
    <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
    <td><%= link_to 'Destroy', collection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection', new_collection_path %>
