<table class="table">
  <thead>
    <tr class="contain-align-left">
      <th>
	id
      </th><th>
	owner
      </th><th>
	name
      </th><th>
	key&nbsp;type
      </th><th>
	public&nbsp;key
      </th><th>
	expires
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |ak| ak[:created_at] }.each do |ak| %>

    <tr>
      <td>
        <%= link_to_if_arvados_object ak %>
      </td><td>
        <%= render_editable_attribute ak, 'owner' %>
      </td><td>
        <%= render_editable_attribute ak, 'name' %>
      </td><td>
        <%= render_editable_attribute ak, 'key_type', ak.key_type, "data-type" => "select", "data-source" => '[{value:"SSH",text:"SSH"}]' %>
      </td><td>
        <%= render_editable_attribute ak, 'public_key', ak.public_key.andand.sub(/^(.{12}).{16,}(.{16,})$/, '\1...\2') %>
      </td><td>
        <%= render_editable_attribute ak, 'expires_at' %>
      </td><td>
        <%= link_to raw('<i class="icon-trash"></i>'), { action: 'destroy', id: ak.uuid }, { confirm: 'Delete this key?', method: 'delete' } %>
      </td>
    </tr>

    <% end %>
    <% if @objects.count == 0 %>
    <tr>
      <td colspan="7">
        (no authorized keys)
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<%= button_to "Add a new key", { action: 'create', return_to: './' }, { class: 'btn btn-primary' } %>
