<table class="table table-hover">
  <thead>
    <tr class="contain-align-left">
      <th>
	id
      </th><th>
	owner
      </th><th>
	name
      </th><th>
	key&nbsp;type
      </th><th>
	public&nbsp;key
      </th><th>
	expires
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |ak| ak[:created_at] }.reverse.each do |ak| %>

    <tr>
      <td>
        <%= link_to_if_arvados_object ak %>
      </td><td>
        <%= render_editable_attribute ak, 'owner' %>
      </td><td>
        <%= render_editable_attribute ak, 'name' %>
      </td><td>
        <%= render_editable_attribute ak, 'key_type' %>
      </td><td>
        <%= render_editable_attribute ak, 'public_key' %>
      </td><td>
        <%= render_editable_attribute ak, 'expires_at' %>
      </td>
    </tr>

    <% end %>
    <% if @objects.count == 0 %>
    <tr>
      <td colspan="6">
        (no authorized keys)
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
