<ul class="nav nav-tabs">
  <li class="active"><a href="#properties" data-toggle="tab">Properties</a></li>
  <li><a href="#collections" data-toggle="tab">Collections (<%= @collections.count %>)</a></li>
</ul>

<div class="tab-content">
  <div id="properties" class="tab-pane fade in active">
    <%= render partial: 'application/orvos_object' %>
  </div>
  <div id="collections" class="tab-pane fade">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th style="text-align: right">size</th>
          <th>names</th>
          <th>collection</th>
          <th>keep</th>
        </tr>
      </thead><tbody>
        <% if @collections then @collections.each do |collection| %>
        <tr>
          <td style="text-align: right">
            <%= raw(human_readable_bytes_html(collection.total_bytes)) %>
          </td><td>
            <% (@names[collection.uuid] || []).compact.each do |name| %>
            <%= name %><br />
            <% end %>
          </td><td>
            <%= link_to_if_orvos_object collection %>
          </td><td>
            <% if @keep_flag[collection.uuid] %>
            <span class="badge badge-success">&#x2714;</span>
            <% else %>
            <span class="badge badge-warning">&#x2716;</span>
            <% end %>
          </td>
        </tr>
        <% end; end %>
      </tbody>
      <tfoot>
        <tr class="info">
          <td style="text-align: right">
            <%= raw(human_readable_bytes_html(@collections_total_bytes)) %>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
