<table class="table table-hover">
  <thead>
    <tr class="contain-align-left">
      <th>
	id
      </th><th>
	name
      </th><th>
	owner
      </th><th>
	incoming permissions
      </th><th>
	outgoing permissions
      </th><th>
	owned
      </th>
    </tr>
  </thead>
  <tbody>

    <% @groups.sort_by { |g| g[:created_at] }.reverse.each do |g| %>

    <tr>
      <td>
        <%= link_to_if_orvos_object g %>
      </td><td>
        <%= g.name %>
      </td><td>
        <%= g.owner %>
      </td><td>
        <%= @links_to.select { |x| x.head_uuid == g.uuid }.collect(&:tail_uuid).uniq.count %>
      </td><td>
        <%= @links_from.select { |x| x.tail_uuid == g.uuid }.collect(&:head_uuid).uniq.count %>
      </td><td>
        <%= @owned_users.select { |x| x.owner == g.uuid }.count %> users<br />
      </td>
    </tr>

    <% end %>

  </tbody>
</table>
