<% @objects.each do |obj| %>
  <% wu = obj.work_unit %>
  <tr data-object-uuid="<%= wu.uuid %>" >
    <td>
      <%= link_to_if_arvados_object obj, friendly_name: true %>
    </td>
    <td>
      <span class="label label-<%= wu.state_bootstrap_class %>"><%= wu.state_label %></span>
    </td>
    <td>
      <%= link_to_if_arvados_object wu.owner_uuid, friendly_name: true %>
    </td>
    <td>
      <%= render_localized_date(wu.created_at) %>
    </td>
    <td>
      <%= render partial: 'work_units/show_output', locals: {wu: wu, align: ''} %>
    </td>
    <td>
      <%= render partial: 'delete_object_button', locals: {object:obj} %>
    </td>
  </tr>
<% end %>
