---
layout: default
no_nav_left: true
navsection: top
title: Arvados | Documentation
...

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>ARVADOS</h1>
        <p>A free and open source platform for big data science</p>
      </div>
      <div class="col-sm-6">
        <img src="images/dax-reading-book.png" style="max-height: 10em" alt="Dax reading a book" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <p><a href="https://arvados.org/">Arvados</a>  enables you to quickly begin using cloud computing resources in your data science work. It allows you to track your methods and datasets, share them securely, and easily re-run analyses.
      </p>
      <p>Check out our <a href="{{ site.baseurl }}/start/index.html">key features</a>, complete with screenshots, and then follow our tutorial to <a href="{{ site.baseurl }}/start/getting_started/firstpipeline.html">run your first pipeline</a> using our <a href="http://lp.curoverse.com/beta-signup/">public beta</a>.
      </p>
      <p>On this page, you can also find more in-depth guides for using Arvados.
      </p>
    </div>
    <div class="col-sm-7" style="border-left: solid; border-width: 1px">
      <p>
        <a href="{{ site.baseurl }}/start/index.html">Getting Started</a> &mdash; Start here if you're new to Arvados.
      </p>
      <p>
        <a href="{{ site.baseurl }}/user/index.html">User Guide</a> &mdash; How to manage data and do analysis with Arvados.
      </p>
      <p>
        <a href="{{ site.baseurl }}/sdk/index.html">SDK Reference</a> &mdash; Details about the accessing Arvados from various programming languages.
      </p>
      <p>
        <a href="{{ site.baseurl }}/api/index.html">API Reference</a> &mdash; Details about the the Arvados REST API.
      </p>
      <p>
        <a href="{{ site.baseurl }}/admin/index.html">Admin Guide</a> &mdash; How to administer an Arvados system.
      </p>
      <p>
        <a href="{{ site.baseurl }}/install/index.html">Install Guide</a> &mdash; How to install Arvados on a cloud platform.
      </p>
    </div>
  </div>
</div>
