---
layout: default
no_nav_left: true
navsection: top
title: Arvados | Documentation
...

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>ARVADOS</h1>
        <p>manuals, guides, and references</p>
      </div>
      <div class="col-sm-6">
        <img src="images/dax.png" style="max-height: 10em"></img>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <p>This site contains documentation for the <a href="https://arvados.org/">Arvados platform</a>. The documentation is being developed as part of the open source project. It is a work in progress that has just gotten started. You can get involved by <a href="https://arvados.org/projects/arvados/wiki/Documentation">joining the documentation effort</a>.
    </div>
    <div class="col-sm-7" style="border-left: solid; border-width: 1px">
      <p>
        <a href="{{ site.baseurl }}/user/">User Guide</a> &mdash; How to manage data and do analysis with Arvados.
      </p>
      <p>
        <a href="{{ site.baseurl }}/sdk/">SDK Reference</a> &mdash; Details about the accessing Arvados from various programming languages.
      </p>
      <p>
        <a href="{{ site.baseurl }}/api/">API Reference</a> &mdash; Details about the the Arvados REST API.
      </p>
      <p>
        <a href="{{ site.baseurl }}/admin/">Admin Guide</a> &mdash; How to administer an Arvados system.
      </p>
      <p>
        <a href="{{ site.baseurl }}/install/">Install Guide</a> &mdash; How to install Arvados on a cloud platform.
      </p>      
    </div>
  </div>
</div>
