---
layout: default
no_nav_left: true
navsection: top
title: Arvados | Documentation
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>ARVADOS</h1>
        <p>A free and open source platform for big data science</p>
      </div>
      <div class="col-sm-6">
        <img src="images/dax-reading-book.png" style="max-height: 10em" alt="Dax reading a book" />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p><strong>What is Arvados</strong>
      <p><a href="https://arvados.org/">Arvados</a> is a platform for managing compute and storage for cloud and HPC clusters. It allows you to track your methods and datasets, share them securely, and easily re-run analyses.  It also make it possible to run analysis across multiple clusters (HPC, cloud, or hybrid) with <a href="{{site.baseurl}}/user/cwl/federated-workflows.html">Federated Multi-Cluster Workflows</a>.
      </p>

      <a name="Support"></a>
      <p><strong>Support and Community</strong></p>

      <p>Interact with the Arvados community on the <a href="https://forum.arvados.org">Arvados Forum</a>
	and the <a href="https://gitter.im/arvados/community">arvados/community</a> channel at gitter.im.
      </p>

      <p>Curii Corporation provides managed Arvados installations as well as commercial support for Arvados. Please contact <a href="mailto:info@curii.com">info@curii.com</a> for more information.</p>

      <p><strong>Contributing</strong></p>
      <p>Please visit the <a href="https://dev.arvados.org/projects/arvados/wiki/Wiki#Contributing-and-hacking">developer site</a>. Arvados is 100% free and open source software, check out the code on <a href="https://github.com/arvados/arvados">github</a>.

      <p>Arvados is under active development, see the <a href="https://dev.arvados.org/projects/arvados/activity">recent developer activity</a>.
      </p>
      <p><strong>License</strong></p>
      <p>Most of Arvados is licensed under the <a href="{{ site.baseurl }}/user/copying/agpl-3.0.html">GNU AGPL v3</a>. The SDKs are licensed under the <a href="{{ site.baseurl }}/user/copying/LICENSE-2.0.html">Apache License 2.0</a> so that they can be incorporated into proprietary code. See the <a href="https://github.com/arvados/arvados/blob/master/COPYING">COPYING file</a> for more information.
      </p>

    </div>
    <div class="col-sm-6" style="border-left: solid; border-width: 1px">
      <p><strong>More in-depth guides
      </strong></p>
      <!--<p>-->
        <!--<a href="{{ site.baseurl }}/start/index.html">Getting Started</a> &mdash; Start here if you're new to Arvados.-->
      <!--</p>-->
      <p>
        <a href="{{ site.baseurl }}/user/index.html">User Guide</a> &mdash; How to manage data and do analysis with Arvados.
      </p>
      <p>
        <a href="{{ site.baseurl }}/sdk/index.html">SDK Reference</a> &mdash; Details about the accessing Arvados from various programming languages.
      </p>
      <p>
        <a href="{{ site.baseurl }}/architecture/index.html">Arvados Architecture</a> &mdash; Details about the the Arvados components and architecture.
      </p>
      <p>
        <a href="{{ site.baseurl }}/api/index.html">API Reference</a> &mdash; Details about the the Arvados REST API.
      </p>
      <p>
        <a href="{{ site.baseurl }}/admin/index.html">Admin Guide</a> &mdash; Details about administering an Arvados cluster.
      </p>
      <p>
        <a href="{{ site.baseurl }}/install/index.html">Install Guide</a> &mdash; How to install Arvados.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <br>
      <p><em><small>
      The content of the above documentation is licensed under the
      <a href="{{ site.baseurl }}/user/copying/by-sa-3.0.html">Creative
        Commons Attribution-Share Alike 3.0 United States</a> license. Code samples in the above documentation are licensed under the
      <a href="{{ site.baseurl }}/user/copying/LICENSE-2.0.html">Apache License, Version 2.0.</a></small></em>
      </p>
    </div>
  </div>
</div>
