<%= content_for :tab_line_buttons do %>
<%= form_tag({action: 'compare', controller: params[:controller], method: 'get'}, {method: 'get', id: 'compare', class: 'pull-right small-form-margin'}) do |f| %>
  <%= submit_tag 'Compare selected', {class: 'btn btn-primary', disabled: true, style: 'display: none'} %>
  &nbsp;
<% end rescue nil %>
<% end %>

<%= form_tag do |f| %>

<table class="table table-hover">
  <thead>
    <tr class="contain-align-left">
      <th>
      </th><th>
	status
      </th><th>
	id
      </th><th>
	name
      </th><th>
	template
      </th><th>
	owner
      </th><th>
	components
      </th><th>
	dependencies
      </th><th>
	created
      </th><th>
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |ob| ob.created_at }.reverse.each do |ob| %>

    <tr data-object-uuid="<%= ob.uuid %>">
      <td>
        <%= check_box_tag 'uuids[]', ob.uuid, false %>
      </td><td>
        <% if ob.success %>
        <span class="label label-success">success</span>
        <% elsif ob.active %>
        <span class="label label-info">active</span>
        <% end %>
      </td><td>
        <%= link_to_if_arvados_object ob %>
      </td><td>
        <%= ob.name %>
      </td><td>
        <%= link_to_if_arvados_object ob.pipeline_template_uuid %>
      </td><td>
        <%= link_to_if_arvados_object ob.owner_uuid %>
      </td><td>
        <% ob.components.each do |cname, c| %>
        <% status = if !(c.is_a?(Hash) && c[:job].is_a?(Hash)) then nil elsif c[:job][:success] then 'success' elsif c[:job][:running] then 'info' else 'warning' end %>
        <span class="label <%= "label-#{status}" if status %>"><%= cname.to_s %></span>
        <% end %>
      </td><td>
        <small>
          <% ob.dependencies.each do |d| %>
          <%= d %><br />
          <% end %>
        </small>
      </td><td>
        <%= ob.created_at %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<% end %>

<% content_for :footer_js do %>
var showhide_compare = function() {
    var form = $('form#compare')[0];
    $('input[type=hidden][name="uuids[]"]', form).remove();
    $('input[type=submit]', form).prop('disabled',true);
    $('input[name="uuids[]"]').each(function(){
        if(this.checked) {
            $('input[type=submit]', form).prop('disabled',false).show();
            $(form).append($('<input type="hidden" name="uuids[]"/>').val(this.value));
        }
    });
};
$('form input[name="uuids[]"]').on('click', showhide_compare);
showhide_compare();
<% end %>
