  <table class="table pipeline-components-table">
    <colgroup>
      <col style="width: 15%" />
      <col style="width: 25%" />
      <col style="width: 8%" />
      <col style="width: 13%" />
      <col style="width: 12%" />
      <col style="width: 14%" />
      <col style="width: 13%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="2">
          component
        </th><th colspan="5">
          job
          <%# format:'js' here helps browsers avoid using the cached js
          content in html context (e.g., duplicate tab -> see
          javascript) %>
          <%= link_to '(refresh)', {format: :js}, {class: 'refresh hide', remote: true, method: 'get'} %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% render_pipeline_jobs.each do |pj| %>
        <tr data-object-uuid="<%= pj[:job].andand[:uuid] %>">
          <td>
            <%= pj[:name] %>
          </td><td>
            <%= pj[:script] %>
            <br /><span class="deemphasize"><%= pj[:script_version] %></span>
          </td><td>
            <%= render(partial: 'job_status_label', locals: { j: pj[:job] }) %>
          </td><td>
            <%= pj[:progress_bar] %>
          </td>
          <% current_job = Job.find(pj[:job][:uuid]) rescue nil %>
          <td>
            <% if current_job %>
              <%= render partial: 'show_object_button', locals: {object: current_job, size: 'xs', link_text: 'Show job details'} %>
            <% end %>
          </td><td>
            <% if current_job.andand[:log] %>
              <% fixup = /([a-f0-9]{32}\+\d+)(\+?.*)/.match(current_job[:log])%>
              <% Collection.limit(1).where(uuid: fixup[1]).each do |c| %>
                <% c.files.first.andand do |file| %>
                  <%= link_to url_for(controller: 'collections', action: 'show_file', uuid: current_job[:log], file: "#{file[0]}/#{file[1]}", disposition: 'inline', size: file[2]), class: 'btn btn-default btn-xs' do %>
                    <i class="fa fa-fw fa-info"></i> Show log messages
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td><td>
            <% if current_job.andand[:output] %>
              <%= link_to_if_arvados_object current_job[:output], {thumbnail: true, link_text: raw('<i class="fa fa-fw fa-archive"></i> Show output files')}, {class: 'btn btn-default btn-xs'} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr><td colspan="7"></td></tr>
    </tfoot>
  </table>
