<% content_for :css do %>
  .pipeline_color_legend {
    padding-left: 1em;
    padding-right: 1em;
  }
table.pipeline-components-table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

table.pipeline-components-table thead th {
  text-align: bottom;
}
table.pipeline-components-table div.progress {
  margin-bottom: 0;
}

table.pipeline-components-table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

td.required {
  background: #ffdddd;
}

<% end %>

<% template = PipelineTemplate.find(@object.pipeline_template_uuid) %>
<%= content_for :content_top do %>
  <% if template %>
    <h2><%= template.name %></h2>
  <% end %>
  
<% end %>

<% if @object.active != nil %>
<table class="table pipeline-components-table">
  <colgroup>
    <col style="width: 15%" />
    <col style="width: 20%" />
    <col style="width: 12%" />
    <col style="width: 12%" />
    <col style="width: 45%" />
  </colgroup>
  <thead>
    <tr>
      <th>
        component
      </th><th>
        script, version
      </th><th>
        progress
        <%= link_to '(refresh)', request.fullpath, class: 'refresh', remote: true, method: 'get' %>
      </th><th>
      </th><th>
        output
      </th>
    </tr>
  </thead>
  <tbody>
    <% render_pipeline_jobs.each do |pj| %>
    <tr>
      <td>
        <% job_status = render(partial: 'job_status_label', 
                               locals: { :j => pj[:job], :title => pj[:name] }) %>
        <% if pj[:job].andand[:uuid] %>
          <%= link_to(job_status, job_url(id: pj[:job][:uuid])) %>
        <% else %>
          <%= job_status %>
        <% end %>
      </td><td>
        <%= pj[:script] %>
        <br /><span class="deemphasize"><%= pj[:script_version] %></span>
      </td><td>
        <%= pj[:progress_bar] %>
      </td><td>
        <%= render(partial: 'job_status_label', 
                               locals: { :j => pj[:job] }) %>
      </td><td>
        <%= link_to_if_arvados_object pj[:output] %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5"></td></tr>
  </tfoot>
</table>

<% if @object.active %>
<% content_for :js do %>
setInterval(function(){$('a.refresh').click()}, 15000);
<% end %>
<% end %>

<% else %>

  <p>Please set the desired input parameters for the components of this pipeline.  Parameters highlighted in red are required.</p>

  <% content_for :tab_line_buttons do %>
    <%= form_tag @object, :method => :put do |f| %>
      
      <%= hidden_field @object.class.to_s.underscore.singularize.to_sym, :active, :value => true %>

      <%= button_tag "Run pipeline", {class: 'btn btn-primary pull-right', id: "run-pipeline-button"} %>
    <% end %>
  <% end %>

<table class="table pipeline-components-table" style="margin-top: -.1em">
  <colgroup>
    <col style="width: 15%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 45%" />
  </colgroup>

  <thead>
    <tr>
      <th>
        component
      </th><th>
        script
      </th><th>
        parameter
      </th><th>
        value
      </th>
    </tr>
  </thead>
  <tbody>
    <% template.components.each do |k, template_value| %>

    <tr>
      <td><span class="label label-default"><%= k %></span></td>

      <td><%= render_editable_subattribute @object, :components, [k, :script], template_value[:script] %></td>

      <td>script version</td>

      <td>
        <%= render_editable_subattribute @object, :components, [k, :script_version], template_value[:script_version] %>
      </td>
    </tr>

    <% if template_value[:script_parameters].length > 0 %>
      <% template_value[:script_parameters].each do |p, tv| %>
        <tr>
          <td style="border-top: none"></td>
          <td style="border-top: none"></td>
          
          <td class="property-edit-row"><%= p %></td>
          <td class="property-edit-row"><%= render_editable_subattribute @object, :components, [k, :script_parameters, p.to_sym], tv %></td>
      <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
  
<% end %>
