<% content_for :tab_line_buttons do %>
<%= form_tag({action: 'compare', controller: params[:controller], method: 'get'}, {method: 'get', id: 'compare', class: 'pull-right small-form-margin'}) do |f| %>
  <%= submit_tag 'Compare 2 or 3 selected', {class: 'btn btn-primary', disabled: true, style: 'display: none'} %>
  &nbsp;
<% end rescue nil %>

  <%= form_tag pipeline_instances_path, method: 'get', remote: true, class: 'form-search' do %>
    <div class="input-group">
      <input type="text" class="form-control filterable-control recent-pipeline-instances-filterable-control"
             placeholder="Search pipeline instances"
             data-filterable-target="#recent-pipeline-instances"/>
       <span class="input-group-btn">
         <%= button_tag(class: 'btn btn-info') do %>
         <span class="glyphicon glyphicon-search"></span>
         <% end %>
       </span>
    </div>
  <% end %>
<% end %>

<%= render file: 'application/index.html.erb', locals: local_assigns %>
