<% template = PipelineTemplate.find?(@object.pipeline_template_uuid) %>
<%= content_for :content_top do %>
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: 'name_and_description' %>
    </div>
    <% if template %>
      <div class="alert alert-info col-sm-6">
        This pipeline was created from the template <%= link_to_if_arvados_object template, friendly_name: true %><br />
        <% if template.modified_at && (template.modified_at > @object.created_at) %>
        Note: This template has been modified since this instance was created.
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :tab_line_buttons do %>
  <%= link_to(copy_pipeline_instance_path('id' => @object.uuid, 'pipeline_instance[state]' => 'New'),
      class: 'btn btn-primary',
      #data: {toggle: :tooltip, placement: :top}, title: 'copy and modify',
      method: :post,
      ) do %>
    Clone and edit <i class="fa fa-fw fa-copy"></i>
  <% end %>

  <% if @object.state.in? ['New', 'Ready'] %>
    <%= link_to(url_for('pipeline_instance[state]' => 'RunningOnServer'),
        class: 'btn btn-primary run-pipeline-button',
        method: :patch
        ) do %>
      Run <i class="fa fa-fw fa-play"></i>
    <% end %>
  <% else %>
    <% if @object.state.in? ['RunningOnClient', 'RunningOnServer'] %>
      <%= link_to(url_for('pipeline_instance[state]' => 'Paused'),
          class: 'btn btn-primary run-pipeline-button',
          method: :patch
          ) do %>
        Stop <i class="fa fa-fw fa-stop"></i>
      <% end %>
    <% elsif @object.state == 'Paused' %>
      <%= link_to(url_for('pipeline_instance[state]' => 'RunningOnServer'),
          class: 'btn btn-primary run-pipeline-button',
          method: :patch
          ) do %>
        Resume <i class="fa fa-fw fa-play"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'content', layout: 'content_layout', locals: {pane_list: controller.show_pane_list }%>
