<% content_for :css do %>
  .pipeline_color_legend {
    padding-left: 1em;
    padding-right: 1em;
  }
<% end %>

<table class="table table-condensed table-hover topalign">
  <thead>
  </thead>
  <tbody>
    <% @object.attributes_for_display.each do |attr, attrvalue| %>
    <% if attr == 'components' and attrvalue.is_a? Hash %>

    <tr class="info"><td><%= attr %></td><td>
        <table class="table">
          <% render_pipeline_jobs.each do |pj| %>
          <tr><% %w(index name result job_link script script_version progress_detail progress_bar output_link).each do |key| %>
            <td>
              <% if key == 'script_version' %>
              <%= pj[key.to_sym][0..6] rescue '' %>
              <% else %>
              <%= pj[key.to_sym] %>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
    </td></tr>

    <% else %>
    <%= render partial: 'application/arvados_object_attr', locals: { attr: attr, attrvalue: attrvalue } %>
    <% end %>
    <% end %>
  </tbody>
</table>

<div style="text-align: center">
<span class="pipeline_color_legend" style="background: #88ff88">This pipeline</span> 
<span class="pipeline_color_legend" style="background: #8888ff">Comparison pipeline</span>
<span class="pipeline_color_legend" style="background: #88ffff">Shared by both pipelines</span>
</div>

   <%= render partial: 'application/svg_div', locals: {
         divId: "provenance_graph", 
         svgId: "provenance_svg", 
         svg: @prov_svg } %>

<pre>
<%= JSON.pretty_generate(@object.attributes) rescue nil %>
</pre>
