<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%
  wu = @object.work_unit
  template_uuid = wu.template_uuid
  template = Workflow.find?(template_uuid) if template_uuid
  div_class = "col-sm-12"
  div_class = "col-sm-6" if template
%>

<div class="<%=div_class%>">
  <%= render partial: 'object_name' %>
  <%= render partial: 'object_description' %>
</div>

<% if template %>
  <div class="alert alert-info <%=div_class%>">
     This container request was created from the workflow <%= link_to_if_arvados_object template, friendly_name: true %><br />
     <% if template.modified_at && (template.modified_at > @object.created_at) %>
        Note: This workflow has been modified since this container request was created.
     <% end %>
  </div>
<% end %>
