<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%
n_inputs = if @object.mounts[:"/var/lib/cwl/workflow.json"] && @object.mounts[:"/var/lib/cwl/cwl.input.json"]
             cwl_inputs_required(@object, get_cwl_inputs(@object.mounts[:"/var/lib/cwl/workflow.json"][:content]), [:mounts, :"/var/lib/cwl/cwl.input.json", :content])
           else
             0
           end
%>

<% content_for :pi_input_form do %>
<form role="form" style="width:60%">
  <div class="form-group">
    <% workflow = @object.mounts[:"/var/lib/cwl/workflow.json"].andand[:content] %>
    <% if workflow %>
      <% inputs = get_cwl_inputs(workflow) %>
      <% inputs.each do |input| %>
        <label for="#input-<%= cwl_shortname(input[:id]) %>">
          <%= input[:label] || cwl_shortname(input[:id]) %>
        </label>
        <div>
          <p class="form-control-static">
            <%= render_cwl_input @object, input, [:mounts, :"/var/lib/cwl/cwl.input.json", :content] %>
          </p>
        </div>
        <p class="help-block">
          <%= input[:doc] %>
        </p>
      <% end %>
    <% end %>
  </div>
</form>
<% end %>

<% if n_inputs == 0 %>
  <p><i>This workflow does not need any further inputs specified.  Click the "Run" button at the bottom of the page to start the workflow.</i></p>
<% else %>
  <p><i>Provide <%= n_inputs > 1 ? 'values' : 'a value' %> for the following <%= n_inputs > 1 ? 'parameters' : 'parameter' %>, then click the "Run" button to start the workflow.</i></p>
<% end %>

<% if @object.editable? %>
  <%= content_for :pi_input_form %>
  <%= link_to(url_for('container_request[state]' => 'Committed'),
        class: 'btn btn-primary run-pipeline-button',
        method: :patch
        ) do %>
    Run <i class="fa fa-fw fa-play"></i>
  <% end %>
<% end %>

<%= render_unreadable_inputs_present %>
