<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%
  containers = @objects.map(&:container_uuid).compact.uniq
  preload_objects_for_dataclass(Container, containers) if containers.any?

  workflows = @objects.collect {|o| o.properties[:template_uuid]}.compact.uniq
  preload_objects_for_dataclass(Workflow, workflows) if workflows.any?

  owner_uuids = @objects.map(&:owner_uuid).compact.uniq
  preload_objects_for_dataclass(User, owner_uuids) if owner_uuids.any?
  preload_objects_for_dataclass(Group, owner_uuids) if owner_uuids.any?

  objs = containers + workflows + owner_uuids
  preload_links_for_objects objs if objs.any?
%>

<% @objects.sort_by { |obj| obj.created_at }.reverse.each do |obj| %>
  <% wu = obj.work_unit obj.name %>

  <tr data-object-uuid="<%= wu.uuid %>" class="cr-<%= wu.uuid %>">
    <td>
      <span class="label label-<%= wu.state_bootstrap_class %>"><%= wu.state_label %></span>
    </td><td>
      <%= link_to_if_arvados_object obj, friendly_name: true, link_text: if obj.name && !obj.name.empty? then obj.name else obj.uuid end %>
    </td><td>
      <%= obj.description || '' %>
    </td><td>
      <%= link_to_if_arvados_object wu.template_uuid, friendly_name: true %>
    </td><td>
      <%= link_to_if_arvados_object wu.owner_uuid, friendly_name: true %>
    </td><td>
      <%= wu.created_at.to_s %>
    </td><td>
      <%= render partial: 'delete_object_button', locals: {object:obj} %>
    </td>
  </tr>
<% end %>
