<% @job = @object %>
<div id="jobRerunModal" class="modal fade" role="dialog" aria-labelledby="jobRerunTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@job, method: :post, url: {controller: 'jobs', action: 'create'}) do |f| %>
        <% [:script, :repository, :supplied_script_version, :nondeterministic].each do |field_sym| %>
          <%= f.hidden_field(field_sym) %>
        <% end %>
        <% [:script_parameters, :runtime_constraints].each do |field_sym| %>
          <%= f.hidden_field(field_sym, value: @job.send(field_sym).to_json) %>
        <% end %>
        <div class="modal-header">
          <button type="button" class="close" onClick="reset_form()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div id="jobRerunTitle">
            <div class="col-sm-6"> <h4 class="modal-title">Re-run job</h4> </div>
          </div>
          <br/>
        </div>

        <div class="modal-body">
          <p> If this job is part of a pipeline, that pipeline would not know about the new job you are running.
              If you want to update your pipeline results, please re-run the pipeline instead.
          <p> The inputs and parameters will be the same as the current job.
              Thus, the new job will not reflect any changes made to the pipeline that initiated this job. </p>
          <div style="padding-left: 1em">
            <% if (@job.supplied_script_version.blank? or
                   (@job.supplied_script_version == @job.script_version)) %>
              <%= f.hidden_field(:script_version) %>
            <% else %>
              <%= f.radio_button("script_version", @job.script_version) %>
              <%= f.label(:script_version, "Use same script version as this run", value: @job.script_version) %>
              <p style="padding-left: 1em"> Use the same script version as the current job.</p>

              <%= f.radio_button(:script_version, @job.supplied_script_version) %>
              <%= f.label(:script_version, "Use latest script version", value: @job.supplied_script_version) %>
              <p style="padding-left: 1em"> Use the current commit indicated by '<%= @job.supplied_script_version %>' in the '<%= @job.repository %>' repository.</p>
            <% end %>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" onClick="reset_form()" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= f.submit(value: "Run now", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
