<% pj = {} %>
<% pj[:job] = @object %>
<% pj[:name] = @object[:name] || "this job" %>
<% tasks = JobTask.filter([['job_uuid', '=', @object.uuid]]).results %>
<%= render partial: 'pipeline_instances/running_component', locals: {tasks: tasks, pj: pj, i: 0, expanded: true} %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">Used in pipelines</span>
    </div>
    <div class="panel-body">
<% pi = PipelineInstance.order("created_at desc").filter([["components", "like", "%#{@object.uuid}%"]]) %>

<% pi.each do |pipeline| %>
  <% pipeline.components.each do |k, v| %>
    <% if v[:job] and v[:job][:uuid] == @object.uuid %>
      <div>
      <b><%= k %></b> component of <%= link_to_if_arvados_object pipeline, friendly_name: true %> 
      created at <span data-utc-date="<%= pipeline.created_at %>"><%= pipeline.created_at %></span>.
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
</div>
