<% content_for :css do %>
  table.topalign>tbody>tr>td {
  vertical-align: top;
  }
  table.topalign>thead>tr>td {
  vertical-align: bottom;
  }
<% end %>

<%= render partial: "paging", locals: {results: objects, object: @object} %>

<table class="topalign table">
  <thead>
    <tr class="contain-align-left">
      <th>
      </th><th>
	status
      </th><th>
	progress
      </th><th>
	uuid
      </th><th>
	script
      </th><th>
	version
      </th><th>
	output
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |j| j[:created_at] }.reverse.each do |j| %>

    <tr class="cell-noborder">
      <td>
        <i class="icon-plus-sign expand-collapse-row" data-id="<%= j.uuid %>" style="cursor: pointer"></i>
      </td>
      <td>
        <%= render partial: 'job_status_label', locals: {:j => j} %>
      </td>
      <td>
        <div class="inline-progress-container">
          <%= render partial: 'job_progress', locals: {:j => j} %>
        </div>
      </td>
      <td>
        <%= link_to_if_arvados_object j %>
      </td>
      <td>
        <%= j.script %>
      </td>
      <td>
        <%= j.script_version.andand[0..8] %>
      </td>
      <td>
        <%= link_to_if_arvados_object j.output %>
      </td>
    </tr>
    <tr class="cell-noborder" id="<%= j.uuid %>" style="display:none">
      <td colspan="7"><table class="table table-justforlayout"><tr>
      <td style="border-left: 1px solid black">
        <table class="table table-condensed">
          <tr>
            <td>
              queued
            </td>
            <td>
	      &#x2709;&nbsp;<span title="<%= j.created_at %>"><%= raw distance_of_time_in_words(Time.now, j.created_at).sub('about ','~').sub(' ','&nbsp;') + '&nbsp;ago' if j.created_at %></span>
            </td>
            <td>
	      <%= raw('for&nbsp;' + distance_of_time_in_words(j.started_at, j.created_at).sub('about ','~').sub(' ','&nbsp;')) if j.created_at and j.started_at %>
            </td>
          </tr>
          <% if j.started_at.is_a? Time %>
          <tr>
            <td>
              started
            </td>
            <td>
	      &#x2708;&nbsp;<span title="<%= j.created_at %>"><%= raw distance_of_time_in_words(j.started_at, Time.now).sub('about ','~').sub(' ','&nbsp;') + '&nbsp;ago' if j.started_at %></span>
            </td>
            <td>
              <% if j.finished_at.is_a? Time %>
	      <%= raw('ran&nbsp;' + distance_of_time_in_words(j.finished_at, j.started_at).sub('about ','~').sub(' ','&nbsp;')) %>
              <% elsif j.state == "Running" %>
              <span class="badge badge-success" title="tasks finished">&#x2714;&nbsp;<%= j.tasks_summary[:done] %></span>
              <span class="badge badge-info" title="tasks running">&#x2708;&nbsp;<%= j.tasks_summary[:running] %></span>
              <span class="badge" title="tasks todo">&#x2709;&nbsp;<%= j.tasks_summary[:todo] %></span>
              <% if j.tasks_summary[:failed] %>
              <span class="badge badge-warning" title="task failures">&#x2716;&nbsp;<%= j.tasks_summary[:failed] %></span>
              <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </td><td>
        <table class="table table-condensed">
          <tr><td colspan="2">
              <%= j.script %> <%= j.script_version %>
          </td></tr>
          <% j.script_parameters.sort.each do |k,v| %>
          <tr>
            <td><%= k %></td><td><%= link_to_if_arvados_object v %></td>
          </tr>
          <% end %>
          <tr>
            <td>output</td><td><%= link_to_if_arvados_object j.output %></td>
          </tr>
        </table>
      </td><td>
        <table class="table table-condensed">
        <% j.runtime_constraints.sort.each do |k,v| %>
        <tr><td><%= v %></td><td><%= k %></td></tr>
        <% end %>
        </table>
      </td>
      </tr></table></td>
    </tr>

    <% end %>

  </tbody>
</table>

