<% content_for :tab_line_buttons do %>
  <div class="pane-loaded arv-log-event-listener arv-refresh-on-state-change"
       data-pane-content-url="<%= url_for(params.merge(tab_pane: "job_buttons")) %>"
       data-object-uuid="<%= @object.uuid %>"
       style="display: inline">
    <% if @object.state != "Running" %>
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#jobRerunModal">
        <i class="fa fa-fw fa-gear"></i> Re-run job...
      </button>
    <% end %>
  </div>
<% end %>

<%= render partial: 'title_and_buttons' %>
<%= render partial: 'content', layout: 'content_layout', locals: {pane_list: controller.show_pane_list }%>
<%= render partial: 'rerun_job_with_options_popup' %>
