<% content_for :tab_line_buttons do %>
  <div class="pane-loaded arv-log-event-listener arv-refresh-on-state-change"
       data-pane-content-url="<%= url_for(params.merge(tab_pane: "job_buttons")) %>"
       data-object-uuid="<%= @object.uuid %>"
       style="display: inline">
    <%= render partial: 'show_job_buttons', locals: {object: @object}%>
  </div>
<% end %>

<%= render partial: 'title_and_buttons' %>
<%= render partial: 'content', layout: 'content_layout', locals: {pane_list: controller.show_pane_list }%>
<div id="rerun-job-with-options-popup"></div>
