<div class="modal modal-with-loading-spinner">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" onClick="reset_form()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= params[:title] || 'Choose project' %></h4>
      </div>

      <div class="modal-body">
        <div class="spinner spinner-32px spinner-h-center spinner-v-center" hidden="true"></div>
        <div class="selectable-container" style="height: 15em; overflow-y: scroll">
          <% [my_project_tree, shared_project_tree].each do |tree| %>
            <% tree.each do |projectnode| %>
              <% if projectnode[:object].is_a? String %>
                <div class="row" style="padding-left: <%= 1 + projectnode[:depth] %>em; margin-right: 0px">
                  <i class="fa fa-fw fa-folder-open-o"></i>
                  <%= projectnode[:object] %>
                </div>
              <% else %>
                <div class="<%= 'selectable project' if !params[:editable] || projectnode[:object].editable? %> row"
                     style="padding-left: <%= 1 + projectnode[:depth] %>em; margin-right: 0px" data-object-uuid="<%= projectnode[:object].uuid %>">
                  <i class="fa fa-fw fa-folder-o"></i>
                  <% if projectnode[:object].uuid == current_user.uuid %>
                    My Projects
                  <% else %>
                    <%= projectnode[:object].friendly_link_name || 'New project' %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" aria-hidden="true"><%= params[:action_name] || 'Select' %></button>
        <div class="modal-error hide" style="text-align: left; margin-top: 1em;">
        </div>
      </div>
    </div>
  </div>
</div>
