<div class="container-fluid arv-project-list">
  <% tree.each do |projectnode| %>
    <% rowtype = projectnode[:object].class %>
    <% next if rowtype != Group and !show_root_node %>
    <div class="<%= 'project' if rowtype.in?([Group,User]) %> row">
      <div class="col-md-4" style="padding-left: <%= projectnode[:depth] - (show_root_node ? 0 : 1) %>em;">
        <% if show_root_node and rowtype == String %>
          <i class="fa fa-fw fa-share-alt"></i>
          <%= projectnode[:object] %>
        <% elsif show_root_node and rowtype == User %>
          <% if projectnode[:object].uuid == current_user.andand.uuid %>
            <i class="fa fa-fw fa-folder-o"></i>
            <%= link_to project_path(id: projectnode[:object].uuid) do %>
              Home
            <% end %>
          <% else %>
            <i class="fa fa-fw fa-folder-o"></i>
            <%= projectnode[:object].friendly_link_name %>
          <% end %>
        <% elsif rowtype == Group %>
          <i class="fa fa-fw fa-folder-o"></i>
          <%= link_to projectnode[:object] do %>
            <%= projectnode[:object].friendly_link_name %>
          <% end %>
        <% end %>
      </div>
      <% if projectnode[:object].respond_to?(:description) and not projectnode[:object].description.blank? %>
        <div class="col-md-8 small"><%= render_textile_attribute projectnode[:object], "description", true %></div>
      <% end %>
    </div>
  <% end %>
</div>
