<div>
  <% any = false %>
  <% recent_jobs_and_pipelines[0..9].each do |object| %>
    <% any = true %>
    <div class="row" style="height: 4.5em">
      <div class="col-sm-4">
        <%= render :partial => "show_object_button", :locals => {object: object, size: 'xs'} %>
        <% if object.respond_to?(:name) %>
          <%= render_editable_attribute object, 'name', nil, {}, {tiptitle: 'rename'} %>
        <% else %>
          <%= object.class_for_display %> <%= object.uuid %>
        <% end %>
      </div>
      <div class="col-sm-8 arv-description-in-table">
        <%= render_controller_partial(
            'show_object_description_cell.html',
            controller_name: object.controller_name,
            locals: {object: object})
            %>
      </div>
    </div>
  <% end %>
  <% if not any %>
    <span class="deemphasize">No jobs or pipelines to display.</span>
  <% end %>
</div>
