  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" style="min-height: 10.5em">
        <div class="panel-heading"><span class="panel-title">Recent pipelines and processes</span>
          <% if current_user.andand.is_active %>
            <span class="pull-right">
              <span>
                <%= link_to(
                choose_pipeline_templates_path(
                  title: 'Choose a pipeline to run:',
                  action_name: 'Next: choose inputs <i class="fa fa-fw fa-arrow-circle-right"></i>',
                  action_href: pipeline_instances_path,
                  action_method: 'post',
                  action_data: {'selection_param' => 'pipeline_instance[pipeline_template_uuid]', 'pipeline_instance[owner_uuid]' => current_user.uuid, 'success' => 'redirect-to-created-object'}.to_json),
                { class: "btn btn-primary btn-xs", remote: true }) do %>
                  <i class="fa fa-fw fa-gear"></i> Run a pipeline...
                <% end %>
              </span>
              <span>
                  <%= link_to pipeline_instances_path, class: 'btn btn-default btn-xs' do %>
                    All pipelines <i class="fa fa-fw fa-arrow-circle-right"></i>
                  <% end %>
              </span>
            </span>
          <% end %>
        </div>

        <% _recent_processes = recent_processes(12) %>
        <div class="panel-body recent-processes">
          <% if _recent_processes.empty? %>
            No recent pipelines or processes.
          <% else %>
          <% _recent_processes.each do |p| %>
            <% wu = p.work_unit %>
            <% if wu.is_finished? %>
            <div class="dashboard-panel-info-row">
              <div class="row">
                <div class="col-md-6 text-overflow-ellipsis">
                  <%= link_to_if_arvados_object p, {friendly_name: true} %>
                </div>
                <div class="col-md-2">
                  <span class="label label-<%=wu.state_bootstrap_class%>"><%=wu.state_label%></span>
                </div>
                <div class="col-md-4">
                  <%= render_localized_date(wu.finished_at || wu.modified_at, "noseconds") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <% if wu.started_at and wu.finished_at %>
                    <% wu_time = wu.finished_at - wu.started_at %>
                    Active for <%= render_runtime(wu_time, false) %>
                  <% end %>

                  <span class="pull-right text-overflow-ellipsis" style="max-width: 100%">
                    <% outputs = wu.outputs %>
                    <% if outputs.size == 0 %>
                      No output.
                    <% elsif outputs.size == 1 %>
                      <i class="fa fa-fw fa-archive"></i> <%= link_to_if_arvados_object outputs[0], friendly_name: true %>
                    <% else %>
                      <%= render partial: 'work_unit/show_outputs', locals: {id: wu.uuid, outputs: outputs, align:"pull-right"} %>
                    <% end %>
                  </span>
                </div>
              </div>

            </div>
            <% else %>
            <div class="dashboard-panel-info-row">
              <div class="clearfix">
                <%= link_to_if_arvados_object p, {friendly_name: true} %>
                <div class="pull-right" style="width: 40%">
                  <div class="progress" style="margin-bottom: 0px">
                    <% wu.progress %>
                  </div>
                </div>
              </div>

              <%
                children = wu.children
                running = children.select { |c| c.state_label == "Running" }
                queued = children.select { |c| c.state_label == "Queued" }
              %>

              <div class="clearfix">
                Started at <%= render_localized_date(wu.started_at || wu.created_at, "noseconds") %>.
                <% wu_time = Time.now - (wu.started_at || wu.created_at) %>
                Active for <%= render_runtime(wu_time, false) %>.

                <div class="pull-right">
                  <% running.each do |r| %>
                    <span class="label label-<%= r.state_bootstrap_class %>"> <%= r.label || r.state_label || 'Not ready' %> </span>
                  <% end %>
                  <% queued.each do |q| %>
                    <span class="label label-<%= q.state_bootstrap_class %>"> <%= q.label || r.state_label || 'Not ready' %> </span>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <% nodes = Node.all %>
      <div class="panel panel-default" style="min-height: 10.5em">
        <div class="panel-heading"><span class="panel-title">Compute node status</span>
          <span class="pull-right">
            <% if current_user.andand.is_admin %>
              <span>
                <%= link_to nodes_path, class: 'btn btn-default btn-xs' do %>
                  All nodes <i class="fa fa-fw fa-arrow-circle-right"></i>
                <% end %>
              </span>
            <% end %>
            <span>
              <%= link_to jobs_path, class: 'btn btn-default btn-xs' do %>
                All jobs <i class="fa fa-fw fa-arrow-circle-right"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="panel-body compute-node-summary-pane">
          <div>
            <%= render partial: 'compute_node_summary', locals: {nodes: nodes} %>
            <% active_nodes = [] %>
            <% nodes.sort_by { |n| n.hostname || "" }.each do |n| %>
              <% if n.crunch_worker_state.in? ["busy", "idle"] and (Time.now - n[:last_ping_at]) < 3600 %>
                <% active_nodes << n %>
              <% end %>
            <% end %>
            <% if active_nodes.any? %>
              <div style="text-align: center">
                <a data-toggle="collapse" href="#compute_node_status">Details <span class="caret"></span></a>
              </div>
            <% end %>
          </div>
          <div id="compute_node_status" class="collapse">
            <%= render partial: 'compute_node_status', locals: {nodes: active_nodes} %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><span class="panel-title">Recent collections</span>
          <span class="pull-right">
            <%= link_to collections_path, class: 'btn btn-default btn-xs' do %>
              All collections <i class="fa fa-fw fa-arrow-circle-right"></i>
            <% end %>
          </span>
        </div>
        <div class="panel-body">
          <% r = recent_collections(8) %>
          <% r[:collections].each do |p| %>
            <div class="dashboard-panel-info-row">
              <div>
                <i class="fa fa-fw fa-folder-o"></i><%= link_to_if_arvados_object r[:owners][p[:owner_uuid]], friendly_name: true %>/
                <span class="pull-right"><%= render_localized_date(p[:modified_at], "noseconds") %></span>
              </div>
              <div class="text-overflow-ellipsis" style="margin-left: 1em; width: 100%"><%= link_to_if_arvados_object p, {friendly_name: true, no_tags: true} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
