<% get_objects_and_names.each do |object, name_link| %>
  <% name_object = (object.respond_to?(:name) || !name_link) ? object : name_link %>
  <tr class="filterable"
      data-object-uuid="<%= name_object.uuid %>"
      data-kind="<%= object.kind %>"
      data-object-created-at="<%= object.created_at %>"
      >
    <td>
      <div style="width:1em; display:inline-block;">
        <%= render partial: 'selection_checkbox', locals: {object: object, friendly_name: ((name_object.name rescue '') || '')} %>
      </div>
    </td>

    <td>
      <% if @object.editable? %>
        <%= link_to({action: 'remove_item', id: @object.uuid, item_uuid: ((name_link && name_link.uuid) || object.uuid)}, method: :delete, remote: true, data: {confirm: "Remove #{object.class_for_display.downcase} #{name_object.name rescue object.uuid} from this project?", toggle: 'tooltip', placement: 'top'}, class: 'btn btn-sm btn-default btn-nodecorate', title: 'remove') do %>
          <i class="fa fa-fw fa-trash-o"></i>
        <% end %>
      <% else %>
        <i class="fa fa-fw"></i><%# placeholder %>
      <% end %>
    </td>

    <td>
      <%= render :partial => "show_object_button", :locals => {object: object, size: 'sm', name_link: name_link} %>
    </td>

    <td>
      <%= render_editable_attribute (name_link || object), 'name', nil, {tiptitle: 'rename'} %>
    </td>

    <td class="arv-description-in-table">
      <%= render_controller_partial(
          'show_object_description_cell.html',
          controller_name: object.controller_name,
          locals: {object: object})
          %>
    </td>
  </tr>
<% end %>
