<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%
  recent_procs = recent_processes(12)

  # preload container_uuids of any container requests
  recent_crs = recent_procs.map {|p| p if p.is_a?(ContainerRequest)}.compact.uniq
  recent_cr_containers = recent_crs.map {|cr| cr.container_uuid}.compact.uniq
  if recent_cr_containers.andand.any?
    preload_objects_for_dataclass(Container, recent_cr_containers, nil,
				["uuid", "started_at", "finished_at", "state", "runtime_status", "created_at", "modified_at", "exit_code"])
  end

  wus = {}
  outputs = []
  recent_procs.each do |p|
    wu = p.work_unit

    wus[p] = wu
    outputs << wu.outputs
  end
  outputs = outputs.flatten.uniq

  collection_pdhs = outputs.select {|x| !(m = CollectionsHelper.match(x)).nil?}.uniq.compact
  collection_uuids = outputs - collection_pdhs

  if Rails.configuration.Workbench.ShowRecentCollectionsOnDashboard
    recent_cs = recent_collections(8)
    collection_uuids = collection_uuids + recent_cs[:collections].collect {|c| c.uuid}
    collection_uuids.flatten.uniq
  end

  preload_collections_for_objects collection_uuids if collection_uuids.any?
  preload_for_pdhs collection_pdhs if collection_pdhs.any?
  preload_links_for_objects(collection_pdhs + collection_uuids)
%>

<%
  recent_procs_panel_width = 6
  if !PipelineInstance.api_exists?(:create)
    recent_procs_title = 'Recent processes'
    run_proc_title = 'Choose a workflow to run:'
    show_node_status = false
    # Recent processes panel should take the entire width when is the only one
    # being rendered.
    if !Rails.configuration.Workbench.ShowRecentCollectionsOnDashboard
      recent_procs_panel_width = 12
    end
  else
    recent_procs_title = 'Recent pipelines and processes'
    run_proc_title = 'Choose a pipeline or workflow to run:'
    show_node_status = true
  end
%>

  <div class="row">
    <div class="col-md-<%= recent_procs_panel_width %>">
      <div class="panel panel-default" style="min-height: 10.5em">
        <div class="panel-heading">
          <span class="panel-title"><%=recent_procs_title%></span>
          <% if current_user.andand.is_active %>
            <span class="pull-right recent-processes-actions">
              <span>
                <%= link_to(
                choose_work_unit_templates_path(
                  title: run_proc_title,
                  action_name: 'Next: choose inputs <i class="fa fa-fw fa-arrow-circle-right"></i>',
                  action_href: work_units_path,
                  action_method: 'post',
                  action_data: {'selection_param' => 'work_unit[template_uuid]', 'work_unit[owner_uuid]' => current_user.uuid, 'success' => 'redirect-to-created-object'}.to_json),
                { class: "btn btn-primary btn-xs", remote: true }) do %>
                  <i class="fa fa-fw fa-gear"></i> Run a process...
                <% end %>
              </span>
              <span>
                  <%= link_to all_processes_path, class: 'btn btn-default btn-xs' do %>
                    All processes <i class="fa fa-fw fa-arrow-circle-right"></i>
                  <% end %>
              </span>
            </span>
          <% end %>
        </div>

        <div class="panel-body recent-processes">
          <% if recent_procs.empty? %>
            No recent pipelines or processes.
          <% else %>
          <% wus.each do |p, wu| %>
            <%
            # Set up tooltip containing useful runtime information
            runtime_status_tooltip = nil
            if wu.runtime_status
              if wu.runtime_status[:error]
                runtime_status_tooltip = "Error: #{wu.runtime_status[:error]}"
              elsif wu.runtime_status[:warning]
                runtime_status_tooltip = "Warning: #{wu.runtime_status[:warning]}"
              end
            end
            %>
            <% if wu.is_finished? %>
            <div class="dashboard-panel-info-row row-<%=wu.uuid%>" title="<%=sanitize(runtime_status_tooltip)%>">
              <div class="row">
                <div class="col-md-6 text-overflow-ellipsis">
                  <%= link_to_if_arvados_object p, {friendly_name: true} %>
                </div>
                <div class="col-md-2">
                  <span class="label label-<%=wu.state_bootstrap_class%>"><%=wu.state_label%></span>
                </div>
                <div class="col-md-4">
                  <%= render_localized_date(wu.finished_at || wu.modified_at, "noseconds") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <% if wu.started_at and wu.finished_at %>
                    <% wu_time = wu.finished_at - wu.started_at %>
                    Active for <%= render_runtime(wu_time, false) %>
                  <% end %>

                  <%= render partial: 'work_units/show_output', locals: {wu: wu, align: 'pull-right', include_icon: true} %>
                </div>
              </div>

            </div>
            <% else %>
            <div class="dashboard-panel-info-row row-<%=wu.uuid%>" title="<%=sanitize(runtime_status_tooltip)%>">
              <div class="row">
                <div class="col-md-6 text-overflow-ellipsis">
                  <%= link_to_if_arvados_object p, {friendly_name: true} %>
                </div>
                <div class="col-md-2">
                  <span class="label label-<%=wu.state_bootstrap_class%>"><%=wu.state_label%></span>
                </div>
              </div>

              <div class="clearfix">
                <% if wu.started_at %>
                  Started at <%= render_localized_date(wu.started_at, "noseconds") %>
                  Active for <%= render_runtime(Time.now - wu.started_at, false) %>.
                <% else %>
                  Created at <%= render_localized_date(wu.created_at, "noseconds") %>.
                  <% if wu.state_label == 'Queued' %>
                    Queued for <%= render_runtime(Time.now - wu.created_at, false) %>.
                  <% end %>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <% if show_node_status %>
      <% nodes = Node.filter([["last_ping_at", ">", Time.now - 3600]]).results %>
      <div class="panel panel-default" style="min-height: 10.5em">
        <div class="panel-heading"><span class="panel-title">Compute node status</span>
          <span class="pull-right compute-node-actions">
            <% if current_user.andand.is_admin %>
              <span>
                <%= link_to nodes_path, class: 'btn btn-default btn-xs' do %>
                  All nodes <i class="fa fa-fw fa-arrow-circle-right"></i>
                <% end %>
              </span>
            <% end %>
          </span>
        </div>
        <div class="panel-body compute-node-summary-pane">
          <div>
            <%= render partial: 'compute_node_summary', locals: {nodes: nodes} %>
            <% active_nodes = [] %>
            <% nodes.sort_by { |n| n.hostname || "" }.each do |n| %>
              <% if n.crunch_worker_state.in? ["busy", "idle"] %>
                <% active_nodes << n %>
              <% end %>
            <% end %>
            <% if active_nodes.any? %>
              <div style="text-align: center">
                <a data-toggle="collapse" href="#compute_node_status">Details <span class="caret"></span></a>
              </div>
            <% end %>
          </div>
          <div id="compute_node_status" class="collapse">
            <%= render partial: 'compute_node_status', locals: {nodes: active_nodes} %>
          </div>
        </div>
      </div>
      <% end %>
       <% if Container.api_exists?(:index) %>
      <div class="panel panel-default" style="min-height: 10.5em">
        <div class="panel-heading"><span class="panel-title">Container status</span></div>
        <div class="panel-body containers-summary-pane">
          <div>
            <%= render partial: 'container_summary' %>
	  </div>
	</div>
      </div>
      <% end %>
      <% if Rails.configuration.Workbench.ShowRecentCollectionsOnDashboard %>
      <div class="panel panel-default">
        <div class="panel-heading"><span class="panel-title">Recent collections</span>
          <span class="pull-right">
            <%= link_to collections_path, class: 'btn btn-default btn-xs' do %>
              All collections <i class="fa fa-fw fa-arrow-circle-right"></i>
            <% end %>
          </span>
        </div>
        <div class="panel-body">
          <% recent_cs[:collections].each do |p| %>
            <div class="dashboard-panel-info-row">
              <div>
                <% if recent_cs[:owners][p[:owner_uuid]].is_a?(Group) %>
                <i class="fa fa-fw fa-folder-o"></i><%= link_to_if_arvados_object recent_cs[:owners][p[:owner_uuid]], friendly_name: true %>/
                <% end %>
                <span class="pull-right"><%= render_localized_date(p[:modified_at], "noseconds") %></span>
              </div>
              <div class="text-overflow-ellipsis" style="margin-left: 1em; width: 100%"><%= link_to_if_arvados_object p, {friendly_name: true, no_tags: true} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
