<div>
  <div class="row">
    <div class="col-sm-6">
      <% if my_projects.empty? %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              Welcome to <b><%= Rails.configuration.site_name %></b>.
            </h3>
          </div>
          <div class="panel-body">
            <img src="/favicon.ico" class="pull-right" alt="" style="opacity: 0.3"/>
            <p>
              This site runs Arvados, the open source biomedical analysis platform. <a href="https://arvados.org" target="_blank">Learn more&hellip;</a>
            </p>
            <p>
              <b>To get started,</b> create a project using the "Add new project" button below.
            </p>
          </div>
        </div>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= button_to projects_path(method: 'post'), class: 'btn btn-xs btn-primary' do %>
              <i class="fa fa-fw fa-plus"></i>
              Add new project
            <% end %>
          </div>
          <h3 class="panel-title">
            My projects
          </h3>
        </div>
        <div class="panel-body scroll-20em">
          <%= render partial: 'index_projects', locals: {tree: my_project_tree, show_root_node: true} %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Projects shared with me
          </h3>
        </div>
        <div class="panel-body scroll-20em">
          <%= render partial: 'index_projects', locals: {tree: shared_project_tree, show_root_node: false} %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'compute_node_status' %>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Pipelines running</div>
        <div class="panel-body">
          <% running_pipelines.each do |p| %>
            <div>
            <%= link_to_if_arvados_object p, friendly_name: true %>
            </div>
            <div>
              [Progress] <span class="pull-right"><%= p[:modified_at] %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Recently finished pipelines</div>
        <div class="panel-body">
          <% finished_pipelines(8).each do |p| %>
            <div>
              <%= link_to_if_arvados_object p, friendly_name: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">Recent collections</div>
        <div class="panel-body" style="overflow-x: scroll;">
          <% r = recent_collections(8) %>
          <% r[:collections].each do |p| %>
            <div>
              <i class="fa fa-fw fa-folder-o"></i><%= link_to_if_arvados_object r[:owners][p[:owner_uuid]], friendly_name: true %>/
              <span class="pull-right"><%= p[:modified_at] %></span>
            </div>
            <div style="margin-left: 1em">
              <i class="fa fa-fw fa-archive"></i><%= link_to_if_arvados_object p, friendly_name: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to jobs_path, class: 'btn btn-default btn-xs' do %>
              All jobs <i class="fa fa-fw fa-arrow-circle-right"></i>
            <% end %>
            <%= link_to pipeline_instances_path, class: 'btn btn-default btn-xs' do %>
              All pipelines <i class="fa fa-fw fa-arrow-circle-right"></i>
            <% end %>
          </div>
          <h3 class="panel-title">
            Recent jobs and pipelines
          </h3>
        </div>
        <div class="panel-body">
          <%= render partial: 'index_jobs_and_pipelines' %>
        </div>
      </div>
    </div>
  </div>
</div>
