<div>

  <%= render partial: 'compute_node_status' %>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Pipelines running</div>
        <div class="panel-body" style="overflow-x: scroll;">
          <% running_pipelines.each do |p| %>
            <div>
            <%= link_to_if_arvados_object p, friendly_name: true %>
            </div>
            <div>
              [Progress] <span class="pull-right"><%= p[:modified_at] %></span>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Recently finished pipelines</div>
        <div class="panel-body" style="overflow-x: scroll;">
          <% finished_pipelines(8).each do |p| %>
            <div>
              <%= link_to_if_arvados_object p, friendly_name: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Recent collections</div>
        <div class="panel-body" style="overflow-x: scroll;">
          <% r = recent_collections(8) %>
          <% r[:collections].each do |p| %>
            <div>
              <i class="fa fa-fw fa-folder-o"></i><%= link_to_if_arvados_object r[:owners][p[:owner_uuid]], friendly_name: true %>/
              <span class="pull-right"><%= p[:modified_at] %></span>
            </div>
            <div style="margin-left: 1em"><%= link_to_if_arvados_object p, friendly_name: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to jobs_path, class: 'btn btn-default btn-xs' do %>
              All jobs <i class="fa fa-fw fa-arrow-circle-right"></i>
            <% end %>
            <%= link_to pipeline_instances_path, class: 'btn btn-default btn-xs' do %>
              All pipelines <i class="fa fa-fw fa-arrow-circle-right"></i>
            <% end %>
          </div>
          <h3 class="panel-title">
            Recent jobs and pipelines
          </h3>
        </div>
        <div class="panel-body">
          <%= render partial: 'index_jobs_and_pipelines' %>
        </div>
      </div>
    </div>
  </div>
</div>
