<% content_for :arvados_object_table do %>
<%= form_for @object do |f| %>
<table class="table topalign">
  <thead>
  </thead>
  <tbody>
    <% @object.attributes_for_display.each do |attr, attrvalue| %>
    <%= render partial: 'application/arvados_object_attr', locals: { attr: attr, attrvalue: attrvalue } %>
    <% end %>
  </tbody>
</table>
<% end %>
<% end %>

<% if content_for? :page_content %>
<%= yield :page_content %>
<% else %>
<%= yield :arvados_object_table %>
<% end %>

<div>
  <ul class="nav nav-tabs">
    <% if content_for? :page_content %>
    <li><a href="#arvados-object-table" data-toggle="tab">Table</a></li>
    <% end %>
    <li class="active"><a href="#arvados-object-json" data-toggle="tab">API response JSON</a></li>
    <% if @object.andand.uuid %>
    <li><a href="#arvados-object-curl" data-toggle="tab">curl update example</a></li>
    <li><a href="#arvados-object-arv" data-toggle="tab">&ldquo;arv&rdquo; CLI examples</a></li>
    <li><a href="#arvados-object-python" data-toggle="tab">Python example</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% if content_for? :page_content %>
    <div id="arvados-object-table" class="tab-pane fade">
      <%= yield :arvados_object_table %>
    </div>
    <% end %>
    <div id="arvados-object-json" class="tab-pane fade in active">
      <pre>
<%= JSON.pretty_generate(@object.attributes.reject { |k,v| k == 'id' }) rescue nil %>
      </pre>
    </div>

    <% if @object.andand.uuid %>

    <div id="arvados-object-curl" class="tab-pane fade">
      <pre>
curl -X PUT \
 -H "Authorization: OAuth2 $ARVADOS_API_TOKEN" \
 --data-urlencode <%= @object.class.to_s.underscore %>@/dev/stdin \
 https://$ARVADOS_API_HOST/arvados/v1/<%= @object.class.to_s.pluralize.underscore %>/<%= @object.uuid %> \
 &lt;&lt;EOF
<%= JSON.pretty_generate({@object.attributes.keys[-3] => @object.attributes.values[-3]}) %>
EOF
      </pre>
    </div>

    <div id="arvados-object-arv" class="tab-pane fade">
      <pre>
arv --pretty <%= @object.class.to_s.underscore %> get \
 --uuid <%= @object.uuid %>

arv <%= @object.class.to_s.underscore %> update \
 --uuid <%= @object.uuid %> \
 --<%= @object.class.to_s.underscore.gsub '_', '-' %> '<%= JSON.generate({@object.attributes.keys[-3] => @object.attributes.values[-3]}).gsub("'","'\''") %>'
      </pre>
    </div>

    <div id="arvados-object-python" class="tab-pane fade">
      <pre>
import arvados

x = arvados.api().<%= @object.class.to_s.pluralize.underscore %>().get(uuid='<%= @object.uuid %>').execute()
      </pre>
    </div>

    <% end %>

  </div>
</div>
