<% object ||= @object %>
<% if attrvalue.is_a? Hash then attrvalue.each do |infokey, infocontent| %>
<tr class="info">
  <td><%= attr %>[<%= infokey %>]</td>
  <td>
    <%= render partial: 'application/arvados_attr_value', locals: { obj: object, attr: nil, attrvalue: infocontent } %>
  </td>
</tr>
<% end %>
<% elsif attrvalue.is_a? String or attrvalue.respond_to? :to_s %>
<tr class="<%= 'info' if %w(uuid owner_uuid created_at modified_at modified_by_user_uuid modified_by_client_uuid updated_at).include?(attr.to_s) %>">
  <td><%= attr %></td>
  <td>
    <%= render partial: 'application/arvados_attr_value', locals: { obj: object, attr: attr, attrvalue: attrvalue } %>
  </td>
</tr>
<% end %>
