<% if attrvalue.is_a? Array and attrvalue.collect(&:class).uniq.compact == [String] %>
  <% attrvalue.each do |message| %>
    <%= message %><br />
  <% end %>
<% else %>
      <% if obj.attribute_editable?(attr) and (!defined?(editable) || editable) %>
        <% if resource_class_for_uuid(attrvalue, {referring_object: obj, referring_attr: attr}) %>
          <%= link_to_if_arvados_object attrvalue, {referring_attr: attr, referring_object: obj, with_class_name: true, friendly_name: true} %>
          <br>
        <% end %>
        <%= render_editable_attribute obj, attr %>
      <% elsif attr == 'uuid' %>
        <%= link_to_if_arvados_object attrvalue, {referring_attr: attr, referring_object: obj, with_class_name: false, friendly_name: false} %>
      <% else %>
        <%= link_to_if_arvados_object attrvalue, {referring_attr: attr, referring_object: obj, with_class_name: true, friendly_name: true, thumbnail: true} %>
      <% end %>
      <!--
      <% if resource_class_for_uuid(attrvalue, {referring_object: obj, referring_attr: attr}) %>
        <%= link_to_if_arvados_object(attrvalue, { referring_object: obj, link_text: raw('<span class="glyphicon glyphicon-hand-right"></span>'), referring_attr: attr })  %>
      <% end %>
      -->
<% end %>
