<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

      <nav class="navbar navbar-default breadcrumbs" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a href="/">
              <i class="fa fa-lg fa-fw fa-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="projects-menu">
              Projects
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="min-width: 20em" role="menu">
              <li role="menuitem">
                  <%= link_to(
                        url_for(
                          action: 'choose',
                          controller: 'search',
                          filters: [['uuid', 'is_a', 'arvados#group']].to_json,
                          title: 'Search',
                          action_name: 'Show',
                          action_href: url_for(controller: :actions, action: :show),
                          action_method: 'get',
                          action_data: {selection_param: 'uuid', success: 'redirect-to-created-object'}.to_json),
                        { remote: true, method: 'get', title: "Search" }) do %>
                    <i class="glyphicon fa-fw glyphicon-search"></i> Search all projects ...
                  <% end %>
               </li>
              <% if Rails.configuration.anonymous_user_token and Rails.configuration.enable_public_projects_page %>
                <li role="menuitem"><a href="/projects/public" role="menuitem"><i class="fa fa-fw fa-list"></i> Browse public projects </a>
                </li>
              <% end %>
              <li role="menuitem">
                <%= link_to projects_path(options: {ensure_unique_name: true}), role: 'menu-item', method: :post do %>
                  <i class="fa fa-fw fa-plus"></i> Add a new project
                <% end %>
              </li>
              <li role="presentation" class="divider"></li>
              <%= render partial: "projects_tree_menu", locals: {
                  :project_link_to => Proc.new do |pnode, &block|
                    link_to(project_path(pnode[:object].uuid),
                      data: { 'object-uuid' => pnode[:object].uuid,
                              'name' => 'name' },
                      &block)
                  end,
              } %>
            </ul>
          </li>
          <% if @name_link or @object %>
            <li class="nav-separator">
              <i class="fa fa-lg fa-angle-double-right"></i>
            </li>
            <li>
              <%= link_to project_path(current_user.uuid) do %>
                Home
              <% end %>
            </li>
            <% project_breadcrumbs.each do |p| %>
              <li class="nav-separator">
                <i class="fa fa-lg fa-angle-double-right"></i>
              </li>
              <li>
                <%= link_to(p.name, project_path(p.uuid), data: {object_uuid: p.uuid, name: 'name'}) %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/trash">
              <%= image_tag("trash-icon.png", size: "20x20" ) %> Trash
            </a>
          </li>
        </ul>
      </nav>
