<div class="modal arv-choose modal-with-loading-spinner">
  <div class="modal-dialog" style="width:80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= params[:title] || "Choose #{@objects.first.andand.class_for_display}" %></h4>
      </div>

      <div class="modal-body">
        <% project_filters, chooser_filters = (params[:filters] || []).partition do |attr, op, val|
             attr == "owner_uuid" and op == "="
           end %>
        <div class="input-group">
          <% if params[:by_project].to_s != "false" %>
            <% if project_filters.empty?
                 selected_project_name = 'All projects'
               else
                 val = project_filters.last.last
                 if val == current_user.uuid
                   selected_project_name = "Home"
                 else
                   selected_project_name = Group.find(val).name rescue val
                 end
               end
               %>
            <div class="input-group-btn" data-filterable-target=".modal.arv-choose .selectable-container">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <%= selected_project_name %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to '#', class: 'chooser-show-project' do %>
                    All projects
                  <% end %>
                </li>
                <li class="divider" />
                <%= render partial: "projects_tree_menu", locals: {
                      :project_link_to => Proc.new do |pnode, &block|
                        link_to "#", {
                          class: "chooser-show-project",
                          data: {'project_uuid' => pnode[:object].uuid},
                        }, &block
                      end,
                      :top_button => nil
                    } %>
              </ul>
            </div>
          <% end %>
          <input type="text" value="<%=params[:preconfigured_search_str] || ''%>" class="form-control filterable-control focus-on-display" placeholder="Search" data-filterable-target=".modal.arv-choose .selectable-container"/>
        </div>
        <div style="height: 1em" />

        <% preview_pane = (params[:preview_pane].to_s != "false")
           pane_col_class = preview_pane ? "col-md-6" : "col-md-12" %>
        <div class="row" style="height: 20em">
          <div class="<%= pane_col_class %> arv-filterable-list selectable-container <%= 'multiple' if multiple %>"
               style="height: 100%; overflow-y: scroll"
               data-infinite-scroller="#choose-scroll"
               id="choose-scroll"
               data-infinite-content-params-from-chooser="<%= {filters: chooser_filters}.to_json %>"
               <% if project_filters.any? %>
                 data-infinite-content-params-from-project-dropdown="<%= {filters: project_filters, project_uuid: project_filters.last.last}.to_json %>"
               <% end %>
               data-infinite-content-href="<%= url_for partial: true %>">
          </div>
          <% if preview_pane %>
            <div class="col-md-6 hidden-xs hidden-sm modal-dialog-preview-pane" style="height: 100%; overflow-y: scroll">
            </div>
          <% end %>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-primary" aria-hidden="true" data-enable-if-selection disabled><%= raw(params[:action_name]) || 'Select' %></button>
          <div class="modal-error hide" style="text-align: left; margin-top: 1em;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
