<% content_for :tab_panes do %>

  <% comparable = controller.respond_to? :compare %>

  <ul class="nav nav-tabs" data-tab-counts-url="<%= url_for(action: :tab_counts) rescue '' %>">
    <% pane_list.each_with_index do |pane, i| %>
      <% pane_name = (pane.is_a?(Hash) ? pane[:name] : pane) %>

      <% data_toggle = "tab" %>
      <% tab_tooltip = "" %>

      <% if !current_user and pane_name == "Log"
          if controller.model_class.to_s == 'Job'
            if @object.log and !@object.log.empty?
              logCollection = Collection.find? @object.log
              if !logCollection
                data_toggle = "disabled"
                tab_tooltip = "Log data is not available"
              end
            end
          elsif controller.model_class.to_s == 'PipelineInstance'
            log_uuids = [@object.uuid] + pipeline_jobs(@object).collect{|x|x[:job].andand[:uuid]}.compact
            if stderr_log_history(log_uuids, 1).empty?
              data_toggle = "disabled"
              tab_tooltip = "Log data is not available"
            end
          end
        end
      %>

      <li class="<%= 'active' if i==0 %>" data-toggle="tooltip" data-placement="top" title="<%=tab_tooltip%>">
        <a href="#<%= pane_name %>"
           id="<%= pane_name %>-tab"
           data-toggle="<%= data_toggle %>"
           data-tab-history=true
           data-tab-history-update-url=true
           >
          <%= pane_name.gsub('_', ' ') %> <span id="<%= pane_name %>-count"></span>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% pane_list.each_with_index do |pane, i| %>
      <% pane_name = (pane.is_a?(Hash) ? pane[:name] : pane) %>
      <div id="<%= pane_name %>"
           class="tab-pane fade <%= 'in active pane-loaded' if i==0 %> arv-log-event-listener arv-refresh-on-log-event arv-log-event-subscribe-to-pipeline-job-uuids"
           <% if controller.action_name == "index" %>
             data-object-kind="arvados#<%= ArvadosApiClient.class_kind controller.model_class %>"
           <% else %>
             data-object-uuid="<%= @object.uuid %>"
           <% end %>
           data-pane-content-url="<%= url_for(params.merge(tab_pane: pane_name)) %>"
           style="margin-top:0.5em;"
           >
        <div class="pane-content">
          <% if i == 0 %>
            <%= render_pane pane_name, to_string: true %>
          <% else %>
            <div class="spinner spinner-32px spinner-h-center"></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
