<% content_for :tab_panes do %>

<% comparable = controller.respond_to? :compare %>

<ul class="nav nav-tabs">
  <% pane_list.each_with_index do |pane, i| %>
    <li class="<%= 'active' if i==0 %>"><a href="#<%= pane %>" data-toggle="tab" id="<%= pane %>-tab" data-pane-content-url="<%= url_for(params.merge(tab_pane: pane)) %>"> <%= pane.gsub('_', ' ') %></a></li>
  <% end %>
</ul>
<div class="tab-content">
<% pane_list.each_with_index do |pane, i| %>
  <div id="<%= pane %>"
       class="tab-pane fade <%= 'in active loaded' if i==0 %> arv-log-event-listener"
<% if controller.action_name == "index" %>
       data-object-kind="arvados#<%= ArvadosApiClient.class_kind controller.model_class %>"
<% else %>
       data-object-uuid="<%= @object.uuid %>"
<% end %>
  >

    <div id="<%= pane %>-scroll" style="margin-top:0.5em;">
      <div class="pane-content">
        <% if i == 0 %>
          <%= render_pane pane, to_string: true %>
        <% else %>
          <div class="spinner spinner-32px spinner-h-center"></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<% end %>
