  <% @finished_pipelines.andand.results.each do |p| %>
    <tr class="filterable"
        data-object-uuid="<%= p.uuid %>"
        data-kind="<%= p.kind %>"
        data-object-created-at="<%= p.created_at %>"
      >
      <td>
            <div class="dashboard-panel-info-row">
              <div class="row">
                <div class="col-md-6 text-overflow-ellipsis">
                  <%= link_to_if_arvados_object p, {friendly_name: true, lookup: @finished_pipelines_lookup} %>
                </div>
                <div class="col-md-2">
                  <%= render partial: "pipeline_status_label", locals: {p: p}%>
                </div>
                <div class="col-md-4">
                  <%= render_localized_date(p[:finished_at] || p[:modified_at], "noseconds") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <% if p[:started_at] and p[:finished_at] %>
                    <% pipeline_time = p[:finished_at] - p[:started_at] %>
                    Active for <%= render_runtime(pipeline_time, false) %>
                  <% end %>

                  <span class="pull-right text-overflow-ellipsis" style="max-width: 100%">
                    <% outputs = [] %>
                    <% p.components.each do |k, c| %>
                      <% outputs << c[:output_uuid] if c[:output_uuid] %>
                    <% end %>
                    <% if outputs.size == 0 %>
                      No output.
                    <% elsif outputs.size == 1 %>
                      <i class="fa fa-fw fa-archive"></i> <%= link_to_if_arvados_object outputs[0], friendly_name: true %>
                    <% else %>
                      <a href="#<%= p[:uuid] %>-outputs" data-toggle="collapse">Outputs <span class="caret"></span></a>
                    <% end %>
                  </span>
                </div>
              </div>

              <div class="row collapse" id="<%= p[:uuid] %>-outputs" >
                <div class="col-md-12">
                  <div class="pull-right" style="max-width: 100%">
                    <% outputs.each do |out| %>
                      <div class="text-overflow-ellipsis">
                        <i class="fa fa-fw fa-archive"></i> <%= link_to_if_arvados_object out, friendly_name: true %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
      </td>
    </tr>
  <% end %>
