<% if @objects.empty? %>

<p>
  No <%= controller.model_class.to_s.underscore.pluralize.gsub '_', ' ' %> to display.
</p>

<% else %>

<% attr_blacklist = 'created_at modified_at modified_by_user_uuid modified_by_client_uuid updated_at' %>

<table class="table arv-index">
  <thead>
    <tr>
      <% @objects.first.attributes_for_display.each do |attr, attrvalue| %>
      <% next if attr_blacklist.index attr %>
      <th class="arv-attr-<%= attr %>">
        <%= controller.model_class.attribute_info[attr.to_sym].andand[:column_heading] or attr.sub /_uuid/, '' %>
      </th>
      <% end %>
    </tr>
  </thead>
      
  <tbody>
    <% @objects.each do |object| %>
    <tr>
      <% object.attributes_for_display.each do |attr, attrvalue| %>
      <% next if attr_blacklist.index attr %>
      <td class="arv-object-<%= object.class.to_s %> arv-attr-<%= attr %>">
        <% if attr == 'uuid' %>
        <%= link_to_if_arvados_object object %>
        <% elsif object.attribute_editable? attr %>
        <%= render_editable_attribute object, attr %>
        <% else %>
        <%= link_to_if_arvados_object attrvalue, {referring_attr: attr, referring_object: @object, with_class_name: true} %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<% end %>

<% if controller.model_class.creatable? %>
<%= button_to "Add a new #{controller.model_class.to_s.underscore.gsub '_', ' '}", { action: 'create', return_to: './' }, { class: 'btn btn-primary' } %>
<% end %>
