<li role="presentation" class="dropdown-header">
  My projects
</li>
<li>
  <%= project_link_to.call({object: current_user, depth: 0}) do %>
    <span style="padding-left: 0">Home</span>
  <% end %>
</li>
<% my_tree = my_wanted_projects_tree %>
<% my_tree[0].each do |pnode| %>
  <% next if pnode[:object].class != Group %>
  <li>
    <%= project_link_to.call pnode do %>
      <span style="padding-left: <%= pnode[:depth] %>em"></span><%= pnode[:object].name %>
    <% end %>
  </li>
<% end %>
<% if my_tree[1] and my_tree[1] > my_tree[0].size %>
<li role="presentation" class="dropdown-header">
  Showing <%= my_tree[0].size %> of your projects out of <%= my_tree[1] %> total projects.
</li>
<% end %>
