<%
  api_version = arvados_api_client.discovery[:source_version]
  generated_at = arvados_api_client.discovery[:generatedAt]
  wb_version = Rails.configuration.source_version
  wb_version += Rails.configuration.local_modified if Rails.configuration.local_modified
  arvados_base = Rails.configuration.arvados_v1_base
  support_email = Rails.configuration.support_email_address

  additional_info = {}
  additional_info['Current location'] = @popup_params[:current_location]
  additional_info['User UUID'] = current_user.uuid if current_user
  additional_info['User email'] = current_user.email if current_user

  additional_info_str = additional_info.map {|k,v| "#{k}=#{v}"}.join("\n")

  additional_info['api_version'] = api_version
  additional_info['generated_at'] = generated_at
  additional_info['workbench_version'] = wb_version
  additional_info['arvados_base'] = arvados_base
  additional_info['support_email'] = support_email
  additional_info['error_message'] = @popup_params[:error_message] if @popup_params[:error_message]
  additional_info['api_error_request_url'] = @popup_params[:api_error_request_url] if @popup_params[:api_error_request_url]
  additional_info['api_error_response'] = @popup_params[:api_error_response] if @popup_params[:api_error_response]
%>

<div class="modal-dialog modal-with-loading-spinner">
  <div class="modal-content">

    <%= form_tag report_issue_path, {name: 'report-issue-form', method: 'post',
        class: 'form-horizontal', remote: true} do %>

      <%
        title = 'Version / debugging info'
        title = 'Report a problem' if @popup_params[:popup_type] == 'report'
      %>

      <div class="modal-header">
        <button type="button" class="close" onClick="reset_form()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div>
          <div class="col-sm-8"> <h4 class="modal-title"><%=title%></h4> </div>
          <div class="spinner spinner-32px spinner-h-center col-sm-1" hidden="true"></div>
        </div>
        <br/>
      </div>

      <div class="modal-body" style="overflow-y:scroll">
        <div class="form-group">
          <label for="support_version" class="col-sm-4 control-label"> Support email </label>
          <div class="col-sm-8">
            <p class="form-control-static" name="support_version"><a href="mailto:<%=support_email%>?subject=Workbench problem report&body=Problem while viewing page <%=@popup_params[:current_location]%>"><%=support_email%></a></p>
          </div>
        </div>

        <div class="form-group">
          <label for="server_version" class="col-sm-4 control-label"> Server version </label>
          <div class="col-sm-8">
            <p class="form-control-static" name="server_version"><%=api_version%></p>
          </div>
        </div>

        <div class="form-group">
          <label for="generated_at" class="col-sm-4 control-label"> Server restarted at </label>
          <div class="col-sm-8">
            <p class="form-control-static" name="generated_at"><%=generated_at%></p>
          </div>
        </div>

        <div class="form-group">
          <label for="wb_version" class="col-sm-4 control-label"> Workbench version </label>
          <div class="col-sm-8">
            <p class="form-control-static" name="wb_version"><%=wb_version%></p>
          </div>
        </div>

        <div class="form-group">
          <label for="arvados_base" class="col-sm-4 control-label"> Arvados base </label>
          <div class="col-sm-8">
            <p class="form-control-static" name="arvados_base"><%=arvados_base%></p>
          </div>
        </div>

        <% if @popup_params[:popup_type] == 'report' %>
          <div class="form-group">
            <label for="report_text_label" class="col-sm-4 control-label"> Found a problem? Tell us what happened </label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="1" id="report_issue_text" name="report_issue_text" type="text"/>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <label for="additional_info" class="col-sm-4 control-label"> Additional info </label>
          <div class="col-sm-8">
            <textarea readonly class="form-control" rows="1" name="additional_info" type="text"><%=additional_info_str%></textarea>
          </div>
          <input type="hidden" name="report_additional_info" value="<%=additional_info.to_json%>">
        </div>
      </div>

      <div class="modal-footer">
        <% if @popup_params[:popup_type] == 'report' %>
          <button type="submit" id="report-issue-submit" class="btn btn-primary report-issue-submit" autofocus>Report issue</button>
          <button class="btn btn-default report-issue-cancel" id="report-issue-cancel" onClick="reset_form()" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <% else %>
          <button class="btn btn-default" onClick="reset_form()" data-dismiss="modal" aria-hidden="true">Close</button>
        <% end %>
      </div>
    <% end #form %>
  </div>
</div>
