<% if objects.empty? %>
<br/>
<p style="text-align: center">
  No <%= controller.controller_name.humanize.downcase %> to display.
</p>

<% else %>

<% attr_blacklist = ' created_at modified_at modified_by_user_uuid modified_by_client_uuid updated_at owner_uuid group_class properties' %>

<%= render partial: "paging", locals: {results: objects, object: @object} %>

<%= form_tag do |f| %>

<table class="table table-condensed arv-index">
  <thead>
    <tr>
      <% if objects.first and objects.first.class.goes_in_projects? %>
        <th></th>
      <% end %>
      <th></th>
      <% objects.first.attributes_for_display.each do |attr, attrvalue| %>
      <% next if attr_blacklist.index(" "+attr) %>
      <th class="arv-attr-<%= attr %>">
        <%= controller.model_class.attribute_info[attr.to_sym].andand[:column_heading] or attr.sub /_uuid/, '' %>
      </th>
      <% end %>
      <th>
        <!-- a column for delete buttons -->
      </th>
    </tr>
  </thead>

  <tbody>
    <% objects.each do |object| %>
    <tr data-object-uuid="<%= object.uuid %>">
      <% if objects.first.class.goes_in_projects? %>
        <td>
          <%= render :partial => "selection_checkbox", :locals => {:object => object} %>
        </td>
      <% end %>
      <td>
        <% if (current_user.is_admin and current_user.uuid != object.uuid) or !current_user.is_admin %>
          <%= render :partial => "show_object_button", :locals => {object: object, size: 'xs'} %>
        <% end %>
      </td>

      <% object.attributes_for_display.each do |attr, attrvalue| %>
      <% next if attr_blacklist.index(" "+attr) %>
      <td class="arv-object-<%= object.class.to_s %> arv-attr-<%= attr %>">
        <% if attr == 'uuid' %>
          <span class="arvados-uuid"><%= attrvalue %></span>
        <% else %>
          <%= link_to_if_arvados_object attrvalue, {referring_attr: attr, referring_object: object, with_class_name: true, friendly_name: true} %>
        <% end %>
      </td>
      <% end %>
      <td>
        <%= render partial: 'delete_object_button', locals: {object:object} %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<% end %>

<%= render partial: "paging", locals: {results: objects, object: @object} %>

<% end %>
