<% if @objects.empty? %>
<br/>
<p style="text-align: center">
  No <%= controller.model_class_for_display.pluralize.underscore.gsub '_', ' ' %> to display.
</p>

<% else %>

<% attr_blacklist = ' created_at modified_at modified_by_user_uuid modified_by_client_uuid updated_at' %>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>

<%= form_tag do |f| %>

<table class="table table-condensed arv-index">
  <thead>
    <tr>
      <th></th>
      <% @objects.first.attributes_for_display.each do |attr, attrvalue| %>
      <% next if attr_blacklist.index(" "+attr) %>
      <th class="arv-attr-<%= attr %>">
        <%= controller.model_class.attribute_info[attr.to_sym].andand[:column_heading] or attr.sub /_uuid/, '' %>
      </th>
      <% end %>
      <th>
        <!-- a column for delete buttons -->
      </th>
    </tr>
  </thead>
      
  <tbody>
    <% @objects.each do |object| %>
    <tr data-object-uuid="<%= object.uuid %>">
      <td>
        <%= render :partial => "selection_checkbox", :locals => {:object => object} %>
      </td>

      <% object.attributes_for_display.each do |attr, attrvalue| %>
      <% next if attr_blacklist.index(" "+attr) %>
      <td class="arv-object-<%= object.class.to_s %> arv-attr-<%= attr %>">
        <% if attr == 'uuid' %>
        <%= link_to_if_arvados_object object %>
        <%= link_to_if_arvados_object(object, { link_text: raw('<i class="icon-hand-right"></i>') }) %>
        <% else %>
        <% if object.attribute_editable? attr %>
        <%= render_editable_attribute object, attr %>
        <% else %>
        <%= resource_class_for_uuid(attrvalue, referring_attr: attr, referring_object: @object).to_s %>
        <%= attrvalue %>
        <% end %>
        <%= link_to_if_arvados_object(attrvalue, { referring_object: @object, link_text: raw('<i class="icon-hand-right"></i>') }) if resource_class_for_uuid(attrvalue, {referring_object: @object}) %>
        <% end %>
      </td>
      <% end %>
      <td>
        <%= render partial: 'delete_object_button', locals: {object:object} %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<% end %>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>

<% end %>
