<% incoming = Link.where(tail_uuid: @object.uuid) %>
<% if incoming.items_available > 0 %>
<h3>Incoming Links</h3>
<table class="table topalign">
  <thead>
  </thead>
  <tbody>
    <% incoming.each do |link| %>
      <tr>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "uuid", attrvalue: link.uuid } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "link_class", attrvalue: link.link_class } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "name", attrvalue: link.name } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "head_uuid", attrvalue: link.head_uuid } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "properties", attrvalue: link.properties } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% outgoing = Link.where(head_uuid: @object.uuid) %>
<% if outgoing.items_available > 0 %>
<h3>Outgoing Links</h3>
<table class="table topalign">
  <thead>
  </thead>
  <tbody>
    <% outgoing.each do |link| %>
      <tr>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "uuid", attrvalue: link.uuid } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "link_class", attrvalue: link.link_class } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "name", attrvalue: link.name } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "tail_uuid", attrvalue: link.tail_uuid } %></td>
        <td><%= render partial: 'application/arvados_attr_value', locals: { obj: link, attr: "properties", attrvalue: link.properties } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

