<div>
  <script>
    $(window).resize(function () { provenance_sizing_fixup("<%= divId %>") } );
  </script>
  <div style="text-align: right">
    <a href="#"><span class="icon-zoom-out" onclick="graph_zoom('<%= divId %>', '<%= svgId %>', .9)"></span></a>
    <a href="#"><span class="icon-zoom-in" onclick="graph_zoom('<%= divId %>', '<%= svgId %>', 1./.9)"></span></a>
  </div>

  <div id="<%= divId %>">
    <%= raw(svg) %>
  </div>
</div>
