<% content_for :page_title do %>
  <%= (@object.respond_to?(:properties) and !@object.properties.nil? ? @object.properties[:page_title] : nil) ||
      @name_link.andand.name ||
      @object.friendly_link_name %>
<% end %>

<% content_for :content_top do %>
  <% if !['Group','User', 'Collection'].include? @object.class.to_s # projects and collections handle it themselves %>
    <%= render partial: 'name_and_description' %>
  <% end %>
<% end %>

<% if @object.class.goes_in_projects? && @object.uuid != current_user.uuid # Not the "Home" project %>
  <% content_for :tab_line_buttons do %>
    <% if @object.class.copies_to_projects? %>
      <%= link_to(
          choose_projects_path(
           title: 'Copy to project...',
           action_name: 'Copy',
           action_href: actions_path,
           action_method: 'post',
           action_data: {
             copy_selections_into_project: true,
             selection: @name_link.andand.uuid || @object.uuid,
             selection_param: 'uuid',
             success: 'redirect-to-created-object'
           }.to_json),
          { class: "btn btn-sm btn-primary", remote: true, method: 'get' }) do %>
        <i class="fa fa-fw fa-copy"></i> Copy to project...
      <% end %>
    <% end %>
    <% if @object.owner_uuid == current_user.uuid or (Group.find(@object.owner_uuid).writable_by.include?(current_user.uuid) rescue nil) %>
      <%= link_to(
          choose_projects_path(
           title: 'Move to project...',
           action_name: 'Move',
           action_href: actions_path,
           action_method: 'post',
           action_data: {
             move_selections_into_project: true,
             selection: @name_link.andand.uuid || @object.uuid,
             selection_param: 'uuid',
             success: 'redirect-to-created-object'
           }.to_json),
          { class: "btn btn-sm btn-primary", remote: true, method: 'get' }) do %>
        <i class="fa fa-fw fa-truck"></i> Move to project...
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%
  flash_msg = ''
  flash_msg_is_error = false
  flash.each do |msg|
    flash_msg_is_error ||= (msg[0]=='error')
    flash_msg += ('<p class="contain-align-left">' + msg[1] + '</p>')
  end
  if flash_msg != ''
%>
<div class="modal-footer-status alert <%= flash_msg_is_error ? 'alert-danger' : 'alert-warning' %>"><%=flash_msg.html_safe%></div>
<% end %>
