<h2>Oh... fiddlesticks.</h2>

<p>An error occurred when Workbench sent a request to the Arvados API server.  Try reloading this page.  If the problem is temporary, your request might go through next time.

<% if not api_error %>
</p>
<% else %>
If that doesn't work, the information below can help system administrators track down the problem.
</p>

<dl>
  <dt>API request URL</dt>
  <dd><code><%= api_error.request_url %></code></dd>

  <% if api_error.api_response.empty? %>
  <dt>Invalid API response</dt>
  <dd><%= api_error.api_response_s %></dd>
  <% else %>
  <dt>API response</dt>
  <dd><pre><%= Oj.dump(api_error.api_response, indent: 2) %></pre></dd>
  <% end %>
</dl>
<% end %>

<p>
<br/><strong>Would you like to report this problem?</strong></br>
<% if api_error %>
  <%= link_to report_issue_popup_path(popup_type: 'report', current_location: request.fullpath, action_method: 'post', api_error_request_url: api_error.request_url, api_error_response: api_error.api_response_s),
        {class: 'btn btn-primary report-issue-modal-window', 'data-toggle' =>  "modal", 'data-target' => '#report-issue-modal-window', :remote => true, return_to: request.url} do %>
        <i class="fa fa-fw fa-support"></i> Report problem
  <% end %>
<% else %>
  <%= link_to report_issue_popup_path(popup_type: 'report', current_location: request.fullpath, action_method: 'post'),
        {class: 'btn btn-primary report-issue-modal-window', 'data-toggle' =>  "modal", 'data-target' => '#report-issue-modal-window', :remote => true, return_to: request.url} do %>
        <i class="fa fa-fw fa-support"></i> Report problem
  <% end %>
<% end %>
</p>
