<% content_for :page_title do %>
<%= (@object.respond_to?(:properties) ? @object.properties[:page_title] : nil) ||
    @object.friendly_link_name %>
<% end %>

<% if @object.respond_to? :properties %>
<% if @object.properties[:page_content] %>
<% content_for :page_content do %>
<h1>
<%= render_content_from_database(@object.properties[:page_title] || @object.uuid) %>
</h1>

<% if @object.properties[:page_subtitle] %>
<h4>
<%= render_content_from_database @object.properties[:page_subtitle] %>
</h4>
<% end %>

<%= render_content_from_database @object.properties[:page_content] %>
<% end %>
<% end %>
<% end %>

<% pane_list = controller.show_pane_list rescue %w(attributes) %>

<div class="tabbable">
<ul class="nav nav-tabs">
  <% pane_list.each_with_index do |pane, i| %>
  <li class="<%= 'active' if i==0 %>"><a href="#<%= pane %>" data-toggle="tab"><%= pane.capitalize.gsub '_', ' ' %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% pane_list.each_with_index do |pane, i| %>
  <div id="<%= pane %>" class="tab-pane fade in <%= 'active' if i==0 %>">
    <%= render partial: 'show_' + pane %>
  </div>
  <% end %>
</div>
