<% content_for :page_title do %>
<%= (@object.respond_to?(:properties) ? @object.properties[:page_title] : nil) ||
    @object.friendly_link_name %>
<% end %>

<% if @object.respond_to? :properties %>
<% if @object.properties[:page_content] %>
<% content_for :page_content do %>
<h1>
<%= render_content_from_database(@object.properties[:page_title] || @object.uuid) %>
</h1>

<% if @object.properties[:page_subtitle] %>
<h4>
<%= render_content_from_database @object.properties[:page_subtitle] %>
</h4>
<% end %>

<%= render_content_from_database @object.properties[:page_content] %>
<% end %>
<% end %>
<% end %>


<%= render :partial => 'application/arvados_object' %>
