<!DOCTYPE html>
<html ng-app="Workbench">
<head>
  <meta charset="utf-8">
  <title>
    <% if content_for? :page_title %>
    <%= yield :page_title %> / <%= Rails.configuration.site_name %>
    <% else %>
    <%= Rails.configuration.site_name %>
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta name="description" content="">
  <meta name="author" content="">
  <% if current_user and $arvados_api_client.discovery[:websocketUrl] %>
  <meta name="arv-websocket-url" content="<%=$arvados_api_client.discovery[:websocketUrl]%>?api_token=<%=Thread.current[:arvados_api_token]%>">
  <% end %>
  <meta name="robots" content="NOINDEX, NOFOLLOW">

  <%# Add open graph meta tags %>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:site_name" content="<%= Rails.configuration.site_name %>" />
  <% if @object %>
    <% if (@object.respond_to?(:name) rescue nil) and @object.name.present? %>
      <meta property="og:title" content="<%= @object.name%>" />
    <% end %>
    <% if (@object.respond_to?(:description) rescue nil) and @object.description.present? %>
      <meta property="og:description" content="<%= @object.description%>" />
    <% end %>
  <% end %>
  <%# Done adding open graph meta tags %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= javascript_tag do %>
    angular.module('Arvados').value('arvadosApiToken', '<%=Thread.current[:arvados_api_token]%>');
    angular.module('Arvados').value('arvadosDiscoveryUri', '<%= Rails.configuration.arvados_v1_base.sub '/arvados/v1', '/discovery/v1/apis/arvados/v1/rest' %>');
  <%= yield :js %>
  <% end %>
  <style>
    <%= yield :css %>
    body {
    min-height: 100%;
    height: 100%;
    }

    @media (max-width: 979px) { body { padding-top: 0; } }

    @media (max-width: 767px) {
      .breadcrumbs {
        padding-top: 0;
      }
    }
  </style>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <%= piwik_tracking_tag if (PiwikAnalytics.configuration.url != 'localhost' rescue false) %>
</head>
<body>
<%= render template: 'layouts/body' %>
<%= javascript_tag do %>
<%= yield :footer_js %>
<% end %>
</body>
</html>
