<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <% if content_for? :page_title %>
    <%= yield :page_title %>
    <% else %>
    <%= Rails.configuration.site_name %>
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= javascript_tag do %>
  <%= yield :js %>
  <% end %>
  <style>
    body  {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    @media (max-width: 979px) { body { padding-top: 0; } }
  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" style="margin-left: 1px" href="/"><%= Rails.configuration.site_name rescue Rails.application.class.parent_name %></a>

      <ul class="nav pull-right">
	<% if current_user -%>
          <li><span class="badge badge-info" style="margin: 10px auto 10px; padding-top: 4px; padding-bottom: 4px"><%= current_user.email %></span></li>
          <li><a href="<%= logout_path %>">Log out</a></li>
	<% else -%>
          <li><a href="<%= $arvados_api_client.arvados_login_url(return_to: root_url) %>">Log in</a></li>
	<% end -%>
      </ul>

      <% if current_user.andand.is_active %>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Access <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Keys', authorized_keys_path %></li>
              <li><%= link_to 'VMs', virtual_machines_path %></li>
              <li><%= link_to 'Repositories', repositories_path %></li>
              <li><%= link_to 'API Tokens', api_client_authorizations_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Compute <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Jobs', jobs_path %></li>
              <li><%= link_to 'Pipeline instances', pipeline_instances_path %></li>
              <li><%= link_to 'Pipeline templates', pipeline_templates_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Data <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Collections', collections_path %></li>
              <li><%= link_to 'Humans', humans_path %></li>
              <li><%= link_to 'Traits', traits_path %></li>
            </ul>
          </li>
          <% if current_user.is_admin %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Users', users_path %></li>
                <li><%= link_to 'Groups', groups_path %></li>
                <li><%= link_to 'Nodes', nodes_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Docs <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Tutorials and User guide', "http://doc.arvados.org/user" %></li>
              <li><%= link_to 'API Reference', "http://doc.arvados.org/api" %></li>
              <li><%= link_to 'Admin guide', "http://doc.arvados.org/admin" %></li>
              <li><%= link_to 'Install guide', "http://doc.arvados.org/install" %></li>
            </ul>
          </li>

	</ul>
      <% end %>
    </div>
  </div>

  <div class="container">

    <%= yield %>

  </div> <!-- /container -->

  <%= piwik_tracking_tag %>
</body>
</html>
