<%= render partial: "paging", locals: {results: @objects, object: @object} %>

<table class="table table-condensed arv-index">
  <colgroup>
    <col width="8%" />
    <col width="10%" />
    <col width="22%" />
    <col width="45%" />
    <col width="15%" />
  </colgroup>
  <thead>
    <tr class="contain-align-left">
      <th>
      </th><th>
      </th><th>
        name
      </th><th>
        description/components
      </th><th>
        owner
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |ob| ob[:created_at] }.reverse.each do |ob| %>

    <tr>
      <td>
        <%= form_tag '/pipeline_instances' do |f| %>
          <%= hidden_field :pipeline_instance, :pipeline_template_uuid, :value => ob.uuid %>
          <%= button_tag nil, {class: "btn btn-default btn-xs", title: "Run #{ob.name}"} do %>
            Run <i class="fa fa-fw fa-play"></i>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= render :partial => "show_object_button", :locals => {object: ob, size: 'xs'} %>
      </td><td>
        <%= render_editable_attribute ob, 'name' %>
      </td><td>
        <% if ob.respond_to?(:description) and ob.description %>
          <%= ob.description %>
          <br />
        <% end %>
        <% ob.components.collect { |k,v| k.to_s }.each do |k| %>
          <span class="label label-default"><%= k %></span>
        <% end %>
      </td><td>
        <%= link_to_if_arvados_object ob.owner_uuid, friendly_name: true %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>
