<% content_for :css do %>
  .playbutton {
  color: white;
  background: rgb(91, 192, 222);
  border: 0px;
  border-radius: 3px;
  padding: 0px 3px;  
  }
  .playbutton:hover {
  background: rgb(57, 179, 215);
  }
<% end %>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>

<table class="table table-hover">
  <thead>
    <tr class="contain-align-left">
      <th>
      </th><th>
	id
      </th><th>
	name
      </th><th>
	owner
      </th><th>
	components
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |ob| ob[:created_at] }.reverse.each do |ob| %>

    <tr>
      <td>
        <%= form_tag '/pipeline_instances' do |f| %>
          <%= hidden_field :pipeline_instance, :pipeline_template_uuid, :value => ob.uuid %>
          <%= button_tag nil, {class: 'playbutton', title: "Run #{ob.name}"} do %>
            <span class="glyphicon glyphicon-play"></span>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to_if_arvados_object ob %>
      </td><td>
        <%= render_editable_attribute ob, 'name' %>
      </td><td>
        <%= link_to_if_arvados_object ob.owner_uuid, friendly_name: true %>
      </td><td>
        <%= ob.components.collect { |k,v| k.to_s }.join(", ") %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>
