<%= render partial: "paging", locals: {results: @objects, object: @object} %>

<table class="table table-condensed arv-index">
  <colgroup>
    <col width="8%" />
    <col width="10%" />
    <col width="22%" />
    <col width="45%" />
    <col width="15%" />
  </colgroup>
  <thead>
    <tr class="contain-align-left">
      <th>
      </th><th>
      </th><th>
        name
      </th><th>
        description/components
      </th><th>
        owner
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |ob| ob[:created_at] }.reverse.each do |ob| %>

    <tr>
      <td>
        <%= button_to(choose_projects_path(id: "run-pipeline-button",
                                     title: 'Choose project',
                                     editable: true,
                                     action_name: 'Choose',
                                     action_href: pipeline_instances_path,
                                     action_method: 'post',
                                     action_data: {selection_param: 'pipeline_instance[owner_uuid]',
                                                   'pipeline_instance[pipeline_template_uuid]' => ob.uuid,
                                                   'pipeline_instance[description]' => "Created using the pipeline template *#{ob.name}* at #{Time.now.localtime}",
                                                   'success' => 'redirect-to-created-object'
                                                  }.to_json),
                { class: "btn btn-default btn-xs", title: "Run #{ob.name}", remote: true, method: 'get' }
            ) do %>
               <i class="fa fa-fw fa-play"></i> Run
              <% end %>
      </td>
      <td>
        <%= render :partial => "show_object_button", :locals => {object: ob, size: 'xs'} %>
      </td><td>
        <%= render_editable_attribute ob, 'name' %>
      </td><td>
        <% if ob.respond_to?(:description) and ob.description %>
          <%= ob.description %>
          <br />
        <% end %>
        <% ob.components.collect { |k,v| k.to_s }.each do |k| %>
          <span class="label label-default"><%= k %></span>
        <% end %>
      </td><td>
        <%= link_to_if_arvados_object ob.owner_uuid, friendly_name: true %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<%= render partial: "paging", locals: {results: @objects, object: @object} %>
