<% content_for :breadcrumbs do raw '<!-- -->' end %>

<% n_files = unsigned_user_agreements.collect(&:files).flatten(1).count %>
<% content_for :page_title do %>
<% if n_files == 1 %>
<%= unsigned_user_agreements.first.files.first[1].sub(/\.[a-z]{3,4}$/,'') %>
<% else %>
User agreements
<% end %>
<% end %>

<%= form_for(unsigned_user_agreements.first, {url: {action: 'sign', controller: 'user_agreements'}, method: 'post'}) do |f| %>
<%= hidden_field_tag :return_to, request.url %>
<div id="open_user_agreement">
  <div class="alert alert-info">
    <strong>Please check <%= n_files > 1 ? 'each' : 'the' %> box below</strong> to indicate that you have read and accepted the user agreement<%= 's' if n_files > 1 %>.
  </div>
  <% if n_files == 1 and (Rails.configuration.show_user_agreement_inline rescue false) %>
  <% ua = unsigned_user_agreements.first; file = ua.files.first %>
  <object data="<%= url_for(controller: 'collections', action: 'show_file', uuid: ua.uuid, file: "#{file[0]}/#{file[1]}") %>" type="<%= Rack::Mime::MIME_TYPES[file[1].match(/\.\w+$/)[0]] rescue '' %>" width="100%" height="400px">
  </object>
  <% end %>
  <div>
    <% unsigned_user_agreements.each do |ua| %>
    <% ua.files.each do |file| %>
    <div class="checkbox">
      <%= f.label 'checked[]' do %>
      <%= check_box_tag 'checked[]', "#{ua.uuid}/#{file[0]}/#{file[1]}", false %>
      Accept <%= file[1].sub(/\.[a-z]{3,4}$/,'') %>
      <%= link_to 'View agreement', {controller: 'collections', action: 'show_file', uuid: ua.uuid, file: "#{file[0]}/#{file[1]}"}, {target: '_blank', class: 'btn btn-xs btn-info'} %>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
  <div style="height: 1em"></div>
  <div>
    <%= f.submit 'Continue', {class: 'btn btn-primary'} %>
  </div>
</div>
<% end %>
