<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% @objects.each do |obj| %>
  <tr data-object-uuid="<%= obj.uuid %>" data-kind="<%= obj.kind %>" >
    <td>
      <% if obj.editable? and obj.is_trashed %>
        <%= check_box_tag 'uuids[]', obj.uuid, false, :class => 'persistent-selection', style: 'cursor: pointer;' %>
      <% end %>
    </td>
    <td>
      <%= if !obj.name.blank? then obj.name else obj.uuid end %>
    </td>
    <% if obj.is_trashed %>
      <td>
        <%= link_to_if_arvados_object @owners[obj.owner_uuid], friendly_name: true %>
      </td>

      <td>
        <% if obj.trash_at %>
          <%= render_localized_date(obj.trash_at)  %>
        <% end %>
        <br />
        <% if obj.delete_at %>
          <%= render_localized_date(obj.delete_at) %>
        <% end %>
      </td>
    <% else %>
      <td colspan="2" class="trash-project-msg">
        <%= link_to_if_arvados_object @owners[obj.owner_uuid], friendly_name: true %>
        <br>
        This item is contained within a trashed project.
      </td>
    <% end %>
    <td>
      <%= obj.uuid %>
      <% if defined? obj.portable_data_hash %>
        <br /><%= obj.portable_data_hash %>
      <% end %>
    </td>
    <td>
      <%= render partial: 'untrash_item', locals: {object:obj} %>
    </td>
  </tr>

<% end %>
