<% @objects.each do |obj| %>
    <tr data-object-uuid="<%= obj.uuid %>" data-kind="<%= obj.kind %>" >
      <td>
        <% if obj.editable? %>
          <%= check_box_tag 'uuids[]', obj.uuid, false, :class => 'persistent-selection' %>
        <% end %>
      </td>
      <td>
        <%= if !obj.name.blank? then obj.name else obj.uuid end %>
      <td>
        <%= render_localized_date(obj.created_at) if obj.created_at %>
      <td>
        <%= render_localized_date(obj.trash_at) if obj.trash_at %>
      </td>
      <td>
        <%= link_to_if_arvados_object obj.owner_uuid, friendly_name: true %>
      </td>
      <td>
        <% for i in (0..[2, obj.files.length-1].min) %>
          <% file = obj.files[i] %>
          <% file_path = "#{file[0]}/#{file[1]}" %>
          <%= file_path %><br />
        <% end %>
        <% if obj.files.length > 3 %>
          <%= "(#{obj.files.length-3} more files)" %>
        <% end %>
      </td>
      <td>
        <%= render partial: 'untrash_item', locals: {object:obj} %>
      </td>
    </tr>
<% end %>
