<% @objects.sort_by { |obj| obj.created_at }.reverse.each do |obj| %>
    <tr data-object-uuid="<%= obj.uuid %>" data-kind="<%= obj.kind %>" >
      <td>
        <% if obj.editable? %>
          <%= check_box_tag 'uuids[]', obj.uuid, false, :class => 'persistent-selection' %>
        <% end %>
      </td>
      <td>
        <%= if !obj.name.blank? then obj.name else obj.uuid end %>
      <td>
        <%= obj.created_at.to_s if obj.created_at %>
      <td>
        <%= obj.trash_at.to_s if obj.trash_at %>
      </td>
      <td>
        <% for i in (0..[2, obj.files.length-1].min) %>
          <% file = obj.files[i] %>
          <% file_path = "#{file[0]}/#{file[1]}" %>
          <%= file_path %><br />
        <% end %>
        <% if obj.files.length > 3 %>
          &vellip;
        <% end %>
      </td>
      <td>
        <%= render partial: 'untrash_item', locals: {object:obj} %>
      </td>
    </tr>
<% end %>
