<table class="table topalign">
  <thead>
  </thead>
  <tbody>
    <% %w(summary created_at modified_at info).each do |attr| %>
    <% attrvalue = @object.send attr %>
    <% if attrvalue.is_a? Hash then attrvalue.each do |infokey, infocontent| %>
    <tr>
      <td><%= infokey %></td>
      <td>
        <tt>
          <% if infocontent.is_a? Array then infocontent.each do |message| %>
          <%= message %><br />
          <% end; elsif infocontent.is_a? String %>
          <%= infocontent %>
          <% else %>
          <%= infocontent.inspect %>
          <% end %>
        </tt>
      </td>
    </tr>
    <% end %>
    <% elsif attrvalue.is_a? String or attrvalue.respond_to? :to_s %>
    <tr>
      <td><%= attr %></td>
      <td><%= attrvalue %></td>
    </tr>
    <% end; end %>
  </tbody>
</table>
