---
layout: default
navsection: userguide
title: "Checking your environment"
...

First, log into an Arvados VM instance (instructions for "Unix":{{site.baseurl}}/user/getting_started/ssh-access-unix.html#login or "Windows":{{site.baseurl}}/user/getting_started/ssh-access-windows.html#login) or install the Arvados "Command line SDK":{{site.baseurl}}/sdk/cli/install.html and "Python SDK":{{site.baseurl}}/sdk/python/sdk-python.html on your workstation.

Check that you are able to access the Arvados API server using @arv user current@.  If it is able to access the API server, it will print out information about your account:

<notextile>
<pre><code>$ <span class="userinput">arv user current</span>
{
 "href":"https://qr1hi.arvadosapi.com/arvados/v1/users/qr1hi-xioed-9z2p3pn12yqdaem",
 "kind":"arvados#user",
 "etag":"8u0xwb9f3otb2xx9hto4wyo03",
 "uuid":"qr1hi-tpzed-92d3kxnimy3d4e8",
 "owner_uuid":"qr1hi-tpqed-23iddeohxta2r59",
 "created_at":"2013-12-02T17:05:47Z",
 "modified_by_client_uuid":"qr1hi-xxfg8-owxa2oa2s33jyej",
 "modified_by_user_uuid":"qr1hi-tpqed-23iddeohxta2r59",
 "modified_at":"2013-12-02T17:07:08Z",
 "updated_at":"2013-12-05T19:51:08Z",
 "email":"you@example.com",
 "full_name":"Example User",
 "first_name":"Example",
 "last_name":"User",
 "identity_url":"https://www.google.com/accounts/o8/id?id=AItOawnhlZr-pQ_Ic2f2W22XaO02oL3avJ322k1",
 "is_active": true,
 "is_admin": false,
 "prefs":{}
}
</code></pre>
</notextile>

However, if you receive the following message:

bc. ARVADOS_API_HOST and ARVADOS_API_TOKEN need to be defined as environment variables

follow the instructions for "getting an API token,":{{site.baseurl}}/user/reference/api-tokens.html and try @arv user current@ again.
