<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= Rails.configuration.site_name rescue Rails.application.class.parent_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= javascript_tag do %>
  <%= yield :js %>
  <% end %>
  <style>
    body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><%= Rails.configuration.site_name rescue Rails.application.class.parent_name %></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
	    <% [
	       [true, 'FactoryJobs', factory_jobs_path],
	       [true, 'Data', collections_path]
	       ].each do |admin_only, name, path| %>
	    <% if !admin_only or (current_user and current_user.is_admin) %>
            <li<%= raw ' class="active"' if request.fullpath.index(path) %>><a href="<%= path %>"><%= name %></a></li>
	    <% end %>
	    <% end %>
	  </ul>
	  <ul class="nav pull-right">
      <% if current_user -%>
            <li><a href="<%= logout_path %>">Log out</a></li>
      <% else -%>
            <li><a href="<%= root_path %>">Log in</a></li>
      <% end -%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <%= yield %>

  </div> <!-- /container -->

</body>
</html>
