<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% unless page.title == "Arvados | Documentation" %} Arvados | Documentation | {% endunless %}{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/nav-list.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/badges.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/code.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/carousel-override.css" rel="stylesheet">
    <style>
      html {
      height:100%;
      }
      body {
      padding-top: 61px;
      height: 90%; /* If calc() is not supported */
      height: calc(100% - 46px); /* Sets the body full height minus the padding for the menu bar */
      }
      @media (max-width: 979px) {
      div.frontpagehero {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      }
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .section-block {
      background: #eeeeee;
      padding: 1em;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      margin: 0 2em;
      }
      .row-fluid :first-child .section-block {
      margin-left: 0;
      }
      .row-fluid :last-child .section-block {
      margin-right: 0;
      }
      .rarr {
      font-size: 1.5em;
      }
      .darr {
      font-size: 4em;
      text-align: center;
      margin-bottom: 1em;
      }
      :target {
      padding-top: 61px;
      margin-top: -61px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->
  </head>
  <body class="nopad">
    {% include 'navbar_top' %}

    {% if page.navsection == 'top' or page.no_nav_left %}
    {{ content }}
    {% else %}

    <div class="container-fluid">
      <div class="row">
        {% include 'navbar_left' %}
        <div class="col-sm-9">
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include 'webring' %}
        </div>
      </div>

      <div style="height: 2em"></div>

    </div>
    {% endif %}
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40055979-1', 'arvados.org');
  ga('send', 'pageview');

    </script>

{% if page.no_nav_left %}
{% else %}
<p style="text-align: center"><small>
The content of this documentation is licensed under the
<a href="{{ site.baseurl }}/user/copying/by-sa-3.0.html">Creative
  Commons Attribution-Share Alike 3.0 United States</a> licence.<br>
Code samples in this documentation are licensed under the
<a href="{{ site.baseurl }}/user/copying/LICENSE-2.0.html">Apache License, Version 2.0.</a></small>
</p>
{% endif %}


  </body>
</html>
